.page-landing {
  background: white;

  .description {
    overflow: auto;
    background: white;
    padding: 8px 16px 0;

    img {
      display: inline-block;
      width: 20%;
      float: left;
    }

    span {
      width: 80%;
      display: block;
      float: left;
      font-size: 15px;
      color: #444;
      padding: 16px 8px 16px 0;
    }
  }

  .action {
    background: #25a6d9;
    padding: 8px 40px 8px 8px;
    position: relative;
    border-radius: 4px;

    header {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 4px;
      color: white;
    }

    .action-description {
      font-size: 13px;
      color: white;
    }

    &.done {
      background: #25D975;
    }

    &.in-progress {
      background: #F1C400;
    }

    span.fa {
      color: white;
    }

    &:before {
      color: white;
      position: absolute;
      right: 16px;
      top: 50%;
      line-height: 28px;
      height: 28px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      font-size: 28px;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      content: "\f105";
    }
  }

  .stage {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
  }
}
