<section class="content page-landing" xmlns="http://www.w3.org/1999/html">
  <profile-widget></profile-widget>

  <div class="description">
    <img src="image/coach-head.png"/>
    <span>What are you up to?</span>
  </div>

  <div class="grid-whole padded">
    <section class="action push-xs"
             ui-sref="note-list"
    >
      <div class="cont-icon-left-l">
        <img src="image/profile-pic-00.png" alt="">
        <div class="stage">
          <header>Dumping a new idea</header>
        </div>
      </div>
    </section>

    <section class="action push-xs"
             ui-sref="home"
    >
      <div class="cont-icon-left-l">
        <img src="image/profile-pic-00.png" alt="">
        <div class="stage">
          <header ng-show="cUserGoal.JSON.length === 0">Starting a new project.</header>
          <header ng-show="cUserGoal.JSON.length > 0">Continue with my project.</header>
        </div>
      </div>
    </section>

    <section class="action push-xs"
             ui-sref="daily"
    >
      <div class="cont-icon-left-l">
        <img src="image/profile-pic-00.png" alt="">
        <div class="stage">
          <header>Ready for a productive day</header>
        </div>
      </div>
    </section>
  </div>
</section>