<section class="content page-daily
" xmlns="http://www.w3.org/1999/html">
  <profile-widget></profile-widget>

  <div class="description">
    <img src="image/coach-head.png"/>
    <span>Entrepreneurs’ Minimum Effective Dose (MED) of daily actions!</span>
  </div>

  <div class="grid-whole padded">
    <section class="action push-xs"
        ui-sref="get-structured"
        ng-class="getStateDailyPriority()"
    >
      <div class="cont-icon-left-l">
        <span class="fa fa-sun-o stick-to-middle"></span>
        <div class="stage">
          <header>Prioritise.</header>
          <div class="action-description">
            Identify the most important task for the today and get it done before 11:00 a.m.
          </div>
        </div>
      </div>
    </section>

    <section class="action push-xs"
             ui-sref="home"
             ng-class="getStateUserGoal()"
    >
      <div class="cont-icon-left-l">
        <span class="fa fa-lightbulb-o stick-to-middle"></span>
        <div class="stage">
          <header>Spend one hour on your project.</header>
          <div class="action-description">
            Ideas are worthless; execution is everything!
          </div>
        </div>
      </div>
    </section>

    <section class="action push-xs"
             ui-sref="note-list"
             ng-class="{'done': isDoneNote()}"
    >
      <div class="cont-icon-left-l">
        <span class="fa fa-file stick-to-middle"></span>
        <div class="stage">
          <header>Raise Intellectual Property</header>
          <div class="action-description">
            Get into the habit of creating value every day.
          </div>
        </div>
      </div>
    </section>

    <section class="action push-xs"
             ui-sref="comfort-challenge"
             ng-class="getStateComfortChallenge()"
    >
      <div class="cont-icon-left-l">
        <span class="fa fa-flag-checkered stick-to-middle"></span>
        <div class="stage">
          <header>Comfort Challenge</header>
          <div class="action-description">
            Systematically eliminate what-if scenarios that hold you back from doing what’s necessary.
          </div>
        </div>
      </div>
    </section>

    <section class="action push-xs"
             ui-sref="mini-review"
             ng-class="{'done': isDoneGetStructured}"
    >
      <div class="cont-icon-left-l">
        <span class="fa fa-moon-o stick-to-middle"></span>
        <div class="stage">
          <header>Mini Review</header>
          <div class="action-description">
            Review your results and address small adjustments every evening.
          </div>
        </div>
      </div>
    </section>
  </div>
</section>