.page-comfort-challenge {
  .highlighted {
    color: #06a13f;
  }

  .plan-list {
    border-top: none;
    background-image: none !important;

    ons-col {
      position: relative;
    }
  }

  .desc {
    line-height: 1.2;
    font-size: 13px;
  }

  .plan {
    line-height: 1;
    padding: 0;
  }

  .plan-left {
    text-align: right;
    padding: 10px 10px 10px 0;
  }

  .plan-center {
    background-color: #ccc;
    opacity: 0.5;
  }

  .plan-right {
    padding: 10px 40px 10px 10px;
  }

  .plan-date {
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 4px;
    font-weight: 500;
  }

  .plan-duration {
    font-size: 11px;
    opacity: 0.4;
  }

  .plan-name {
    font-size: 17px;
    margin-bottom: 8px;
    margin-left: 5px;
    color: rgb(37, 166, 217);

    &.highlighted {
      color: #06a13f;
    }
  }

  .note-info {
    font-size: 12px;
    line-height: 1.4;

    &.description {
      opacity: 1;
    }

    &.sub {
      margin-top: 7px;
      opacity: 0.4;
    }
  }

  .sub {
    margin-top: 7px;
    opacity: 0.4;
  }

  ons-icon.align, i.align {
    width: 23px;
  }

  .plan-right {
    position: relative;
  }

  .empty-list, p {
    font-size: 15px;
    margin-top: 10px;
//    color: #25a6d9;
    color: black;
  }

  .description {
    overflow: auto;
    padding: 10px;
    //text-align: justify;

    img {
      display: inline-block;
      width: 20%;
      float: left;
    }

    span {
      width: 80%;
      display: block;
      float: left;
    }
  }

  .difficulty {
    font-size: 13px;
    margin-top: 8px;
    margin-left: 4px;
    margin-bottom: 8px;

    .fa.fa-star {
      color: rgba(37, 166, 217, 0.59);
    }
  }

  .done {
    background: #C8F3C8;
  }
}
