.page-comfort-challenge-detail {
  ons-list {
    .fa, ons-icon {
      color: #208fbb;
    }
  }

  .button--large--cta {
    .fa, ons-icon {
      color: white;
    }
  }

  .list__item {
    overflow-y: auto;
  }

  .plan-list {
    border-top: none;
    background-image: none !important;

    ons-col {
      position: relative;
    }
  }

  .desc {
    line-height: 1.2;
    font-size: 13px;
  }

  .plan {
    line-height: 1;
    padding: 0;
  }

  .plan-left {
    text-align: right;
    padding: 10px 10px 10px 0;
  }

  .plan-center {
    background-color: #ccc;
    opacity: 0.5;
  }

  .plan-right {
    padding: 10px;
  }

  .plan-date {
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 4px;
    font-weight: 500;
  }

  .plan-duration {
    font-size: 11px;
    opacity: 0.4;
  }

  .plan-name {
    font-size: 17px;
    color: rgb(37, 166, 217);
    margin: 5px 0 10px;
  }

  .note-info {
    font-size: 15px;
    line-height: 1.3;

    &.description {
      opacity: 1;
    }

    &.sub {
      margin-top: 7px;
      opacity: 0.4;
    }
  }

  .sub {
    margin-top: 7px;
    opacity: 0.4;
  }

  ons-icon.align, i.align {
    width: 23px;
  }

  .plan-right {
    position: relative;
  }

  .empty-list, p {
    font-size: 15px;
    margin-top: 10px;
//    color: #25a6d9;
    color: black;
  }

  .difficulty {
    font-size: 15px;
    margin-left: 55px;
    margin-bottom: 4px;

    .fa.fa-star {
      color: rgba(37, 166, 217, 0.59);
    }
  }

  .duration {
    float: right;

    .days {
      color: #25a6d9;
    }
  }

  .desc-take-note {
    font-size: 13px;
    text-align: justify;
  }

  .take-note-option {
    overflow: auto;
    float: right;

    button {
      float:right;
    }
  }

  .plan-name {
    font-size: 17px;
    margin-bottom: 8px;
    margin-left: 5px;
    color: rgb(37, 166, 217);

    margin-right: 37px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &.highlighted {
      color: #06a13f;
    }
  }

  .plan-right {
    padding: 10px 40px 10px 14px;
  }

  .note-info {
    font-size: 12px;
    line-height: 1.4;
    //height: 2.8em;
    overflow: hidden;

    &.description {
      opacity: 1;
    }

    &.sub {
      margin-top: 7px;
      opacity: 0.4;
    }
  }

  .description {
    overflow: auto;
    padding: 10px;
    text-align: justify;

    img {
      display: inline-block;
      width: 20%;
      float: left;
    }

    span {
      width: 80%;
      display: block;
      float: left;
      font-size: 13px;
      text-align: justify;
    }
  }

  .action-button-list {
    padding-bottom: 8px;
  }

}
