<section class="content page-comfort-challenge-detail" xmlns="http://www.w3.org/1999/html">
  <profile-widget></profile-widget>

  <div class="grid-whole">
    <ons-list class="note-list">
      <ons-list-item class="plan current-challenge">
        <ons-row>
          <ons-col class="plan-right margin-hor">
            <div class="plan-name">
              {{mComfortChallenge.name}}
            </div>

            <div class="cont-icon-left-m">
              <ons-icon icon="fa-flag align"></ons-icon>
              <div class="stage note-info margin-right">
                {{mComfortChallenge.shortDescription}}
              </div>
            </div>

            <div class="tap-area"
                 ng-click="complete()"
                ></div>
          </ons-col>
        </ons-row>
        <ons-row>
            <ons-col class="plan-right difficulty margin-hor">
                <span>DIFFICULTY</span>
                <span class="fa fa-star" ng-repeat="start in [] | range:mComfortChallenge.difficulty"></span>
                <span class="duration margin-hor">DURATION:
                    <span class="days">{{mComfortChallenge.duration}} Days</span></span>
            </ons-col>
        </ons-row>
      </ons-list-item>

      <ons-list-header class="list__header ons-list-header-inner">Details</ons-list-header>
      <ons-list-item class="list__item list-item-container ons-list-item-inner">
        <div class="desc margin-ver-s"></div>
        <div class="action-button-list grid-whole push-m"
             style="text-align: right">
          <button class="pure-button"
                  ng-if="mComfortChallenge.status == 'unlocked' || mComfortChallenge.status == 'declined'"
                  ng-click="acceptChallenge()"
          >Accept</button>
          <!--<button class="pure-button"-->
          <!--ng-if="mComfortChallenge.status == 'started'"-->
          <!--ng-click="completeChallenge()"-->
          <!--&gt;Completed</button>-->
          <button class="pure-button"
                  ng-if="mComfortChallenge.status == 'unlocked' || mComfortChallenge.status == 'started'"
                  ng-click="declineChallenge()"
          >Decline</button>
        </div>
      </ons-list-item>

      <ons-list-header class="list__header ons-list-header-inner">Related Notes</ons-list-header>
      <ons-list-item  modifier="chevron"
                      class="plan"
                      ng-repeat="mNote in cNote.JSON | orderBy: '-timestamp'"
                      ng-if="mNote.idComfortChallenge == $stateParams.indexComfortChallenge"
      >
        <ons-row>
          <ons-col class="plan-right">
            <div class="plan-name">{{mNote.name}}</div>

            <div class="cont-icon-left">
              <ons-icon icon="ion-android-note align"></ons-icon>
              <div class="stage note-info">
                {{html2text(mNote.description)}}
              </div>
            </div>

            <div class="tap-area"
                 ng-click="goToNoteDetail(mNote.id, 'isDisabledBtnIntellectualPropertyOpen')"
            ></div>
          </ons-col>
        </ons-row>
      </ons-list-item>

      <div class="sub-desc margin-ver-s"
           ng-if="isNoteListEmpty()">
        <div class="cont-icon-left-m">
          <ons-icon icon="ion-android-note stick-to-middle"></ons-icon>
          <div class="stage">
            <div class="cont-icon-right-m">
              <span class="fa fa-plus-circle stick-to-middle"
                    ng-click="addNewNote()"></span>
              <div class="stage">
                <span>Take note of the insights you’ve gained. Create a list of actions to apply those insights every day.</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ons-list-item ng-if="!isNoteListEmpty()">
        <ons-row>
          <ons-col>
            <div class="grid-whole padded">
              <button class="button--large--cta"
                      ng-click="addNewNote()"
              >
                <span class="fa fa-plus-circle"></span>
                Add new Note
              </button>
            </div>
          </ons-col>
        </ons-row>
      </ons-list-item>
    </ons-list>
  </div>

  <div class="grid-whole pusher-bottom"></div>
</section>

<footer class="grid-whole padded">
  <a class="pure-button pure-button"
     ng-click="goBack()"
      >Back</a>
</footer>