<section class="content page-comfort-challenge" xmlns="http://www.w3.org/1999/html">
  <profile-widget></profile-widget>

  <div class="grid-whole padded">
    <div class="description">
      <img src="image/coach-head.png"/>
      <span>Comfort is what holds you back!<br>Get comfortable at being uncomfortable!</span>
    </div>
  </div>

  <div class="grid-whole">
    <ons-list class="note-list">
      <ons-list-header class="list__header ons-list-header-inner"
                       ng-if="listChallengeCurrent.length !== 0"
          >Comfort Challenge in Progress
      </ons-list-header>
      <ons-list-item class="plan current-challenge"
                     modifier="chevron"
                     ng-if="listChallengeCurrent.length !== 0"
                     ng-repeat="mComfortChallenge in listChallengeCurrent">
        <ons-row>
          <ons-col class="plan-right"
                   ng-class="{done: isDoneComfortChallenge(mComfortChallenge)}">
            <div class="plan-name">
              {{mComfortChallenge.name}}
            </div>
            <div class="difficulty">
                <span>DIFFICULTY</span>
                <span class="fa fa-star" ng-repeat="start in [] | range:mComfortChallenge.difficulty"></span>
                <span class="duration margin-hor">PROGRESS:
                    <span class="days">{{getAge(mComfortChallenge)}} / {{mComfortChallenge.duration}} Days</span></span>
            </div>

            <div class="cont-icon-left">
              <ons-icon icon="fa-flag align"></ons-icon>
              <div class="stage note-info margin-right">
                {{mComfortChallenge.shortDescription}}
              </div>
            </div>

            <div class="tap-area"
                 ng-click="goToComfortChallengeDetail(mComfortChallenge.id)"
                ></div>
          </ons-col>
        </ons-row>
      </ons-list-item>

      <ons-list-header class="list__header ons-list-header-inner"
                       ng-if="(listChallengeUnlocked.length === 0 && listChallengeCurrent.length === 0) || listChallengeUnlocked.length > 0"
          >Unlocked Challenges
      </ons-list-header>
      <ons-list-item class="list__item list-item-container ons-list-item-inner"
                     ng-class="{'highlighted': isHighlitedItemFirst}"
                     modifier="chevron"
                     ng-repeat="mComfortChallenge in listChallengeUnlocked"
                     ng-click="goToComfortChallengeDetail(mComfortChallenge.id)">
        <span class="desc">{{mComfortChallenge.name}}</span>
      </ons-list-item>
      <div class="desc margin-hor margin-ver"
           ng-if="listChallengeUnlocked.length === 0 && listChallengeCurrent.length === 0">
        You have no available comfort challenge at the moment. Check back later.
      </div>

      <ons-list-header class="list__header ons-list-header-inner"
                       ng-if="listChallengeCompleted.length > 0">Completed Challenges</ons-list-header>
      <ons-list-item class="list__item list-item-container ons-list-item-inner"
                     modifier="chevron"
                     ng-repeat="mComfortChallenge in listChallengeCompleted"
                     ng-click="goToComfortChallengeDetail(mComfortChallenge.id)">
        <span class="desc">{{mComfortChallenge.name}}</span>
      </ons-list-item>

      <ons-list-header class="list__header ons-list-header-inner"
                       ng-if="listChallengeDeclined.length !== 0"
          >Declined Challenges
      </ons-list-header>
      <ons-list-item class="list__item list-item-container ons-list-item-inner"
                     modifier="chevron"
                     ng-repeat="mComfortChallenge in listChallengeDeclined"
                     ng-click="goToComfortChallengeDetail(mComfortChallenge.id)">
        <span class="desc">{{mComfortChallenge.name}}</span>
      </ons-list-item>
    </ons-list>
  </div>

  <div class="grid-whole pusher-bottom"></div>
</section>

<footer class="grid-whole padded">
  <a class="pure-button pure-button"
     ng-click="goBack()"
      >Back</a>
</footer>