profile-widget {
    display: block;
    overflow: auto;

    background: #109CD4;
    padding: 10px 10px 10px 41px;
    font-size: 13px;
    text-align: left;
    color: white;

    span.fa, ons-icon.ons-icon {
        display: inline-block;
        margin-right: 20px;
        font-size: 13px;
        line-height: 13px;
        vertical-align: inherit;
    }

    img {
        position: absolute;
        top: 6px;
        left: 8px;
        width: 22px;
        border-radius: 12px;
    }
}