<div ui-sref="achievement">
    <img src="image/profile-pic-00.jpg" alt=""/>
    <span class="fa fa-money">&nbsp; {{credit}} CRD</span>
    <ons-icon icon="ion-android-note">&nbsp; {{ip}} Notes</ons-icon>
    <span class="fa fa-trophy">&nbsp; {{achievement}}</span>
</div>
