.page-goal-detail {
  background: #ffffff;

  .display-time-elapsed.ng-binding {
    display: inline-block;
  }

  .grid-whole {
    .fa {
      color: #208fbb;
    }
  }

  .list-item {
    min-height: 30px;
  }

  .list-item-container {
    line-height: 1;
    overflow: auto;
    //padding: 16px 0;
  }

  .head {
    .title {
      overflow: auto;

      i {
        font-size: 4em;
        margin: 14px 11px;
        color: #208fbb;

        float: left;
      }

      .container {
        position: relative;
        padding-right: 50px;
      }

      h5 {
        .fa-edit {
          position: absolute;
          right: 3px;
          top: 8px;
          font-size: 32px;
          margin: 0;
        }
      }
    }
    //i, div {
    //  display: block;
    //  float: left;
    //}
    //
    //div {
    //  max-width: 80%;
    //}
    //
    //i {
    //  font-size: 4em;
    //  margin: 14px 11px;
    //  color: #208fbb;
    //
    //  &.fa-edit {
    //    float: right;
    //    font-size: 2em;
    //  }
    //}
  }

  h5 {
    color: rgb(37, 166, 217);
    font-size: 17px;
  }

  i {
    color: #208fbb;
  }

  .reward {
    margin-top: 8px;
  }

  .thumbnail {
    width: 80px;
    height: 80px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
  }

  .name {
    line-height: 16px;
    font-size: 15px;
  }

  .location {
    font-size: 14px;
    opacity: 0.4;
    margin-bottom: 6px;
  }

  .desc {
    line-height: 1.2;
    font-size: 13px;

    &.time-alloc {
      display: block;
      width: 65%;
      float: right;
      margin-top: 3px;
      padding-right: 36px;

      .time {
        //border-left: 1px solid black;
        padding-left: 8px;
        padding-right: 8px;
        float: left;
      }

      .location {
        //border-left: 1px solid black;
        opacity: 1;
        padding-left: 8px;
        display: inline-block;
        width: 50%;
        float: left;
      }
    }
  }

  .checkbox {
    top: 0;
    margin: 0;
  }

  .steps .icon-checkox {
    margin-top: -12px;
  }

  .schedule {
    .today {
      background: darkgray;
      color: white;
    }

    // Doesn't matter how much time user spends on task on a day that is not scheduled, it is great
    .in-progress, .done {
      background: rebeccapurple;
      color: white;
    }

    .scheduled {
      background: #ffc4c4; // failed by default
      color: #7e0000;

      .fa {
        color: #7e0000;
      }

      &.today {
        background: #d0edf9;
        color: #145771;
        .fa {
          color: #145771;
        }
      }

      &.in-progress {
        background: #ffe9c0;
        color: #a06801;

        .fa {
          color: #a06801;
        }
      }

      &.done {
        background: #b5edb5;
        color: #004200;

        .fa {
          color: #004200;
        }
      }

      &.coming {
        background: white;
        color: black;

        .fa {
          color: #25a6d9;
        }
      }
    }

    button {
      i {
        color: white;
      }
    }

    .sub-desc {
      margin-bottom: 8px;
      clear: both;
    }
  }

  .tip {
    padding: 10px;
    line-height: 18px;
    font-size: 13px;

    i {
      font-size: 22px;
    }
  }

  .feature-completion-indicator {
    font-size: 24px;
    i {
      margin-right: 8px;
    }
  }

  .sub-desc {
    margin-top: 8px;
    line-height: 1.2;
    font-size: 13px;

    .pure-button {
      padding: 2px 6px;
    }
  }

  .note-list {
    ons-icon {
      color: #208fbb;
    }

    .sub-desc {
      margin-top: 0;
      padding-top: 8px;
      padding-bottom: 8px;
    }

    button {
      .fa-plus-circle {
        color: white;
      }
    }

    .plan-list {
      border-top: none;
      background-image: none !important;

      ons-col {
        position: relative;
      }
    }

    .plan {
      line-height: 1;
      padding: 0;
    }

    .plan-left {
      text-align: right;
      padding: 10px 10px 10px 0;
    }

    .plan-center {
      background-color: #ccc;
      opacity: 0.5;
    }

    .plan-right {
      padding: 10px 40px 10px 10px;
    }

    .plan-date {
      font-size: 14px;
      opacity: 0.8;
      margin-bottom: 4px;
      font-weight: 500;
    }

    .plan-duration {
      font-size: 11px;
      opacity: 0.4;
    }

    .plan-name {
      font-size: 17px;
      margin-bottom: 8px;
      margin-left: 5px;
      color: rgb(37, 166, 217);
    }

    .note-info {
      font-size: 12px;
      line-height: 1.4;
      max-height: 2.8em;
      overflow: hidden;

      &.description {
        opacity: 1;
      }

      &.sub {
        margin-top: 7px;
        opacity: 0.4;
      }
    }

    .sub {
      margin-top: 7px;
      opacity: 0.4;
    }

    ons-icon.align, i.align {
      width: 23px;
    }

    .plan-right {
      position: relative;
    }

    .empty-list {
      font-size: 13px;
      color: #444;

      position: relative;
      overflow: auto;
      margin-top: 16px;

      h3 {
        position: absolute;
        opacity: 0.9;
        top: 0;
        right: 13px;
        left: 13px;

        ons-icon {
          font-size: 38px;
          float: left;
          margin-right: 8px;
        }
      }

      .preview {
        position: absolute;
        bottom: 0;
        right: 13px;
        left: 13px;
        background: #25A6D9;
        opacity: 0.96;
        color: white;
        font-size: 15px;
        padding: 16px;
        text-align: justify;
      }

      img {
        width: 100%;
        margin: -12px 0;
      }

      .read-more button {
        background: white;

        ons-icon {
          color: #288CB7;
        }
      }

      .p-title {
        background: white;
        padding: 5px 15px;
        color: #3191BA;
        font-size: 16px;
        margin: 0;
        text-align: left;
      }

      .author {
        margin-bottom: -29px;
      }
    }

    .indexIdea.fa-puzzle-piece {
      position: absolute;
      bottom: 10px;
      left: 16px;
      color: #268EB9;
      font-size: 20px;
    }
  }

  .fa.fa-edit {
    &.edit-schedule {
      float: right;
      margin-top: -4px;
      position: absolute;
      right: 8px;
      top: 20px;
      font-size: 32px;
    }
  }

  .fa.edit-rewards {
    font-size: 20px;
    top: 43%;
  }

  .list__item.no-margin {
    padding: 0;
  }

  .margin-hor-right-l {
    margin-right: 48px;
  }

  .date-started {
    .display-start-date {
      display: inline-block;
    }

    .display-time-elapsed {
      display: inline-block;
    }
  }

  .label-next-review {
    color: gray;
    font-size: 13px;
    display: block;
    font-style: italic;
  }

  ons-list.list .ons-list-menu i.fa.fa-tasks {
    color: #208fbb;
  }

  ons-list.list.steps-to-estimate .ons-list-menu {
    background: #ffe480;
    color: #e47e00;
    font-weight: bold;
  }

  .steps-to-estimate {
    background: #ffef9a;

    .fa {
      color: #ff8d00;
    }

    .description {
      overflow: auto;
      padding: 10px;
      text-align: justify;

      img {
        display: inline-block;
        width: 20%;
        float: left;
      }

      span {
        width: 80%;
        display: block;
        float: left;
        font-size: 15px;
      }
    }

    .complexity {
      text-align: center;

      .fa-star-o, .fa-star {
        font-size: 24px;
      }
    }

    .list__item {
      border-bottom: none;
      background-image: none;
    }
  }
}