<div>
  <div class="float-left margin-right-xs push-xxs">
    VELOCITY: <span class="value">{{model.velocity}}</span> C/h
  </div>
  <div class="float-left margin-right-xs push-xxs">
    REMAINING: <span class="value">{{model.deadlineInHour}}</span> h
  </div>
  <div class="float-left margin-right-xs">
    <span class="fa fa-money"></span><span class="value"> {{model.costCompleted}}/{{model.costTotal}}</span>
  </div>
</div>