<section class="content page-goal-detail">
  <profile-widget></profile-widget>

  <div class="head grid-whole padded-vertical">
    <div class="cont-icon-left-l">
      <i class="fa fa-lightbulb-o fa-lg"></i>
      <div class="stage">
        <div class="cont-icon-right-m">
          <i class="fa fa-edit fa-lg"
             ng-click="editUserGoal()"
              ></i>
          <div class="stage">
            <h5>{{model.mUserGoal.name}}</h5>
            <p>{{model.mUserGoal.description}}</p>
          </div>
          <estimate track-time-service="trackTimeService"
                    id-user-goal="model.mUserGoal.id"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="grid-whole">
    <ons-list class="list ons-list-inner steps-to-estimate"
              ng-show="wrappedMToBeEstimatedStepList.length">
      <div class="cont-icon-right-sm ons-list-menu">
        <div class="stage desc">
          <div class="padding-xs">
            Missing Estimates
          </div>
        </div>
      </div>
      <div class="description margin-top-xs">
        <img src="image/coach-head.png"/>
        <span>
          A few steps have been recently added and not estimated yet. Tap the stars to do it now!
        </span>
      </div>
      <ons-list-item ng-repeat="stepWrapped in wrappedMToBeEstimatedStepList | orderBy: '-timestampDone'"
                     ng-show="isCurrentItemVisible(stepWrapped, $index, listStepEstimated)"
                     class="list-item-container list__item ons-list-item-inner no-margin"
      >
        <div>
          <div class="complexity margin-ver-xs">
            <i class="fa fa-star-o"
               ng-show="stepWrapped.mStep.complexity < 4"
               ng-click="setComplexity(stepWrapped.mStep, 4, stepWrapped.cStep)"></i>
            <i class="fa fa-star-o"
               ng-show="stepWrapped.mStep.complexity < 3"
               ng-click="setComplexity(stepWrapped.mStep, 3, stepWrapped.cStep)"></i>
            <i class="fa fa-star-o"
               ng-show="stepWrapped.mStep.complexity < 2"
               ng-click="setComplexity(stepWrapped.mStep, 2, stepWrapped.cStep)"></i>
            <i class="fa fa-star-o"
               ng-show="stepWrapped.mStep.complexity < 1"
               ng-click="setComplexity(stepWrapped.mStep, 1, stepWrapped.cStep)"></i>

            <i class="fa fa-star red"
               ng-show="stepWrapped.mStep.complexity > 3"
               ng-click="setComplexity(stepWrapped.mStep, 4, stepWrapped.cStep)"></i>
            <i class="fa fa-star"
               ng-show="stepWrapped.mStep.complexity > 2"
               ng-click="setComplexity(stepWrapped.mStep, 3, stepWrapped.cStep)"></i>
            <i class="fa fa-star"
               ng-show="stepWrapped.mStep.complexity > 1"
               ng-click="setComplexity(stepWrapped.mStep, 2, stepWrapped.cStep)"></i>
            <i class="fa fa-star"
               ng-show="stepWrapped.mStep.complexity > 0"
               ng-click="setComplexity(stepWrapped.mStep, 1, stepWrapped.cStep)"></i>
          </div>
          <div class="cont-icon-left-s margin-bottom-xs">
            <i class="fa fa-paw"></i>
            <div class="stage margin-right-s desc">
              {{stepWrapped.mStep.description}}
            </div>
          </div>
        </div>
      </ons-list-item>

      <div class="toggle-all"
           ng-show="numOfVisibleItem(wrappedMStepList, listStepEstimated) > (listStepEstimated.visibleItemLimit || 2)"
           ng-click="toggleAll(listStepEstimated)">
        <span class="fa fa-chevron-down"
              ng-show="listStepEstimated.isFolded"></span>
        <span class="fa fa-chevron-up"
              ng-show="!listStepEstimated.isFolded"></span>
      </div>
    </ons-list>

    <ons-list class="list ons-list-inner steps-to-estimate"
              ng-show="wrappedHighComplexityMStepList.length">
      <div class="cont-icon-right-sm ons-list-menu">
        <div class="stage desc">
          <div class="padding-xs">
            High Difficulty
          </div>
        </div>
      </div>
      <div class="description margin-top-xs">
        <img src="image/coach-head.png"/>
        <span>
          Try to break down the following steps into smaller ones; then it’s easier to measure progress.
        </span>
      </div>
      <ons-list-item ng-repeat="stepWrapped in wrappedHighComplexityMStepList | orderBy: '-timestampDone'"
                     ng-show="isCurrentItemVisible(stepWrapped, $index, listStepHighComplexity)"
                     class="list-item-container list__item ons-list-item-inner no-margin"
      >
        <div class="cont-icon-left-s margin-ver-xs">
          <i class="fa fa-paw"></i>
          <div class="stage margin-right-s desc">
            {{stepWrapped.mStep.description}}
          </div>
        </div>
      </ons-list-item>

      <div class="toggle-all"
           ng-show="numOfVisibleItem(wrappedMStepList, listStepHighComplexity) > (listStepHighComplexity.visibleItemLimit || 2)"
           ng-click="toggleAll(listStepHighComplexity)">
        <span class="fa fa-chevron-down"
              ng-show="listStepHighComplexity.isFolded"></span>
        <span class="fa fa-chevron-up"
              ng-show="!listStepHighComplexity.isFolded"></span>
      </div>
    </ons-list>

    <ons-list-header class="list__header ons-list-header-inner">Steps</ons-list-header>
    <ons-list class="list ons-list-inner steps"
              ng-show="numOfVisibleItem(allMStepList, listStepInProgress)">
      <ons-list-item ng-repeat="step in allMStepList | orderBy: 'idOrder'"
                     ng-if="step.status === 'inProgress'"
                     class="list-item-container list__item ons-list-item-inner no-margin"
      >
        <div class="cont-icon-right-sm ons-list-menu">
          <i class="fa fa-undo stick-to-middle"
             ng-click="setStatusStep(step, 'backlog')"
          ></i>
          <div class="stage">
            <div class="cont-icon-right-sm">
              <i class="fa fa-ban stick-to-middle"
                 ng-click="setStatusStep(step, 'blocked')"
              ></i>
              <div class="stage date-started padding-bottom">
                <span class="display-start-date padding-left padding-top">
                  {{formatDate(step.timestampStart)}}
                </span>
                <div class="display-time-elapsed padding-left padding-top">
                  <i class="fa fa-clock-o"></i>
                  <span ng-click="displayTimeElapsed.pauseResume(step)">
                    {{formatTime(displayTimeElapsed.timeElapsed)}}
                  </span>
                  <i class="fa fa-pause"
                     ng-if="displayTimeElapsed.inProgress"
                     ng-click="displayTimeElapsed.pauseResume(step)"></i>
                  <i class="fa fa-play"
                     ng-if="!displayTimeElapsed.inProgress"
                     ng-click="displayTimeElapsed.pauseResume(step)"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cont-icon-right-m margin-ver-xs">
          <i class="fa fa-check-square stick-to-middle"
             ng-click="setStatusStep(step, 'done', this, allMStepList)"
          ></i>
          <div class="stage stage padding-ver-xs">
            <div class="cont-icon-left-s">
              <i class="fa fa-clock-o"></i>
              <div class="stage margin-right-s desc">
                {{step.description}}
              </div>
            </div>
            <div class="cont-icon-left-s reward"
                 ng-show="step.reward"
            >
              <i class="fa fa-birthday-cake"></i>
              <div class="stage margin-right-s desc">
                {{step.reward}}
              </div>
            </div>
          </div>
        </div>
      </ons-list-item>
    </ons-list>

    <ons-list class="list ons-list-inner steps">
      <div class="cont-icon-right-sm ons-list-menu">
        <i class="fa fa-tasks edit-steps stick-to-middle"
           ng-click="editUserGoalStep()"
        ></i>
        <div class="stage desc">
          <div class="padding-xs">
            Ready
            <span class="margin-left-s"
                  ng-click="goToTrackRecord(model.mUserGoal.id)">
              <i class="fa fa-archive"></i>
              History
            </span>
          </div>
        </div>
      </div>
      <ons-list-item ng-repeat="stepWrapped in wrappedMStepList | orderBy: 'idOrder'"
                     ng-show="isCurrentItemVisible(stepWrapped, $index, listStep)"
                     class="list-item-container list__item ons-list-item-inner no-margin"
      >
        <div class="cont-icon-right-m margin-ver-xs">
          <div class="stage stage padding-ver-xs">
            <div class="cont-icon-left-s">
              <i class="fa fa-paw"
                  ng-show="stepWrapped.mStep.status === 'backlog'"></i>
              <i class="fa fa-ban"
                 ng-show="stepWrapped.mStep.status === 'blocked'"></i>
              <div class="stage margin-right-s desc">
                {{stepWrapped.mStep.description}}
              </div>
            </div>
            <div class="cont-icon-left-s reward"
                 ng-show="stepWrapped.mStep.reward"
            >
              <i class="fa fa-birthday-cake"></i>
              <div class="stage margin-right-s desc">
                {{stepWrapped.mStep.reward}}
              </div>
            </div>
          </div>
          <i class="fa fa-clock-o stick-to-middle"
             ng-click="setStatusStep(stepWrapped.mStep, 'inProgress')"></i>
        </div>
      </ons-list-item>

      <div class="toggle-all"
           ng-show="numOfVisibleItem(wrappedMStepList, listStep) > (listStep.visibleItemLimit || 3)"
           ng-click="toggleAll(listStep)">
        <span class="fa fa-chevron-down"
              ng-show="listStep.isFolded"></span>
        <span class="fa fa-chevron-up"
              ng-show="!listStep.isFolded"></span>
      </div>
    </ons-list>

    <ons-list class="list ons-list-inner steps"
              ng-show="numOfVisibleItem(wrappedMStepList, listStepDone)">
      <div class="cont-icon-right-sm ons-list-menu">
        <div class="stage desc">
          <div class="padding-xs">
            Done
          </div>
        </div>
      </div>
      <ons-list-item ng-repeat="stepWrapped in wrappedMStepList | orderBy: '-timestampDone'"
                     ng-show="isCurrentItemVisible(stepWrapped, $index, listStepDone)"
                     class="list-item-container list__item ons-list-item-inner no-margin"
      >
        <div class="cont-icon-right-m currently-working-on-actions">
          <i class="fa fa-undo stick-to-middle"
             ng-click="setStatusStep(stepWrapped.mStep, 'inProgress')"
          ></i>
          <div class="margin-ver stage desc">
            <div class="stage stage padding-ver-xs">
              <div class="cont-icon-left-s">
                <i class="fa fa-check-square"></i>
                <div class="stage margin-right-s desc">
                  {{stepWrapped.mStep.description}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </ons-list-item>

      <div class="toggle-all"
           ng-show="numOfVisibleItem(wrappedMStepList, listStepDone) > (listStepDone.visibleItemLimit || 3)"
           ng-click="toggleAll(listStepDone)">
        <span class="fa fa-chevron-down"
              ng-show="listStepDone.isFolded"></span>
        <span class="fa fa-chevron-up"
              ng-show="!listStepDone.isFolded"></span>
      </div>
    </ons-list>

    <ons-list class="note-list">
      <ons-list-header class="list__header ons-list-header-inner">Notes</ons-list-header>
      <div class="cont-icon-right-sm ons-list-menu"
           ng-show="numOfVisibleItem(cNote, listNote)">
        <i class="fa fa-plus-circle stick-to-middle"
           ng-click="addNewNote()"
        ></i>
        <div class="stage padding-ver"></div>
      </div>
      <ons-list-item modifier="chevron" class="plan"
                     ng-repeat="mNote in cNote.JSON | orderBy: '-timestamp'"
                     ng-show="isCurrentItemVisible(mNote, $index, listNote)">
        <!--ng-if="isNoteVisible(mNote)"-->
        <ons-row>
          <ons-col width="50px" class="plan-left">
            <!--<div class="plan-date">5:30 PM</div>-->
            <!--<div class="plan-duration">1h</div>-->
            <span class="icon icon-bin" ng-click="unlinkNote(mNote.id)"></span>
            <span class="indexIdea fa fa-puzzle-piece" ng-if="mNote.indexIdea != -1"></span>
          </ons-col>

          <ons-col width="6px" class="plan-center">
            <div class="bar"
                 ng-style="{backgroundColor: '#3399ff'}"
            ></div>
          </ons-col>

          <ons-col class="plan-right">
            <div class="plan-name">{{mNote.name}}</div>

            <div class="cont-icon-left">
              <ons-icon icon="ion-android-note align"></ons-icon>
              <div class="stage note-info">
                {{html2text(mNote.description)}}
              </div>
            </div>

            <div class="tap-area"
                 ng-click="goToNoteDetail(mNote.id)"
            ></div>
          </ons-col>
        </ons-row>
      </ons-list-item>

      <div class="toggle-all"
           ng-show="numOfVisibleItem(cNote, listNote) > (listNote.visibleItemLimit || 3)"
           ng-click="toggleAll(listNote)">
        <span class="fa fa-chevron-down"
              ng-show="listNote.isFolded"></span>
        <span class="fa fa-chevron-up"
              ng-show="!listNote.isFolded"></span>
      </div>

      <div class="sub-desc"
           ng-if="!numOfVisibleItem(cNote, listNote)">
        <div class="cont-icon-left-m">
          <ons-icon icon="ion-android-note"></ons-icon>
          <div class="stage">
            <div class="cont-icon-right-m">
              <span class="fa fa-plus-circle"
                    ng-click="addNewNote()"></span>
              <div class="stage">
                <span>Add notes such as the result of a research, a sales pitch or just simple ideas to your project.</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </ons-list>

    <ons-list class="schedule list ons-list-inner">
      <ons-list-header class="list__header ons-list-header-inner">Schedule</ons-list-header>

      <ons-list-item ng-repeat="mTimeAndLocation in schedule.listDay"
                     class="list__item list-item-container ons-list-item-inner"
                     ng-class="mTimeAndLocation.className"
      >
        <div class="margin-ver-s">
          <i class="fa fa-calendar"></i>
          <span class="desc">&nbsp;&nbsp;{{mTimeAndLocation.day}}</span>
          <span class="desc time-alloc">
            <span class="time">
              {{addZero(mTimeAndLocation.fromHour)}}:{{addZero(mTimeAndLocation.fromMin)}}
              -
              {{addZero(mTimeAndLocation.toHour)}}:{{addZero(mTimeAndLocation.toMin)}}
            </span>
            <span class="location">
              {{mTimeAndLocation.location}}
            </span>
            <i class="fa fa-edit fa-lg edit-schedule"
               ng-show="$index === 0"
               ng-click="goToListTimeframe()"
            ></i>
          </span>
        </div>
      </ons-list-item>

      <div class="sub-desc"
           ng-show="!model.mUserGoal.cTimeAndLocation.JSON.length">
        <div class="cont-icon-left-m">
          <i class="fa fa-calendar"></i>
          <div class="stage">
            <div class="cont-icon-right-m">
              <span class="fa fa-plus-circle"
                    ng-click="goToListTimeframe()"></span>
              <div class="stage">
                <span>Avoid being pulled away from your project when it’s time to put in the hours by allocating time and space to this project.</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </ons-list>

    <ons-list class="list ons-list-inner ">
      <ons-list-header class="list__header ons-list-header-inner">Inspiration</ons-list-header>

      <ons-list-item ng-repeat="reason in model.mUserGoal.cReason.JSON"
                     ng-show="isCurrentItemVisible(step, $index, listInspiration)"
                     class="list__item list-item-container ons-list-item-inner no-margin"
      >
        <div class="cont-icon-left-s margin-ver-s">
          <i class="fa fa-fire"></i>
          <div class="stage"
               ng-class="{'margin-hor-right-l': $index === 0}">
            <span class="desc">{{reason.description}}</span>
          </div>
        </div>
        <i class="fa fa-edit fa-lg edit-schedule"
           ng-show="$index === 0"
           ng-click="goToReasons()"
        ></i>
      </ons-list-item>

      <div class="toggle-all"
           ng-show="numOfVisibleItem(model.mUserGoal.cReason, listInspiration) > (listInspiration.visibleItemLimit || 3)"
           ng-click="toggleAll(listInspiration)">
        <span class="fa fa-chevron-down"
              ng-show="listInspiration.isFolded"></span>
        <span class="fa fa-chevron-up"
              ng-show="!listInspiration.isFolded"></span>
      </div>

      <div class="sub-desc margin-ver-xs"
           ng-show="!numOfVisibleItem(model.mUserGoal.cReason, listInspiration)">
        <div class="cont-icon-left-m">
          <i class="fa fa-fire"></i>
          <div class="stage">
            <div class="cont-icon-right-m">
              <span class="fa fa-plus-circle"
                    ng-click="goToReasons()"></span>
              <div class="stage">
                <span>Prep for the days when you don’t feel like working on your project ..but you should be ;)</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ons-list>

    <ons-list class="list ons-list-inner"
      ng-if="model.mUserGoal.cReview.JSON.length">
      <ons-list-header class="list__header ons-list-header-inner">Reviews</ons-list-header>

      <ons-list-item ng-repeat="mReview in model.mUserGoal.cReview.JSON | orderBy: '-scheduled'"
                     modifier="chevron"
                     class="list__item list-item-container ons-list-item-inner no-margin"
                     ng-show="isCurrentItemVisible(mReview, $index, listReview)"
                     ng-click="goToReviewDetail(mReview.id)"
      >
        <div ng-if="$index === 0 && mReview.whatDifferent !== ''">
          <div class="ons-list-menu padding-xs size-s">
            <span>Actions from last Review</span>
          </div>
          <div class="margin-hor-xs margin-top-xs margin-right-m size-s">
            {{mReview.whatDifferent}}
          </div>
        </div>
        <div class="cont-icon-left-s margin-ver-s">
          <i class="fa fa-coffee"></i>
          <div class="stage">
            <span class="desc">{{formatDate(mReview.scheduled)}}</span>
            <span class="label-next-review margin-top-xxs"
                  ng-show="$index == 0">Next one in {{daysRemainingToReview}} days</span>
          </div>
        </div>
      </ons-list-item>

      <div class="toggle-all"
           ng-show="numOfVisibleItem(model.mUserGoal.cReview, listReview) > (listReview.visibleItemLimit || 3)"
           ng-click="toggleAll(listReview)">
        <span class="fa fa-chevron-down"
              ng-show="listReview.isFolded"></span>
        <span class="fa fa-chevron-up"
              ng-show="!listReview.isFolded"></span>
      </div>
    </ons-list>

  </div>
  <div class="grid-whole pusher-bottom"></div>
</section>
<footer class="grid-whole padded">
  <a class="pure-button pure-button"
     ui-sref="home"
  >Back</a>
</footer>