.page-mini-review {
  .plan-name {
    font-size: 13px;
    color: #444;

    &.highlighted {
      color: #06a13f;
    }
  }

  .plan-right {
    padding: 10px;
  }

  .note-info {
    font-size: 12px;
    line-height: 1.4;

    &.description {
      opacity: 1;
    }

    &.sub {
      margin-top: 7px;
      opacity: 0.4;
    }
  }

  .plan {
    line-height: 1;
    padding: 0;

    ons-icon.fa, span.fa {
      color: gray;
    }
  }

  .btn-list {
    position: absolute;
    right: 8px;
  }

  .button--large--cta {
    &.highlighted {
      background-color: #06a13f;
    }
  }

  .button--large--quiet {
    margin: -15px 0;
  }

  p.quote {
    margin-left: 36px;
  }

  .form-input-error {
    color: red;

    .fa {
      position: initial;
      margin-right: 8px;
      color: red;
      opacity: 1;
    }
  }

  .cont-icon-left {
    line-height: 1.4;
  }

  util-list {
    border: none;
    border-radius: 0;
  }

  .description {
    background: white;
    overflow: auto;
    margin: 10px 10px 0 10px;
    text-align: justify;

    img {
      display: inline-block;
      width: 20%;
      float: left;
    }

    span {
      width: 80%;
      display: block;
      float: left;
      padding: 10px;
    }
  }

  .date {
    color: #25a6d9;
  }

  ons-list-header {
    .ion-university {
      float: right;
      margin: 3px 8px;
    }
  }

  .empty-list {
    font-size: 13px;
    color: #444;

    position: relative;

    h3 {
      position: absolute;
      opacity: 0.9;
      top: 0;
      left: 0;
      right: 0;

      ons-icon {
        font-size: 38px;
        float: left;
        margin-right: 8px;
      }
    }

    .preview {
      position: absolute;
      bottom: -9px;
      background: #25A6D9;
      opacity: 0.96;
      color: white;
      font-size: 15px;
      padding: 16px;
      text-align: justify;
    }

    img {
      width: 100%;
    }

    .read-more button {
      background: white;

      ons-icon {
        color: #288CB7;
      }
    }

    .p-title {
      background: white;
      padding: 5px 15px;
      color: #3191BA;
      font-size: 16px;
      margin: 0;
      text-align: left;
    }

    .author {
      margin-bottom: -29px;
    }
  }

  .history {
    .list__item  {
      color: #444;
    }

    .date {
      color: gray;
      font-size: 11px;
    }
  }
}