<section class="content page-mini-review" xmlns="http://www.w3.org/1999/html">
  <div class="description">
      <img src="image/coach-head.png"/>
      <span>Review your results and make small adjustments every evening.</span>
  </div>

  <div class="grid-whole padded">
      <habit-streak class="push-xs"
                    c-list="cGetStructured"
                    icon="fa-sun-o"
                    time="time"
                    ng-show="cGetStructured.JSON.length > 1"></habit-streak>

      <form name="formDailyFix" novalidate>
      <util-list class="push-xs">
          <ons-list-header class="list__header ons-list-header-inner">
              <span class="fa fa-moon-o"></span> Review
              <!--<ons-icon icon="ion-university"-->
                        <!--ui-sref="concept-habit-and-routine"></ons-icon>-->
          </ons-list-header>
          <row>
              <div class="list-item-input">
                  <label>What went wrong today?</label>
                  <div ng-show="formDailyFix.$submitted || formDailyFix.problem.$touched">
                      <div ng-show="formDailyFix.problem.$error.required" class="form-input-error">
                          <span class="fa fa-exclamation-circle"></span>Please fill it in!
                      </div>
                  </div>
                  <textarea elastic
                      rows="1"
                      class="textarea textarea--transparent"
                      placeholder="What annoyed you or could have gone better?"
                      ng-model="dailyFixLast.problem"

                      name="problem"
                      required=""
                  ></textarea>
              </div>
          </row>
          <row>
              <div class="list-item-input">
                  <label>How can you fix or avoid it in the future?</label>
                  <div ng-show="formDailyFix.$submitted || formDailyFix.fix.$touched">
                      <div ng-show="formDailyFix.fix.$error.required" class="form-input-error">
                          <span class="fa fa-exclamation-circle"></span>Please fill it in!
                      </div>
                  </div>
                  <textarea elastic
                      rows="1"
                      class="textarea textarea--transparent"
                      placeholder="Any action you can take?"
                      ng-model="dailyFixLast.fix"

                      name="fix"
                      required=""
                  ></textarea>
              </div>
          </row>
          <row>
              <div class="list-item-input">
                  <label>What did you like about today?</label>
                  <div ng-show="formDailyFix.$submitted || formDailyFix.appreciation.$touched">
                      <div ng-show="formDailyFix.appreciation.$error.required" class="form-input-error">
                          <span class="fa fa-exclamation-circle"></span>Please fill it in!
                      </div>
                  </div>
                  <textarea elastic
                          rows="1"
                          class="textarea textarea--transparent"
                          placeholder="Something that is worth mentioning?"
                          ng-model="dailyFixLast.appreciation"

                          name="appreciation"
                          required=""
                  ></textarea>
              </div>
          </row>
      </util-list>
      <button class="button--large--cta push-s"
              ng-class="{'highlighted': isHighlitedBtnSaveReview}"
              ng-click="saveFix(dailyFixLast, formDailyFix, 'isDisabledBtnSaveReview')"
      >Save Review</button>
      </form>

      <ons-list class="note-list history"
                ng-if="taskAndHistoryMixed.length > 0"
          >
          <ons-list-header class="list__header ons-list-header-inner">Lessons Learned</ons-list-header>
          <ons-list-item class="plan"
                         ng-repeat="item in taskAndHistoryMixed | orderBy: '-timestamp'"
                         ng-if="item.isDoneTask"
              >
              <ons-row>
                  <ons-col class="plan-right"
                           ng-if="item.fix"
                  >
                      <div class="cont-icon-left">
                          <ons-icon icon="fa-moon-o align"></ons-icon>
                          <div class="stage">
                              <div class="cont-icon-right">
                                  <div class="stage">
                                      <div class="plan-name">{{item.fix}}</div>
                                  </div>
                                  <span class="fa icon icon-bin"
                                        ng-click="remove(item.id)"></span>
                              </div>
                          </div>
                      </div>

                      <div class="cont-icon-left margin-right-xs">
                          <div class="stage note-info">
                              <div class="push-xs">
                                  <div ng-if="item.fix">
                                      <b>The trouble was:</b> {{item.problem}}
                                  </div>
                                  <div ng-if="item.appreciation">
                                      <b>You appreciated:</b> {{item.appreciation}}
                                  </div>
                              </div>
                              <div ng-if="item.appreciation" class="date">
                                  {{formatDay(item.timestamp)}}
                              </div>
                          </div>
                      </div>
                  </ons-col>
              </ons-row>
          </ons-list-item>
      </ons-list>

      <!--<div class="center empty-list push-s"-->
           <!--ng-show="cGetStructured.JSON.length === 0">-->
          <!--<h3 class="p-title">-->
              <!--<ons-icon icon="ion-university"></ons-icon>-->
              <!--You think you are in control..<br>think again!-->
          <!--</h3>-->
          <!--<div class="preview">-->
              <!--<div class="push-s">-->
                  <!--People live their life in a reactive state. They react to their environment instead of proactively make-->
                  <!--things happen. Read more on how to turn that around by developing a simple habit.”-->
              <!--</div>-->
              <!--<div class="read-more">-->
                  <!--<button class="pure-button"-->
                          <!--ng-click="addEmptyTimeAndLocation()"-->
                          <!--ui-sref="concept-habit-and-routine"-->
                      <!--&gt;-->
                      <!--<div class="cont-icon-left">-->
                          <!--<ons-icon icon="ion-university"></ons-icon>-->
                          <!--<div class="stage">-->
                              <!--Read more-->
                          <!--</div>-->
                      <!--</div>-->
                  <!--</button>-->
              <!--</div>-->
          <!--</div>-->
          <!--<img class="paragraph" src="product/page/concept/image/311182178c.jpg" alt=""/>-->
      <!--</div>-->
  </div>

  <div class="grid-whole pusher-bottom"></div>
</section>

<footer class="grid-whole padded">
    <a class="pure-button pure-button"
       ng-click="goToPageIf('isDisabledBtnBack', 'back')"
        >Back</a>
</footer>