alert {
  .alert-dialog-mask {
    z-index: 1000;
  }

  .alert-dialog {
    z-index: 1001;
  }

  .tutorial {
    .topic-bouble {
      overflow: auto;

      .title {
        display: table;
        height: 70px;
        margin-left: -5%;

        span {
          display: table-cell;
          height: 100%;
          vertical-align: middle;
          text-align: center;
          color: green;
        }
      }

      .profile-image {
        width: 30%;
        float: left;
      }
    }

    .title {
      float: left;
      width: 70%;
    }

    .alert-dialog-content {
      overflow: auto;
      background: #06a13f;
      color: white;
      text-align: justify;
    }

    .alert-dialog-footer {
      button {
        color: green;
      }
    }

    a.btn-at-bottom {
      margin-top: 8px;
      display: block;
      color: white;
    }
  }
}