<div ng-show="visible" ng-class="{tutorial: isTutorial}">
  <div class="alert-dialog-mask"></div>
  <div class="alert-dialog">

    <!-- Title for Tutorail-->
    <div class="topic-bouble" ng-show="isTutorial">
      <img src="image/coach-head.png" class="profile-image">
      <div class="title">
        <span ng-bind-html="title"></span>
      </div>
    </div>

    <!-- General title -->
    <div class="alert-dialog-content">
      <div class="alert-dialog-title" ng-show="!isTutorial">
        <span ng-bind-html="title"></span>
      </div>

      <div class="alert-dialog-content">
        <span ng-bind-html="text"></span>
      </div>
    </div>

    <div class="alert-dialog-footer" ng-show="type == 'simple'">
      <button class="alert-dialog-button alert-dialog-button--primal" ng-click="ok()">OK</button>
    </div>

    <div class="alert-dialog-footer alert-dialog-footer--one" ng-show="type == 'cancelOk'">
      <button class="alert-dialog-button alert-dialog-button--one" ng-click="cancel()">Cancel</button>
      <button class="alert-dialog-button alert-dialog-button--primal alert-dialog-button--one" ng-click="ok()">Ok</button>
    </div>
  </div>
</div>