.page-classroom {
  .description {
    overflow: auto;
    background: white;
    padding: 8px 16px 0;

    img {
      display: inline-block;
      width: 20%;
      float: left;
    }

    span {
      width: 80%;
      display: block;
      float: left;
      font-size: 15px;
      color: #444;
      padding: 8px 8px 8px 0;
    }
  }

  span.fa {
    &.free, &.purchased {
      color: #25a6d9;
    }
  }

  .highlighted {
    background: #06a13f;
    color: white;
  }

  .plan-list {
    border-top: none;
    background-image: none !important;

    ons-col {
      position: relative;
    }
  }

  .plan {
    line-height: 1;
    padding: 0;
  }

  .plan-left {
    text-align: right;
    padding: 10px 10px 10px 0;
  }

  .plan-center {
    background-color: #ccc;
    opacity: 0.5;
  }

  .plan-right {
    padding: 10px 40px 10px 10px;
  }

  .plan-date {
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 4px;
    font-weight: 500;
  }

  .plan-duration {
    font-size: 11px;
    opacity: 0.4;
  }

  .plan-name {
    font-size: 17px;
    margin-bottom: 8px;
    margin-left: 5px;
    color: rgb(37, 166, 217);

    &.highlighted {
      color: white;
    }
  }

  .note-info {
    font-size: 12px;
    line-height: 1.4;

    &.description {
      opacity: 1;
    }

    &.sub {
      margin-top: 7px;
      opacity: 0.4;
    }
  }

  .sub {
    margin-top: 7px;
    opacity: 0.4;
  }

  ons-icon.align, i.align {
    width: 23px;
  }

  .plan-right {
    position: relative;
  }

  .empty-list, p {
    font-size: 15px;
    margin-top: 10px;
//    color: #25a6d9;
    color: black;
  }
  ons-list-item {
    span.fa.fa-money {
      display: inline-block;
      margin-top: 8px;
      float: right;
    }
  }
}
