<section class="content page-classroom" xmlns="http://www.w3.org/1999/html">
  <profile-widget></profile-widget>

  <div class="description push">
    <img src="image/coach-head.png"/>
    <span>Learn about ideas that helped successful entrepreneurs to get to where they are now.</span>
  </div>

  <div class="grid-whole">
    <ons-list class="note-list">
      <ons-list-item modifier="chevron"
                     class="plan"
                     ng-repeat="concept in cConcept.JSON">
        <ons-row>
          <ons-col class="plan-right">
            <div class="plan-name"
            >{{concept.title}}</div>

            <div class="cont-icon-left">
              <ons-icon icon="ion-university align"></ons-icon>
              <div class="stage note-info margin-right">
                {{concept.description}}

                <span class="fa fa-money"
                      ng-class="{'free': concept.free}"
                      ng-if="concept.free">&nbsp;Free</span>
                <span class="fa fa-money"
                      ng-class="{'purchased': concept.purchased}"
                      ng-if="!concept.free">&nbsp;{{concept.price}} CRD</span>
              </div>
            </div>

            <div class="tap-area"
                 ng-click="goToLink(concept)"
            ></div>
          </ons-col>
        </ons-row>
      </ons-list-item>
  </div>

  <div class="grid-whole pusher-bottom"></div>
</section>

<footer class="grid-whole padded">
  <a class="pure-button pure-button"
     ng-class="{'highlighted': isHighlitedBtnBack}"
     ng-click="goToPageIf('isDisabledBtnBack', 'back')"
  >Back</a>
</footer>