<!-- # Most Important Task Section-->
<ons-list>
    <ons-list-header class="list__header ons-list-header-inner">
        Mini Review of the Day
        <span class="date">{{formatDate(mDailyPriorityLatest.timestamp)}}</span>
    </ons-list-header>
    <ons-list-item>
        <ons-row>
            <ons-col>
                <habit-streak c-list="cGetStructured" icon="fa-moon-o"  time="time"></habit-streak>
            </ons-col>
        </ons-row>
        <ons-row>
            <ons-col>
                <div class="cont-icon-right-s">
                    <div class="stage"
                         ng-click="goToPageIf('isDisabledBtnGetStructured', '#/mini-review')">
                        <div class="cont-icon-left">
                            <ons-icon icon="fa-moon-o" class="stick-to-middle"></ons-icon>
                            <div class="stage fix">
                                <span ng-if="!isShowDefaultMsgFix()">
                                    {{mDailyFixLatest.fix}}
                                </span>
                                <span ng-if="isShowDefaultMsgFix()">
                                  What could have gone better today?
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="add"
                        ng-if="isShowDefaultMsgFix()"
                        ng-click="goToPageIf('isDisabledBtnGetStructured', '#/mini-review')">
                    <span class="fa fa-moon-o"></span>
                    <span>Add</span>
                </button>
            </ons-col>
        </ons-row>
    </ons-list-item>
</ons-list>