get-structured-widget {
     display: block;

     .date {
         float: right;
         margin-right: 10px;
     }

     & > .stage {
         line-height: 17px;
         margin-top: 8px;
         margin-bottom: 8px;
     }

    .list__item {
        min-height: 34px;
    }

    ons-col > .cont-icon-right, ons-col > .cont-icon-left {
        line-height: 15px;
        margin: 10px 0;
    }

    .stage.fix {
        line-height: 17px;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .stage.reward {
        padding-right: 32px;
    }

    .reward-cont {
        padding-left: 36px;

        .fa {
            margin-left: 26px;
        }
    }

    button.add {
        position: absolute;
        right: 10px;
        top: 52px;
        background: #25A6D9;
        border: none;
        border-radius: 4px;
        color: white;
        line-height: 21px;
        font-size: 11px;
        margin: 0;
        padding: 1px 10px;
    }
 }