<!-- # Most Important Task Section-->
<ons-list>
    <ons-list-header class="list__header ons-list-header-inner">
        Priority for Today
        <span class="date">{{formatDate(mDailyPriorityLatest.timestamp)}}</span>
    </ons-list-header>
    <ons-list-item>
        <ons-row>
            <ons-col>
                <habit-streak c-list="cDailyPriority" icon="fa-sun-o" time="time"></habit-streak>
            </ons-col>
        </ons-row>
        <ons-row>
            <ons-col>
                <div class="cont-icon-right">
                    <div class="stage"
                         ng-click="goToPageIf('isDisabledBtnGetStructured', '#/get-structured')">
                        <div class="cont-icon-left">
                            <ons-icon icon="fa-sun-o" class="stick-to-middle"></ons-icon>
                            <div class="stage">
                                <span ng-if="!isShowDefaultMsgTask()">
                                    {{mDailyPriorityLatest.task}}
                                </span>
                                <span ng-if="isShowDefaultMsgTask()">
                                  What’s your most important step?
                                </span>
                            </div>
                        </div>
                    </div>

                    <span class="fa fa-check stick-to-middle"
                          ng-if="!isShowDefaultMsgTask()"
                          ng-class="{'done': mDailyPriorityLatest.isDoneTask}"
                          ng-click="taskDone('isDisabledBtnTaskDone')"></span>
                </div>

                <div class="cont-icon-left reward-cont"
                     ng-if="!isShowDefaultMsgTask() && mDailyPriorityLatest.reward !== ''">
                    <i class="fa fa-birthday-cake stick-to-middle"></i>
                    <div class="stage reward">
                        <span>{{mDailyPriorityLatest.reward}}</span>
                    </div>
                </div>

                <button class="add"
                        ng-if="isShowDefaultMsgTask()"
                        ng-click="goToPageIf('isDisabledBtnGetStructured', '#/get-structured')">
                    <span class="fa fa-sun-o"></span>
                    <span>Add</span>
                </button>
            </ons-col>
        </ons-row>
    </ons-list-item>
</ons-list>