/* <editor-fold desc="Flex">	--------------------------------------------------------- */

@mixin display-flex($value) {
	display: -moz-box;      /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;   /* TWEENER - IE 10 */

	@if $value == flex {
		display: -webkit-flex;  /* NEW - Chrome */
		display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6 */

	}

	@if $value == inline-flex {
		display: -ms-inline-flexbox; /* TWEENER - IE 10 */
		display: -webkit-inline-flex; /* NEW - Chrome */
	}

	display: $value;          /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

/**
 *	Flex flow
 *
 *	@param [row|column]					$direction	This is the flex-direction
 *	@param [nowrap|wrap|wrap-reverse]	$wrap		This is the flex-wrap
 */
@mixin flex-flow($direction, $wrap){
	@if $direction == row {
		-ms-box-orient: horizontal;
		-webkit-box-orient: horizontal;
	}

	@if $direction == column {
		-ms-box-orient: vertical;
		-webkit-box-orient: vertical;
	}

	-webkit-flex-direction: $direction;
	-ms-flex-direction: $direction;
	flex-direction: $direction;

	-webkit-flex-wrap: $wrap;
	-moz-flex-wrap: $wrap;
	-ms-flex-wrap: $wrap;
	flex-wrap: $wrap;

	-webkit-flex-flow: $direction $wrap;
	-moz-flex-flow: $direction $wrap;
	-ms-flex-flow: $direction $wrap;

	flex-flow: $direction $wrap;
}

@mixin justify-content($value) {
	-webkit-justify-content: $value;
	-moz-justify-content: $value;
	-ms-justify-content: $value;

	@if $value == flex-start {
		-webkit-box-pack: start;
		-moz-box-pack: start;
		-ms-flex-pack: start;
	}
	@if $value == flex-end {
		-webkit-box-pack: end;
		-moz-box-pack: end;
		-ms-flex-pack: end;
	}
	@if $value == center {
		-webkit-box-pack: center;
		-moz-box-pack: center;
		-ms-flex-pack: center;
	}
	@if $value == space-between {
		-webkit-box-pack: justify; // carefull, this is not space-between, this is just a fallback
		-moz-box-pack: justify;
		-ms-flex-pack: justify;
	}
	@if $value == space-around {
		-webkit-box-pack: justify;
		-moz-box-pack: justify;
		-ms-flex-pack: distribute;
	}
	justify-content: $value;
}


@mixin align-items($value) {
	@if $value == flex-start{
		-moz-align-items: start;
		-moz-box-align: start;
		-ms-flex-align: start;
		-ms-align-items: start;
		-webkit-box-align: start; /* For -webkit-box - some Android version */
	}

	@else if $value == flex-end{
		-moz-align-items: end;
		-moz-box-align: end;
		-ms-flex-align: end;
		-ms-align-items: end;
		-webkit-box-align: end; /* For -webkit-box - some Android version */
	}

	@else {
		-moz-align-items: $value;
		-moz-box-align: $value;
		-ms-flex-align: $value;
		-ms-align-items: $value;
		-webkit-box-align: $value; /* For -webkit-box - some Android version */
	}
	-webkit-align-items: $value;
	align-items: $value;

}

@mixin align-content($value){
	@if $value == flex-start{
		-ms-flex-line-pack: start;
	}

	@else if $value == flex-end{
		-ms-flex-line-pack: end;
	}

	@else if $value == space-between{
		-ms-flex-line-pack: justify;
	}

	@else if $value == space-around{
		-ms-flex-line-pack: distribute;
	}

	@else if $value == space-around{
		-ms-flex-line-pack: distribute;
	}

	@else {
		-ms-flex-line-pack: $value;
	}

	-webkit-align-content: $value;
	align-content: $value;
}



@mixin flex-direction-row {
	-ms-box-orient: horizontal;
	-webkit-box-orient: horizontal;
	-webkit-flex-direction: row;
	flex-direction: row;
}

@mixin flex-direction-column {
	-ms-box-orient: horizontal;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	flex-direction: column;
}


@mixin flex-auto {
	-webkit-box-flex: 1;
	flex: 1 1 auto;
}

/* </editor-fold>	Flex	------------------------------------------------------------- */
