.page-get-structured {
  .plan-right {
    padding: 10px;
  }

  .note-info {
    font-size: 12px;
    line-height: 1.4;

    &.description {
      opacity: 1;
    }

    &.sub {
      margin-top: 7px;
      opacity: 0.4;
    }
  }

  .plan {
    line-height: 1;
    padding: 0;
  }

  ons-icon.align, i.align {
    width: 23px;
  }

  .btn-list {
    position: absolute;
    right: 8px;
  }

  .button--large--cta {
    &.highlighted {
      background-color: #06a13f;
    }
  }

  .button--large--quiet {
    margin: -15px 0;
    text-align: right;
  }

  p.quote {
    margin-left: 36px;
  }

  .form-input-error {
    color: red;

    .fa {
      position: initial;
      margin-right: 8px;
      color: red;
      opacity: 1;
    }
  }

  util-list {
    border: none;
    border-radius: 0;
  }

  row span.fa {
    top: 4px;
    right: -7px;
    opacity: 1;
    color: #444;
  }

  ons-list-header {
    .ion-university {
      float: right;
      margin: 3px 8px;
    }
  }

  .stage span.fa-check {
    top: 5px;

    &.done {
      color: #06a13f;
    }
  }

  .reward.fa-birthday-cake {
    margin-top: 4px;
  }

  .history {
    .plan-name {
      font-size: 13px;
      color: #444;

      &.highlighted {
        color: #06a13f;
      }
    }

    .date {
      color: gray;
      font-size: 11px;
    }

    span.fa, ons-icon.fa {
      color: gray;
    }
  }

  .empty-list {
    font-size: 13px;
    color: #444;

    position: relative;
    overflow: auto;
    margin-top: 16px;

    h3 {
      position: absolute;
      opacity: 0.9;
      top: 0;
      left: 0;
      right: 0;

      ons-icon {
        font-size: 38px;
        float: left;
        margin-right: 8px;
      }
    }

    .preview {
      position: absolute;
      bottom: -9px;
      background: #25A6D9;
      opacity: 0.96;
      color: white;
      font-size: 15px;
      padding: 16px;
      text-align: justify;
    }

    img {
      width: 100%;
      margin: -12px 0;
    }

    .read-more button {
      background: white;

      ons-icon {
        color: #288CB7;
      }
    }

    .p-title {
      background: white;
      padding: 5px 15px;
      color: #3191BA;
      font-size: 16px;
      margin: 0;
      text-align: left;
    }

    .author {
      margin-bottom: -29px;
    }
  }
}