<section class="content page-get-structured" xmlns="http://www.w3.org/1999/html">
  <div class="grid-whole padded">
    <quote class="push-xs"
           c-note="cNote"
           id-quote="0"
           time="time"></quote>

    <habit-streak class="push-xs"
                  c-list="cDailyPriority"
                  icon="fa-sun-o"
                  time="time"
                  ng-show="cDailyPriority.JSON.length > 1"></habit-streak>

    <form name="formDailyPriority" novalidate>
    <util-list class="push-xs">
      <ons-list-header class="list__header ons-list-header-inner">
        <span class="fa fa-sun-o"></span> Most important step today
        <!--<ons-icon icon="ion-university"-->
            <!--ui-sref="concept-habit-and-routine"></ons-icon>-->
      </ons-list-header>
        <row>
          <div class="list-item-input">
            <div ng-show="formDailyPriority.$submitted || formDailyPriority.task.$touched">
              <div ng-show="formDailyPriority.task.$error.required" class="form-input-error">
                <span class="fa fa-exclamation-circle"></span>Please fill it in!
              </div>
            </div>
            <div class="cont-icon-right-s quote-cont">
              <div class="stage">

                <div class="cont-icon-left"
                     ng-if="isVisibleTick">
                  <span class="fa fa-check"
                        ng-class="{'done': isTaskDone()}"
                        ng-click="taskDone()"></span>

                  <div class="stage">
                    <textarea elastic
                              rows="1"
                              class="textarea textarea--transparent"
                              placeholder="What is the single most important step you have to do today?"

                              ng-model="dailyPriorityLast.task"
                              name="task"
                              required=""
                    ></textarea>
                  </div>
                </div>

                <textarea ng-if="!isVisibleTick"
                          elastic
                          rows="1"
                          class="textarea textarea--transparent"
                          placeholder="What is the single most important step / part of step you have to get done today?"

                          ng-model="dailyPriorityLast.task"
                          name="task"
                          required=""
                ></textarea>

              </div>
              <span class="fa fa-birthday-cake"
                    ng-show="!isRewardVisible"
                    ng-click="isRewardVisible = true"></span>
            </div>
          </div>
        </row>
        <row ng-if="isRewardVisible || dailyPriorityLast.reward !== ''">

          <div class="cont-icon-left"
               ng-if="isVisibleTick"
          >
            <span class="fa fa-birthday-cake reward"></span>
            <div class="stage">
              <textarea elastic
                        rows="1"
                        class="textarea textarea--transparent"
                        placeholder="Inspire yourself with a little treat when you are done with your top priority for the day."
                        ng-model="dailyPriorityLast.reward"
              ></textarea>
            </div>
          </div>

          <div class="cont-icon-left"
               ng-if="!isVisibleTick"
          >
            <span class="fa fa-birthday-cake reward"></span>
            <div class="stage">
              <textarea elastic
                        rows="1"
                        class="textarea textarea--transparent"
                        placeholder="Inspire yourself with a little treat when you are done with your top priority for the day."
                        ng-model="dailyPriorityLast.reward"
              ></textarea>
            </div>
          </div>
        </row>
    </util-list>
    <button class="button--large--cta push-xs"
            type="submit"
            ng-class="{'highlighted': isHighlitedBtnSaveTask}"
            ng-click="saveTask(dailyPriorityLast, formDailyPriority)"
        >Set Priority</button>
    </form>

    <ons-list class="note-list history"
              ng-if="ListOfImportantStepByUserGoal.length"
    >
      <ons-list-header class="list__header ons-list-header-inner">Suggested Steps</ons-list-header>
      <ons-list-item class="plan"
                     ng-repeat="userGoal in ListOfImportantStepByUserGoal"
      >
        <ons-row>
          <ons-col class="plan-right">
            <div class="cont-icon-left push-xs">
              <span class="fa fa-lightbulb-o"></span>
              <div class="stage">
                <span class="size-m">{{userGoal.name}}</span>
              </div>
            </div>
            <div class="cont-icon-left push-xs" ng-repeat="importatntStep in userGoal.importatntStepList">
              <i class="fa fa-flag"
                 ng-class="{'p1': importatntStep.priority > 0, 'p2': importatntStep.priority > 1, 'p3': importatntStep.priority > 2, 'p4': importatntStep.priority > 3}"></i>
              <div class="stage">
                <span class="size-m">{{importatntStep.description}}</span>
              </div>
            </div>
          </ons-col>
        </ons-row>
      </ons-list-item>
    </ons-list>

    <ons-list class="note-list history"
              ng-if="isVisibleHistory()"
    >
      <ons-list-header class="list__header ons-list-header-inner">Completed Steps</ons-list-header>
      <ons-list-item class="plan"
                     ng-repeat="item in taskAndHistoryMixed | orderBy: '-timestamp'"
                     ng-if="item.isDoneTask"
      >
        <ons-row>
          <ons-col class="plan-right">
            <div class="cont-icon-left push-xs">
              <ons-icon icon="fa-sun-o" class="stick-to-top"></ons-icon>
              <div class="stage note-info">
                <div class="cont-icon-right">
                  <div class="stage">
                    <div class="plan-name margin-right-xs">{{item.task}}</div>
                  </div>
                  <span class="fa icon icon-bin"
                        ng-click="remove(item.id)"></span>
                </div>
              </div>
            </div>

            <div class="cont-icon-left">
              <div class="stage margin-right date">
                {{formatDay(item.timestamp)}}
              </div>
            </div>
          </ons-col>
        </ons-row>
      </ons-list-item>
    </ons-list>

    <!--<div class="grid-whole center empty-list"-->
       <!--ng-show="!isVisibleHistory()">-->
      <!--<h3 class="p-title">-->
          <!--<ons-icon icon="ion-university"></ons-icon>-->
          <!--You think you are in control..<br>think again!-->
      <!--</h3>-->
      <!--<div class="preview">-->
          <!--<div class="push-s">-->
              <!--People live their life in a reactive state. They react to their environment instead of proactively make-->
              <!--things happen. Read more on how to turn that around by developing a simple habit.”-->
          <!--</div>-->
          <!--<div class="read-more">-->
              <!--<button class="pure-button"-->
                      <!--ng-click="addEmptyTimeAndLocation()"-->
                      <!--ui-sref="concept-habit-and-routine"-->
                  <!--&gt;-->
                  <!--<div class="cont-icon-left">-->
                      <!--<ons-icon icon="ion-university"></ons-icon>-->
                      <!--<div class="stage">-->
                          <!--Read more-->
                      <!--</div>-->
                  <!--</div>-->
              <!--</button>-->
          <!--</div>-->
      <!--</div>-->
      <!--<img class="paragraph" src="product/page/concept/image/311182178c.jpg" alt=""/>-->
    <!--</div>-->

  <div class="grid-whole pusher-bottom"></div>
</section>

<footer class="grid-whole padded">
  <a class="pure-button pure-button"
     ng-click="goToPageIf('isDisabledBtnBack', 'back')"
      >Back</a>
</footer>