.page-main {
  .highlighted {
    color: #06a13f;
  }

  //.done {
  //  color: #06a13f;
  //}

  .profile-card {
    width: 100%;
    overflow: auto;
  }

  .profile-image {
    width: 100%;
    float: left;
  }

  .profile-name {
    margin: 20px 0 0 0;
    font-weight: 600;
    font-size: 17px;
  }

  .profile-id {
    margin: 0 0 5px 0;
    font-size: 14px;
    opacity: 0.6;
  }

  .profile-desc {
    font-size: 15px;
    opacity: 0.6;
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }

  .action-col {
    text-align: center;
    opacity: 0.4;
    padding: 10px 0 8px;
  }

  .action-col:active {
    opacity: 0.7;
  }

  .action-col ons-button {
    padding: 0;
    line-height: 1;
  }

  .action-icon {
    padding: 0 0 4px 0;
  }

  .action-icon ons-icon {
    font-size: 28px;
  }

  .action-label {
    font-size: 12px;
  }

  .plan-name {
    font-size: 17px;
    margin-bottom: 8px;
    margin-left: 5px;
    color: rgb(37, 166, 217);

    margin-right: 37px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &.highlighted {
      color: #06a13f;
    }
  }

  .plan-right {
    padding: 10px 40px 10px 14px;
  }

  .btn-new-ip {
    display: inline-block;
    position: absolute;
    z-index: 99;
    top: 7px;
    right: 0;

    margin: 1px 10px;
    background: #25A6D9;
    border-radius: 4px;
    color: white;
    padding: 0 10px;
    font-size: 11px;
    line-height: 21px;
  }

  .note-info {
    font-size: 12px;
    line-height: 1.4;
    height: 2.8em;
    overflow: hidden;

    &.description {
      opacity: 1;
    }

    &.sub {
      margin-top: 7px;
      opacity: 0.4;
    }
  }

  .plan {
    line-height: 1;
    padding: 0;
  }

  ons-icon.align, i.align {
    width: 23px;
  }

  .btn-list {
    position: absolute;
    right: 8px;
    top: 9px;
  }

  .date-created {
    font-size: 13px;
    margin-left: 5px;
    margin-bottom: 11px;
    margin-top: 2px;
  }

  .btn-list span.fa {
    font-size: 22px;

    &.fa-check {
      margin-right: 6px;
    }
  }

  .current-challenge {
    .plan-right {
      padding: 10px 40px 10px 10px;
    }

    .difficulty {
      font-size: 13px;
      margin-top: 8px;
      margin-left: 4px;
      margin-bottom: 8px;

      .fa.fa-star {
        color: rgba(37, 166, 217, 0.59);
      }
    }

    .btn-new-note {
      display: inline-block;
      position: absolute;
      z-index: 99;
      top: 7px;
      right: 0;

      margin: 1px 10px;
      background: #25A6D9;
      border-radius: 4px;
      color: white;
      padding: 0 10px;
      font-size: 11px;
      line-height: 21px;

      .fa-lg {
        font-size: 1em;
        line-height: 0.5em;
      }
    }
  }

  .user-goal-list {
    .sub {
      opacity: 0.4;
    }

    .plan-info {
      padding-top: 3px;
    }
  }

  ons-row.action {
    .fa-lg {
      line-height: 1em;
    }
  }
}

.toolbar-button {
  .ion-navicon.light-up {
    color: #25a6d9;
    transition: 500ms;
  }
}
