<section class="content page-main" xmlns="http://www.w3.org/1999/html">
  <profile-widget></profile-widget>

  <ons-list style="border-top: none">
    <ons-list-item style="line-height: 1; padding: 0;">
      <ons-row class="action">

        <ons-col class="action-col"
                 ng-class="{'highlighted': isHighlitedBtnPlans}"
                 ng-click="goToPageIf('isDisabledBtnPlans', '#/home')">
          <div class="action-icon"><ons-icon icon="ion-android-lightbulb"></ons-icon></div>
          <div class="action-label">Projects</div>
        </ons-col>

        <ons-col class="action-col"
                 ng-class="{'highlighted': isHighlitedBtnClassroom}"
                 ng-click="goToPageIf('isDisabledBtnClassroom', '#/daily')">
          <div class="action-icon"><ons-icon icon="fa-database"></ons-icon></div>
          <div class="action-label">MED</div>
        </ons-col>

        <ons-col class="action-col"
                 ng-class="{'highlighted': isHighlitedBtnIntellectualProperty}"
                 ng-click="goToPageIf('isDisabledBtnIntellectualProperty', '#/note-list')">
          <div class="action-icon"><ons-icon icon="ion-android-note"></ons-icon></div>
          <div class="action-label">Notes</div>
        </ons-col>

        <ons-col class="action-col"
                 ng-class="{'highlighted': isHighlitedBtnComfortChallenge}"
                 ng-click="goToPageIf('isDisabledBtnComfortChallenge', '#/comfort-challenge')">
          <div class="action-icon"><ons-icon icon="ion-flag"></ons-icon></div>
          <div class="action-label">Comfort Challenges</div>
        </ons-col>

      </ons-row>
    </ons-list-item>
  </ons-list>

  <ons-list>
    <ons-list-header class="list__header ons-list-header-inner">Quote of the Day</ons-list-header>
    <quote c-note="cNote" time="time"></quote>
  </ons-list>

  <get-structured-widget c-get-structured="cGetStructured"
                         c-daily-priority="cDailyPriority"
                         time="time"></get-structured-widget>

  <mini-review-widget c-get-structured="cGetStructured"
                      time="time"></mini-review-widget>

  <util-list>
    <ons-list-header class="list__header ons-list-header-inner"
                     ng-if="cNote.JSON.length !== 0"
    >Latest Notes</ons-list-header>
    <ons-list-item ng-if="cNote.JSON.length !== 0">
      <ons-row>
        <ons-col>
          <habit-streak c-list="cNote"
                        icon="fa-file-text"
                        time="time"></habit-streak>
        </ons-col>
      </ons-row>
    </ons-list-item>
    <ons-list-item  modifier="chevron"
                    class="plan"
                    ng-repeat="mNote in cNote.JSON | orderBy: '-timestamp'"
                    ng-if="$index < 2"
                    ng-if="cNote.JSON.length !== 0"
    >
      <ons-row>
        <ons-col class="plan-right">
          <div class="plan-name">{{mNote.name}}</div>

          <div class="btn-new-ip"
               ng-if="$index === 0"
               ng-click="goToNoteDetail('new')">
            <span class="fa fa fa-file-text"></span> Add
          </div>

          <div class="cont-icon-left">
            <ons-icon icon="ion-android-note align"></ons-icon>
            <div class="stage note-info">
              {{html2text(mNote.description)}}
            </div>
          </div>

          <strength strength="mNote.ctrUpdate"></strength>

          <div class="tap-area"
               ng-click="goToNoteDetail(mNote.id, 'isDisabledBtnIntellectualPropertyOpen')"
              ></div>
        </ons-col>
      </ons-row>
    </ons-list-item>

  </util-list>

  <util-list>
    <ons-list-header class="list__header ons-list-header-inner"
                     ng-if="listChallengeCurrent.length !== 0"
        >Ongoing Comfort Challenges
    </ons-list-header>
    <ons-list-item class="plan current-challenge" modifier="chevron"
                   ng-if="listChallengeCurrent.length !== 0"
                   ng-repeat="mComfortChallenge in listChallengeCurrent">
      <ons-row>
        <ons-col class="plan-right">
          <div class="plan-name">
            {{mComfortChallenge.name}}
          </div>

          <div class="btn-new-note"
               ng-if="$index === 0"
               ng-click="addNewNote(mComfortChallenge)">
            <ons-icon icon="ion-android-note"></ons-icon> Note
          </div>

          <div class="difficulty">
            <span>DIFFICULTY</span>
            <span class="fa fa-star" ng-repeat="start in [] | range:mComfortChallenge.difficulty"></span>
            <span class="duration margin-hor">PROGRESS:
              <span class="days">{{getAge(mComfortChallenge)}} / {{mComfortChallenge.duration}} Days</span></span>
          </div>

          <div class="cont-icon-left">
            <ons-icon icon="fa-flag align"></ons-icon>
            <div class="stage note-info margin-right">
              {{mComfortChallenge.shortDescription}}
            </div>
          </div>

          <div class="tap-area"
               ng-click="goToComfortChallengeDetail(mComfortChallenge.id)"
              ></div>
        </ons-col>
      </ons-row>
    </ons-list-item>

  </util-list>

  <ons-list class="user-goal user-goal-list">
    <ons-list-header class="list__header ons-list-header-inner"
                     ng-if="cUserGoal.JSON.length !== 0"
    >Projects</ons-list-header>
    <ons-list-item modifier="chevron" class="plan"
                   ng-repeat="mUserGoal in cUserGoal.JSON"
                   ng-if="$index < 2">
      <ons-row>
        <ons-col class="plan-right">
          <div class="plan-name">{{mUserGoal.name}}</div>

          <div class="cont-icon-left push-xs">
            <ons-icon icon="fa-lightbulb-o align"></ons-icon>
            <div class="stage plan-info">
              {{mUserGoal.description}}
            </div>
          </div>

          <div class="cont-icon-left sub">
            <i class="fa fa-line-chart align"></i>
            <div class="stage plan-info">
              Progress: {{getProgress(mUserGoal)}}
              <schedule m-user-goal="mUserGoal"
                        c-track-record="cTrackRecord"
                        time-service="time"
              ></schedule>
            </div>
          </div>

          <div class="tap-area"
               ng-click="goToUserGoalDetail(mUserGoal.id)"
          ></div>
        </ons-col>
      </ons-row>
    </ons-list-item>

  </ons-list>
</section>