<!DOCTYPE html>
<!--<html manifest="manifest.php">-->
<html>
<head>
  <title>Angular App Boilerplate</title>

  <link rel="stylesheet" href="lib/vendor/onsen/onsenui.css">
  <link rel="stylesheet" href="lib/vendor/onsen/onsen-css-components-blue-basic-theme.css">
  <link rel="stylesheet" href="lib/vendor/font_awesome/css/font-awesome.css"/>
  <link rel="stylesheet" href="stylesheet/css/stylesheet/style-main.css">

  <meta name="viewport" content="initial-scale=1, user-scalable=no, width=device-width">

  <!--<script type="text/javascript" charset="utf-8" src="cordova.js"></script>-->

  <script data-main="main" src="lib/vendor/require.js"></script>

  <style type="text/css">

  </style>

</head>
<body ng-controller="CtrlApp">

<!-- # Splash screen-->
<style>
  .splash-screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    z-index: 99999;

    transition: opacity 1s;
  }

  .splash-screen.fading {
    opacity: 0;
  }

  .splash-screen.disabled {
    display: none;
  }

  .splash-screen span {
    color: white;
    font-style: 'verdana';
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: table;
    margin: auto;
    text-align: center;

    padding: 32px;
  }

  .splash-screen img{
    margin-top: 32px;
  }
</style>
<div class="splash-screen">
  <span>
    "You were built to be strong, fearless, confident and powerful. You were designed to tainted wilderness and
    carve canals through mountains to conquer nations and build empires to cross oceans and walk on the Moon."<br>
    <img src="image/man20.jpg" alt=""/>
  </span>

</div>
<script>
  var intervalSplashScreen = setInterval(function () {
    if (typeof document.querySelector('.content') === 'undefined') {
      return;
    }

    document.querySelector('.splash-screen').classList.add('fading');
    setTimeout(function () {
      document.querySelector('.splash-screen').classList.add('disabled');
    }, 1000);

    clearInterval(intervalSplashScreen);
  }, 1000);
</script>

<ons-sliding-menu main-page="page.html" menu-page="menu.html" max-slide-distance="260px" type="push" var="menu">
</ons-sliding-menu>

<ons-template id="page.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button ng-click="menu.toggleMenu()">
          <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center" ng-click="$log.debug('pageManager', pageManager)">{{pageManager.title}} </div>
    </ons-toolbar>

    <reward-popup></reward-popup>
    <div ui-view class="page-root"></div>

  </ons-page>
</ons-template>

<ons-template id="menu.html">
  <ons-page modifier="menu-page">
    <ons-toolbar modifier="transparent">
      <div class="right">
        <ons-toolbar-button class="menu-closeMenu" ng-click="menu.closeMenu()">
          </ons-icon>Close
        </ons-toolbar-button>
      </div>
    </ons-toolbar>

    <ons-list class="menu-list">
      <ons-list-item class="menu-item home"
                     ng-click="menu.goToPage('home')">
        <ons-icon icon="ion-android-lightbulb"></ons-icon>
        <div class="disableBtn home"></div>
        Projects
      </ons-list-item>

      <ons-list-item class="menu-item note noteList"
                     ng-click="menu.goToPage('note-list')">
        <ons-icon icon="ion-android-note"></ons-icon>
        <div class="disableBtn noteList"></div>
        Notes
      </ons-list-item>

      <ons-list-item class="menu-item main"
                     ng-click="menu.goToPage('daily')">
        <ons-icon icon="fa-database"></ons-icon>
        <div class="disableBtn main"></div>
        MED
      </ons-list-item>

      <!--<ons-list-item class="menu-item comfortChallenge"-->
                     <!--ng-click="menu.goToPage('comfort-challenge')">-->
        <!--<ons-icon icon="fa-flag"></ons-icon>-->
        <!--<div class="disableBtn comfortChallenge"></div>-->
        <!--Comfort Challenges-->
      <!--</ons-list-item>-->

      <ons-list-item class="menu-item main"
                     ng-click="menu.goToPage('main')">
        <ons-icon icon="fa-tasks"></ons-icon>
        <div class="disableBtn main"></div>
        Overview
      </ons-list-item>

      <!--<ons-list-item class="menu-item classroom"-->
                     <!--ng-click="menu.goToPage('classroom')">-->
        <!--<ons-icon icon="ion-university"></ons-icon>-->
        <!--<div class="disableBtn classroom"></div>-->
        <!--Classroom-->
      <!--</ons-list-item>-->

      <ons-list-item class="menu-item underlyingConcept"
                     ng-click="menu.goToPage('achievement')">
        <ons-icon icon="fa-trophy"></ons-icon>
        <div class="disableBtn underlyingConcept"></div>
        Achievements
      </ons-list-item>

      <!--<ons-list-item class="menu-item classroom"-->
                     <!--ng-click="menu.goToPage('get-structured')">-->
        <!--<ons-icon icon="fa-sun-o"></ons-icon>-->
        <!--<div class="disableBtn classroom"></div>-->
        <!--Daily Priority-->
      <!--</ons-list-item>-->

      <!--<ons-list-item class="menu-item classroom"-->
                     <!--ng-click="menu.goToPage('mini-review')">-->
        <!--<ons-icon icon="fa-moon-o"></ons-icon>-->
        <!--<div class="disableBtn classroom"></div>-->
        <!--Mini Review-->
      <!--</ons-list-item>-->

      <ons-list-item class="menu-item underlyingConcept"
                     ng-click="menu.goToPage('dev')">
        <ons-icon icon="fa-leaf"></ons-icon>
        <div class="disableBtn underlyingConcept"></div>
        Dev Options
      </ons-list-item>

      <!--<ons-list-item class="menu-item underlyingConcept"-->
                     <!--ng-click="menu.goToPage('concept/introduction')">-->
        <!--<ons-icon icon="fa-book"></ons-icon>-->
        <!--<div class="disableBtn underlyingConcept"></div>-->
        <!--Underlying Concepts-->
      <!--</ons-list-item>-->
    </ons-list>

    <br>

    <ons-list class="bottom-menu-list">
      <!--<ons-list-item class="bottom-menu-item" ng-click="menu.goToPage('setting')">-->
        <!--<div class="disableBtn setting"></div>-->
        <!--Settings-->
      <!--</ons-list-item>-->

      <ons-list-item class="bottom-menu-item" ng-click="menu.goToPage('about')">
        <div class="disableBtn about"></div>
        About
      </ons-list-item>
    </ons-list>

  </ons-page>
</ons-template>

<alert></alert>

<div class="app-expired-screen">
  <h1>Free Trial Expired</h1>
  <p>If you liked the app, please consider purchasing the full version.</p>
  <div>
    <img class="welcome"
         src="image/coach-main-no-bg.png"/>
  </div>
</div>

</body>
</html>