strength {
  display: block;
  overflow: auto;
  padding-left: 4px;

  color: black;
  font-size: 9px;

  .bar-bg {
    background: rgba(37, 166, 217, 0.25);
    width: 100%;
    height: 5px;
    margin-bottom: 3px;

    overflow-x: hidden;

    .bar {
      background: #25A6D9;
      width: 10%;
      height: 100%;
    }
  }
}