@import "directive-strength";

.button--large--cta {
  &.highlighted {
    background-color: #06a13f;
  }
}

.page-note-list {
  .plan-list {
    border-top: none;
    background-image: none !important;

    ons-col {
      position: relative;
    }
  }

  .plan {
    line-height: 1;
    padding: 0;
  }

  .plan-left {
    text-align: right;
    padding: 10px 10px 10px 0;
  }

  .plan-center {
    background-color: #ccc;
    opacity: 0.5;
  }

  .plan-right {
    padding: 10px 40px 10px 10px;
  }

  .plan-date {
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 4px;
    font-weight: 500;
  }

  .plan-duration {
    font-size: 11px;
    opacity: 0.4;
  }

  .plan-name {
    font-size: 17px;
    margin-bottom: 8px;
    margin-left: 5px;
    color: rgb(37, 166, 217);
  }

  .note-info {
    font-size: 12px;
    line-height: 1.4;
    height: 2.8em;
    overflow: hidden;

    &.description {
      opacity: 1;
    }

    &.sub {
      margin-top: 7px;
      opacity: 0.4;
    }
  }

  .sub {
    margin-top: 7px;
    opacity: 0.4;
  }

  ons-icon.align, i.align {
    width: 23px;
  }

  .plan-right {
    position: relative;
  }

  .empty-list {
    font-size: 13px;
    color: #444;

    position: relative;
    overflow: auto;
    margin-top: 16px;

    h3 {
      position: absolute;
      opacity: 0.9;
      top: 0;
      right: 13px;
      left: 13px;

      ons-icon {
        font-size: 38px;
        float: left;
        margin-right: 8px;
      }
    }

    .preview {
      position: absolute;
      bottom: 0;
      right: 13px;
      left: 13px;
      background: #25A6D9;
      opacity: 0.96;
      color: white;
      font-size: 15px;
      padding: 16px;
      text-align: justify;
    }

    img {
      width: 100%;
      margin: -12px 0;
    }

    .read-more button {
      background: white;

      ons-icon {
        color: #288CB7;
      }
    }

    .p-title {
      background: white;
      padding: 5px 15px;
      color: #3191BA;
      font-size: 16px;
      margin: 0;
      text-align: left;
    }

    .author {
      margin-bottom: -29px;
    }
  }

  .indexIdea.fa-puzzle-piece {
    position: absolute;
    bottom: 10px;
    left: 16px;
    color: #268EB9;
    font-size: 20px;
  }

  .idea-list {
    .description {
      overflow: auto;
      padding: 10px;
      text-align: justify;

      img {
        display: inline-block;
        width: 20%;
        float: left;
      }

      span {
        width: 80%;
        display: block;
        float: left;
      }
    }

    .dropdown {
      background: wheat;
      color: #6B4A0E;
      padding: 8px;
      text-align: center;
    }

    ons-list {
      background: rgb(241, 210, 154);
      position: absolute;
      z-index: 99;
      left: 0;
      right: 0;

      ons-list-item {
        color: #6B4A0E;
        border-bottom: 1px solid #F5DEB3;;
        background-image: none;

        &:before {
          color: #6B4A0E;
        }
      }
    }

    .fa-check-circle-o {
      color: green;
    }
  }
}

.page-note-add {
  background: white;

  util-list {
    border: none;
    width: 100%;
  }

  .editor {
    position: relative;

  }

  .note-title {
    font-size: 17px;
    color: #25a6d9;
    padding: 0;
  }

  .editor-content {
    min-height: 100px;
    outline: none;
    font-size: 13px;
  }

  div.pusher-top {
    height: 44px;
  }

  .idea {
    background: wheat;
    color: #6B4A0E;
    padding: 8px;
    overflow: auto;

    .title {
      margin-bottom: 6px;
      font-weight: bold;
    }

    .description {
      text-align: justify;
    }
  }
}

.page-note-suggestion-list {
  background: wheat;
  color: #6B4A0E;

  .description {
    overflow: auto;
    padding: 10px;
    text-align: justify;

    img {
      display: inline-block;
      width: 20%;
      float: left;
    }

    span {
      width: 80%;
      display: block;
      float: left;
    }
  }

  ons-list {
    background: wheat;

    ons-list-header {
      background: #EFCC8D;
    }

    border-bottom: 1px solid #EFCC8D;

    .list__item--chevron:before {
      color: #6B4A0E;
    }

    ons-list-item:not(:last-child), ons-list-item:last-child {
      color: #6B4A0E;
      border-bottom: 1px solid #6B4A0E;
      background-image: none;

      &:before {
        color: #6B4A0E;
      }
    }
  }

  .fa-check-circle-o {
    color: green;
  }
}

.editor-toolbar {
  background: rgb(36, 155, 202);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  padding: 8.5px;

  -webkit-box-shadow: 0px 0.3px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0.3px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0.3px 2px 0px rgba(0,0,0,0.75);

  overflow: hidden;

  .slider {
    white-space: nowrap;
    transition: 500ms;
    &.active {
      margin-left: -86px;
    }
  }

  button {
    width: 36px;
    border-radius: 3px;
    border: 0px solid black;
    font-size: 13px;
    padding: 5px;
    color: white;

    &.active {
      background: #25A6D9;
      color: white;
    }
  }

  .show-more {
    background: rgb(36, 155, 202);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border-left: 1px solid rgba(128, 128, 128, 0.51);
    -webkit-box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.45);
    box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.45);

    span.fa {
      padding: 13px 5px;
      color: white;
    }
  }
}
