<section class="content page-note-suggestion-list" xmlns="http://www.w3.org/1999/html">
  <div class="description">
    <img src="image/coach-head.png"/>
    <span>Writing about the following topics makes you think outside your comfort zone.</span>
  </div>
  <ons-list>
    <div ng-repeat="idea in listIdeaFull">
      <ons-list-header class="list__header ons-list-header-inner">{{idea.categoryName}}</ons-list-header>
      <ons-list-item  modifier="chevron"
                      ng-repeat="suggestion in idea.suggestionList"
                      ng-click="addNewNote($parent.$index, $index)">
        <span class="fa fa-puzzle-piece"></span>&nbsp;&nbsp;{{suggestion.title}}
        &nbsp;
        <span class="fa fa-check-circle-o"
              ng-if="isIdeaDone($parent.$index, $index)"></span>
      </ons-list-item>
    </div>
  </ons-list>

  <div class="grid-whole pusher-bottom"></div>
</section>

<footer class="grid-whole padded">
  <a  class="pure-button pure-button"
      ng-click="goToPageIf('isDisabledBtnBack', 'back')"
      >Back</a>
</footer>