<section class="content page-note-list" xmlns="http://www.w3.org/1999/html">
  <profile-widget></profile-widget>

  <div class="grid-whole">
    <div class="idea-list">
      <div class="description">
        <img src="image/coach-head.png"/>
        <span>Any valuable delivered to the public is accumulated value. You can accumulate yours here!</span>
      </div>
      <div  class="dropdown"
            ng-click="isIdeaDropdownActive = !isIdeaDropdownActive">
        <span class="fa fa-question-circle"></span>
        No idea where to start? Tap here!
      </div>
      <ons-list ng-show="isIdeaDropdownActive">
        <div ng-repeat="idea in listIdeaFull">
          <ons-list-item  modifier="chevron"
                          ng-repeat="suggestion in idea.suggestionList"
                          ng-click="addNewNote($parent.$index, $index)"
                          ng-show="$parent.$index === 0 && $index < 3">
            <span class="fa fa-puzzle-piece"></span>&nbsp;&nbsp;{{suggestion.title}}
            &nbsp;
            <span class="fa fa-check-circle-o"
                  ng-if="isIdeaDone($parent.$index, $index)"></span>
          </ons-list-item>
        </div>
        <ons-list-item  modifier="chevron"
                        ui-sref="note-suggestion-list">
          More
        </ons-list-item>
      </ons-list>
    </div>

    <habit-streak class="push-xs"
                  c-list="cNote"
                  icon="fa-file-text"
                  time="time"
                  ng-show="cNote.JSON.length > 1"></habit-streak>

    <ons-list class="note-list">
      <ons-list-item modifier="chevron" class="plan" ng-repeat="mNote in cNote.JSON | orderBy: '-timestamp'">
        <ons-row>
          <ons-col width="50px" class="plan-left">
            <!--<div class="plan-date">5:30 PM</div>-->
            <!--<div class="plan-duration">1h</div>-->
            <span class="icon icon-bin" ng-click="removeNote(mNote.id)"></span>
            <span class="indexIdea fa fa-puzzle-piece" ng-if="mNote.indexIdea != -1"></span>
          </ons-col>

          <ons-col width="6px" class="plan-center">
            <div class="bar"
                 ng-style="{backgroundColor: '#3399ff'}"
                ></div>
          </ons-col>

          <ons-col class="plan-right">
            <div class="plan-name">{{mNote.name}}</div>

            <div class="cont-icon-left">
              <ons-icon icon="ion-android-note align"></ons-icon>
              <div class="stage note-info">
                {{html2text(mNote.description)}}
              </div>
            </div>

            <strength strength="mNote.ctrUpdate"></strength>

            <div class="tap-area"
                 ng-click="goToNoteDetail(mNote.id)"
                ></div>
          </ons-col>
        </ons-row>
      </ons-list-item>

    </ons-list>

  </div>

  <!--<div class="grid-whole padded-inner center empty-list"-->
       <!--ng-show="cNote.JSON.length === 0">-->
    <!--<h3 class="p-title">-->
      <!--<ons-icon icon="ion-university"></ons-icon>-->
      <!--To raise IP improve your ideas iteratively by keep adding details!-->
    <!--</h3>-->
    <!--<div class="preview">-->
      <!--"When there’s an asset, there are many ways to make money from it. If you want more income in your-->
      <!--business you need a bigger asset. In business the main asset you have is called “Intellectual Property,” or-->
      <!--“IP” for short...-->
      <!--<div class="author margin-ver-m left">by Daniel Priestly</div>-->
      <!--<div class="read-more">-->
        <!--<button class="pure-button"-->
                <!--ng-click="addEmptyTimeAndLocation()"-->
                <!--ui-sref="concept-intellectual-property"-->
            <!--&gt;-->
          <!--<div class="cont-icon-left">-->
            <!--<ons-icon icon="ion-university"></ons-icon>-->
            <!--<div class="stage">-->
              <!--Read more-->
            <!--</div>-->
          <!--</div>-->
        <!--</button>-->
      <!--</div>-->
    <!--</div>-->
    <!--<img class="paragraph" src="product/page/concept/image/untitled95.jpg" alt=""/>-->
  <!--</div>-->

  <div class="grid-whole pusher-bottom"></div>
</section>

<footer class="grid-whole padded">
  <button class="button--large--cta"
          ng-class="{'highlighted': isHighlitedBtnCreateNewNote}"
          ng-click="addNewNote()"
      >Create New Note</button>
</footer>