<div class="editor-toolbar">
  <div class="slider" ng-class="{active: isSliderActive}">
    <button class="button--light"
            ng-class="{'active': buttonMap.undo}"
            ng-click="formatUndo($event)">
      <span class="fa fa-undo"></span>
    </button>
    <button class="button--light"
            ng-class="{'active': buttonMap.redo}"
            ng-click="formatRedo($event)">
      <span class="fa fa-repeat"></span>
    </button>
    <button class="button--light"
            ng-class="{'active': buttonMap.bold}"
            ng-click="formatBold($event)">
      <span class="fa fa-bold"></span>
    </button>
    <button class="button--light"
            ng-class="{'active': buttonMap.italic}"
            ng-click="formatItalic($event)">
      <span class="fa fa-italic"></span>
    </button>
    <button class="button--light"
            ng-class="{'active': buttonMap.underline}"
            ng-click="formatUnderline($event)">
      <span class="fa fa-underline"></span>
    </button>
    <button class="button--light"
            ng-class="{'active': buttonMap.ul}"
            ng-click="formatUnorderedList($event)">
      <span class="fa fa-list-ul"></span>
    </button>
    <button class="button--light"
            ng-class="{'active': buttonMap.ol}"
            ng-click="formatOrderedList($event)">
      <span class="fa fa-list-ol"></span>
    </button>
    <button class="button--light"
            ng-class="{'active': buttonMap.h1}"
            ng-click="formatHeading1($event)">
      <span class="fa fa-header">1</span>
    </button>
    <button class="button--light"
            ng-class="{'active': buttonMap.h2}"
            ng-click="formatHeading2($event)">
      <span class="fa fa-header">2</span>
    </button>
    <button class="button--light"
            ng-click="formatRemoveFormat($event)">
      <span class="fa fa-remove"></span>
    </button>
  </div>
  <div class="show-more">
    <span class="fa fa-arrows-h"
        ng-click="isSliderActive = !isSliderActive"></span>
  </div>
</div>
<section class="content page-note-add">
  <div class="grid-whole pusher-top"></div>
  <div class="idea"
       ng-show="showIdea()">
      <div class="title">{{listIdeaFull[indexCategory].suggestionList[indexIdea].title}}</div>
      <div class="description">{{listIdeaFull[indexCategory].suggestionList[indexIdea].description}}</div>
  </div>
  <util-list>
    <row>
      <input type="text"
             placeholder="Title of note"
             class="text-input--transparent note-title"
             ng-model="noteCurrent.name"
          />
    </row>
    <row class="editor">
      <form name="myForm">
        <span ng-show="myForm.$submitted && myForm.description.$error.required">Required!</span>
        <div contenteditable
             class="editor-content"
             name="description" ng-model="noteCurrent.description"
             strip-br="true"
             required></div>
      </form>
      <!--<div class="editor-cover"></div>-->
    </row>
  </util-list>

  <div class="grid-whole pusher-bottom"></div>
</section>
<footer class="grid-whole padded">
  <a  class="pure-button pure-button"
      ng-click="goToPageIf('isDisabledBtnBack', 'back')"
  >Back</a>
  <a ng-click="save()" class="pure-button pure-button-primary">Save</a>
</footer>