<section class="content page-track-record">
  <div class="grid-whole">
    <ons-list class="list ons-list-inner"
              ng-repeat="week in model.listWeek"
    >
      <ons-list-header class="list__header ons-list-header-inner">{{week.label}}</ons-list-header>

      <ons-list-item class="list__item list-item-container ons-list-item-inner"
                     ng-repeat="record in week.listTrackRecordCurrentWeek"
      >
        <div class="cont-icon-left">
          <i class="fa fa-clock-o stick-to-middle"></i>
          <div class="stage">
            {{record.dayOfWeek}} {{getDate(record.timeStart)}}
            <span class="duration padding-right">{{getDuration(record.duration)}}</span>
          </div>
        </div>
      </ons-list-item>
    </ons-list>
  </div>

  <div class="grid-whole pusher-bottom"></div>
</section>

<footer class="grid-whole padded">
  <a  class="pure-button pure-button"
      ng-click="goToUserGoalDetail(model.mUserGoal.id)"
  >Back</a>
</footer>