<section class="content page-dev" xmlns="http://www.w3.org/1999/html">
  <ons-list>
    <ons-list-header class="list__header ons-list-header-inner">General</ons-list-header>
    <ons-list-item style="overflow: auto;">
      <div class="grid-whole padded">
        <button class="button--large--cta"
                ng-click="resetApp()"
                >Reset App</button>
      </div>
    </ons-list-item>
    <ons-list-header class="list__header ons-list-header-inner">Daily Focus</ons-list-header>
    <ons-list-item>
      <div class="grid-whole padded">
        <button class="button--large--cta push-s"
                ng-click="addXDaysStreak('cDailyPriority', 2)"
                >Add 3 Days Streak</button>
        <button class="button--large--cta"
                ng-click="addXDaysStreak('cDailyPriority', 2, true)"
                >Add 2 Days Streak</button>
        <button class="button--large--cta push-s"
                ng-click="addXDaysStreak('cDailyPriority', 6)"
                >Add 7 Days Streak</button>
        <button class="button--large--cta push-s"
                ng-click="addXDaysStreak('cDailyPriority', 6, true)"
                >Add 6 Days Streak</button>
        <button class="button--large--cta push-s"
                ng-click="addXDaysStreak('cDailyPriority', 13)"
                >Two Weeks Streak</button>
        <button class="button--large--cta push-s"
                ng-click="addXDaysStreak('cDailyPriority', 13, true)"
                >13 Days</button>
        <button class="button--large--cta push-s"
                ng-click="addXDaysStreak('cDailyPriority', 29)"
                >30 Days</button>
        <button class="button--large--cta push-s"
                ng-click="addXDaysStreak('cDailyPriority', 29, true)"
                >29 Days</button>
        <div>
          Today not included.
        </div>
      </div>
    </ons-list-item>

    <ons-list-header class="list__header ons-list-header-inner">Mini Review</ons-list-header>
    <ons-list-item>
      <div class="grid-whole padded">
          <button class="button--large--cta push-s"
                  ng-click="addXDaysStreak('cGetStructured', 2)"
              >Add 3 Days Streak</button>
          <button class="button--large--cta"
                  ng-click="addXDaysStreak('cGetStructured', 2, true)"
              >Add 2 Days Streak</button>
          <button class="button--large--cta push-s"
                  ng-click="addXDaysStreak('cGetStructured', 6)"
              >Add 7 Days Streak</button>
          <button class="button--large--cta push-s"
                  ng-click="addXDaysStreak('cGetStructured', 6, true)"
              >Add 6 Days Streak</button>
          <button class="button--large--cta push-s"
                  ng-click="addXDaysStreak('cGetStructured', 13)"
              >Two Weeks Streak</button>
          <button class="button--large--cta push-s"
                  ng-click="addXDaysStreak('cGetStructured', 13, true)"
              >13 Days</button>
          <button class="button--large--cta push-s"
                  ng-click="addXDaysStreak('cGetStructured', 29)"
              >30 Days</button>
          <button class="button--large--cta push-s"
                  ng-click="addXDaysStreak('cGetStructured', 29, true)"
              >29 Days</button>
          <div>
              Today not included.
          </div>
      </div>
    </ons-list-item>

    <ons-list-header class="list__header ons-list-header-inner">IP</ons-list-header>
    <ons-list-item>
        <div class="grid-whole padded">
            <button class="button--large--cta push-s"
                  ng-click="addXDaysStreak('cNote', 2)"
              >Add 3 Days Streak</button>
            <button class="button--large--cta"
                  ng-click="addXDaysStreak('cNote', 2, true)"
              >Add 2 Days Streak</button>
            <button class="button--large--cta push-s"
                  ng-click="addXDaysStreak('cNote', 6)"
              >Add 7 Days Streak</button>
            <button class="button--large--cta push-s"
                  ng-click="addXDaysStreak('cNote', 6, true)"
              >Add 6 Days Streak</button>
            <button class="button--large--cta push-s"
                  ng-click="addXDaysStreak('cNote', 13)"
              >Two Weeks Streak</button>
            <button class="button--large--cta push-s"
                  ng-click="addXDaysStreak('cNote', 13, true)"
              >13 Days</button>
            <button class="button--large--cta push-s"
                  ng-click="addXDaysStreak('cNote', 29)"
              >30 Days</button>
            <button class="button--large--cta push-s"
                  ng-click="addXDaysStreak('cNote', 29, true)"
              >29 Days</button>
            <div>
              Today not included.
            </div>
        </div>
    </ons-list-item>

    <ons-list-header class="list__header ons-list-header-inner">
        Time: {{time.get().format('YYYY MMM dd HH:mm')}} <br>
        Y: {{time._mTime.year}}
        M: {{time._mTime.month}}
        D: {{time._mTime.day}}
        H: {{time._mTime.hour}}
        M: {{time._mTime.min}}
    </ons-list-header>
    <ons-list-item>
      <div class="grid-whole padded">
        <div>
            <button class="button--cta"
                  ng-click="time.addYear()"
                  >+Y</button>
            <button class="button--cta"
                  ng-click="time.addMonth()"
                  >+M</button>
            <button class="button--cta"
                  ng-click="time.addDay()"
                  >+D</button>
            <button class="button--cta"
                    ng-click="time.addHour()"
                    >+H</button>
            <button class="button--cta"
                    ng-click="time.addMin()"
                    >+M</button>
        </div>
      </div>
      <div class="grid-whole padded">
          <div>
            <button class="button--cta"
                  ng-click="time.subYear()"
                  >-Y</button>
            <button class="button--cta"
                  ng-click="time.subMonth()"
                  >-M</button>
            <button class="button--cta"
                  ng-click="time.subDay()"
                  >-D</button>
            <button class="button--cta"
                  ng-click="time.subHour()"
                  >-H</button>
            <button class="button--cta"
                  ng-click="time.subMin()"
                  >-M</button>
          </div>
      </div>
      <div class="grid-whole padded">
        <div>
            <button class="button--cta"
                    ng-click="time.reset()"
                    >Reset</button>
        </div>
      </div>
    </ons-list-item>

    <manage-tables></manage-tables>
  </ons-list>

  <div class="grid-whole pusher-bottom"></div>
</section>

<footer class="grid-whole padded">
  <a class="pure-button pure-button"
     ng-class="{'highlighted': isHighlitedBtnBack}"
     ng-click="goToPageIf('isDisabledBtnBack', 'back')"
  >Back</a>
</footer>