<ons-list>
    <ons-list-header class="list__header ons-list-header-inner">Delete MySQL Tables</ons-list-header>
    <ons-list-item ng-repeat="name in listNameCollection" key="$index">
        <button class="button--large--cta push-s"
                ng-click="delete(name)"
            >{{name}}</button>
    </ons-list-item>
</ons-list>