// Some overwrites
.navigation-bar {
  background-color: #25a6d9;
  background-size: 100% 0px;

  &.navigation-bar--transparent {
    background-color: transparent;
  }
}

.toolbar-button {
  color: white;
}

.navigation-bar__title {
  color: white;
}

.page--menu-page {
  ons-icon {
    width: 22px;
  }
}