<section class="content page-concept-sepofspace" xmlns="http://www.w3.org/1999/html">
  <div class="grid-whole padded">
    <div class="grid-whole padded-sides">
      <h5>Separation of Space</h5>
      <p>
        If you mix up the environments with your activities, you will end up in a mixed mindset as well. You will never be fully working or relaxing. If you are a family man, and try to work from home you will be always reminded that you rather spent time with your kids. Having a girlfriend / boyfriend? ..well Im sure you will be reminded what else you could do with your time ;)</br>
        You need a dedicated space where you will be working on your project and on your project only. When you go there you have a single goal, to make progress. Put your phone in silence mode, close down all tabs in your browser if any and try not to make friendships where you want to work on your project. I know it sound antisocial, but if you have people to catch up with there, you will find yourself talking to someone 45 minutes instead of working on what you wanted. Go to socialise when you are done but don’t mix up your environments.
        Find a cafe or a cowering space if you need a quiet room. If you want to work out, find a gym instead of working out at home. This will put you in a position where you have nothing better to do but what you set out to do.
      </p>

      <div class="read-more">
        <button class="pure-button"
                ui-sref="add-new-goal.listTimeframe"
            >
          <div class="cont-icon-left">
            <i class="fa fa-book"></i>
            <div class="stage">
              Take Action
            </div>
          </div>
        </button>
      </div>

      </br>
      <h5>Related - Time Allocation</h5>
      <p>
        Make sure you block out time when you will be working on your project otherwise your daily routine will avoid you to get started.

      <div class="read-more">
        <button class="pure-button"
                ng-click="addEmptyTimeAndLocation()"
                ui-sref="concept-timeframe"
            >
          <div class="cont-icon-left">
            <i class="fa fa-book"></i>
            <div class="stage">
              Read more
            </div>
          </div>
        </button>
      </div>

      </p>

    </div>
  </div>

  <div class="grid-whole pusher-bottom"></div>
</section>

<footer class="grid-whole padded">
  <a class="pure-button pure-button"
     ng-click="goBack()"
      >Back</a>
</footer>