<section class="content page-concept-introduction" xmlns="http://www.w3.org/1999/html">
  <div class="grid-whole padded">
    <div class="grid-whole padded-sides">
      <h5>Statement</h5>
      <p class="push-m">
        Im no expert, Im just an enthusiast who happen to be a developer. Don’t listen to me, the principles you can find here come from more accomplished people than me.
      </p>

      <h5>Better than books?</h5>
      <p class="push-m">
        Books and videos great! They are entertaining, and people like to be entertained. I just recognised that there is a better medium than books or videos. You don’t have to read a 250 pages manual, called book to learn what you need to do. You can use technology to save time, and a feedback system to guide you through the process. You can become efficient at executing your projects by following well known principles and not to let external circumstance pushing you around on daily basis. This app can teach you only as much as required to get to the next step. We don’t want to bore you with the underlying concepts but if you are interested there is enough content provided for every step to satisfy your curiosity.
      </p>

      <h5>It has to be simple!</h5>
      <p>
        Most of the steps you need to do seems very simple. And it has to be! What is not obvious at first glance is the implications of consistently following those principles or not to following them. There are plenty of external factors that you could control and benefit from. But most people experience these external factors as obstacles that block them to finish what they've started. This app can help you to identify those factors, and forge them to benefit from them. You will recognise the patterns that earlier led you to failure and navigate confidently only by applying what we all know just never do.
      </p>

      <div class="read-more">
        <button class="pure-button"
                ng-click="addEmptyTimeAndLocation()"
                ui-sref="concept-steps"
            >
          <div class="cont-icon-left">
            <i class="fa fa-book"></i>
            <div class="stage">
              Continue to Steps
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>

  <div class="grid-whole pusher-bottom"></div>
</section>

<footer class="grid-whole padded">
  <a class="pure-button pure-button"
     ng-click="goBack()"
      >Back</a>
</footer>