<section class="content page-concept-timeframe" xmlns="http://www.w3.org/1999/html">
  <div class="grid-whole padded">
    <div class="grid-whole padded-sides">
      <h5>Time Allocation</h5>
      <p>
        We all have a daily routine, whether it is efficient or not, we have a routine that leave us with zero time at the end of the day. Its easy to say Im going to do X by end of next week. Of course at end of next week, when nothing happened, you think about it for a sec and say, "I had all those responsibilities and more or less important thing I had to do." and left you with no time and/or energy to work on what you said you were going to do. Therefore you need to block out time now when you will work on your project, and commit your self that when your routine kicks in you will say know and start working on your project.
      </p>

      <div class="read-more">
        <button class="pure-button"
                ui-sref="add-new-goal.listTimeframe"
            >
          <div class="cont-icon-left">
            <i class="fa fa-book"></i>
            <div class="stage">
              Take Action
            </div>
          </div>
        </button>
      </div>

      <br/>

      <h5>Related - Separation of Space</h5>
      <p>
        Don’t work on your project where you relax, eat or work on other things. The environment will remind you the task you used to do there and still left to do. Its easy to get distracted in such an environment.

      <div class="read-more">
        <button class="pure-button"
                ng-click="addEmptyTimeAndLocation()"
                ui-sref="concept-sepofspace"
            >
          <div class="cont-icon-left">
            <i class="fa fa-book"></i>
            <div class="stage">
              Read more
            </div>
          </div>
        </button>
      </div>
      </p>

    </div>
  </div>

  <div class="grid-whole pusher-bottom"></div>
</section>

<footer class="grid-whole padded">
  <a class="pure-button pure-button"
     ng-click="goBack()"
      >Back</a>
</footer>