<section class="content page-concept-reasons" xmlns="http://www.w3.org/1999/html">
  <div class="grid-whole padded">
    <div class="grid-whole padded-sides">
      <h5>Inspiration</h5>
      <p>
        Our mood controls our actions and we tend to do nothing about what mood we are in. “I just feel like doing this instead..” we often tell ourselves. We know what we wanted to do and we still keep doing something else. We think we are just to week to force ourselves to start doing what we know would be best for us. But, we shouldn’t ever force ourselves to do anything. That is the wrong way of going about it. We should find a way to get in the mood. And that requires a bit of technique and practice.</br>
        </br>
        Im sure you have your reasons why you want to push through your project. You can put all those reasons on a list as a reminder. When you feel like skipping your scheduled time to spend on your goal, you could just follow a simple rule: open up the app, go through that list and if you still don’t feel like working on it thats fine don’t do it than. Im sure over time you could come up with a convincing enough list to put you back on the right track under all circumstance.
      </p>

      <div class="read-more">
        <button class="pure-button"
                ui-sref="add-new-goal.ListReason"
            >
          <div class="cont-icon-left">
            <i class="fa fa-book"></i>
            <div class="stage">
              Take Action
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>

  <div class="grid-whole pusher-bottom"></div>
</section>

<footer class="grid-whole padded">
  <a class="pure-button pure-button"
     ng-click="goBack()"
      >Back</a>
</footer>