<section class="content page-concept-intellectual-property" xmlns="http://www.w3.org/1999/html">
  <div class="grid-whole padded">
    <div class="grid-whole padded-sides">
      <p>
        "When there’s an asset, there are many ways to make money from it. If you want more income in your business you need a bigger asset. In business the main asset you have is called “Intellectual Property,” or “IP” for short...<br/>
        <br/>
        So how do you create more of it? How do you know what IP you already have but take for granted? How do you dig up this gold? You write. You write articles, you write books, you write brochures, you draw diagrams and you get what’s in your head out on paper (or onto a hard drive at least)..."<br>
        <i>- Daniel Priestley in Entrepreneur Revolution</i>
      </p>
      <img class="paragraph" src="product/page/concept/image/untitled95.jpg" alt=""/>

      <p>
        You have thoughts running through your head all day long. The question is, how do you harness the power of this massive, associating machine called the brain and how do you focus it's efforts on what matters.
      </p>

      <h3 class="p-title">Mental capacity?</h3>
      <p>
        Just like computers, we also have limited short therm memory to work with. That's said, when we have important ideas, we would like to keep them all in our active short therm memory to avoid forgetting about any important detail. This pattern results a natural limit of coming up with new detailed ideas. We also have the false impression that we have all those clear details of our ideas, but when we try to put them down on paper, it becomes obvious that those are cloudy ideas and not very detailed at all.
      </p>

      <h3 class="p-title">Taking notes makes you more creative</h3>
      <p>
        Once you take a note on something, you know it's safe, you feel like you can let it fade, your mind is free to form and store new ideas. Thats said, taking notes literally makes you more creative.
      </p>

      <h3 class="p-title">Develop ideas from the ground up</h3>
      <p>
        When you take notes on your ideas, you can always go back and add more details to them. After editing them few times, you will have more details saved than you could have kept in your memory. This is how you develop an idea day by day.
      </p>

      <h3 class="p-title">Need more proof?</h3>
      <p>
        "Every mentor I’ve ever had keeps a journal on them. It shows up at every meeting, it goes on holiday with them, it rides shotgun next to them in the car and sleeps by their bed at night. There are so many ideas buzzing about in the empire builder brain. Brilliant, multi-million dollar ideas seem to come thick and fast showing up virtually every day – almost like a replacement for the newspaper. These ideas need to be explored on paper. Calculations need to be done, resources need to be explored, lists of missing pieces need to be accounted for and diagrams need to be sketched. No matter how smart you are, you need a journal..."<br>
        <i>- Daniel Priestley in Entrepreneur Revolution</i>
      </p>

      <h3 class="p-title">How do you get started?</h3>
      <p>
        "Start a journal. Make lists of high-value tasks, write down your goals, draw pictures, write sales copy and project your future. Keep track of your thoughts and mark down your milestones. Every empire builder needs to endlessly explore ideas, plans, goals , targets and keep track of important stories. ..."<br>
        <i>- Daniel Priestley in Entrepreneur Revolution</i>
      </p>
      <div class="read-more">
        <button class="button--large--cta"
                ng-class="{'highlighted': isHighlitedBtnTakeAction}"
                ng-click="goToPageIf('isDisabledBtnTakeAction', '#/note-list')"
            >Take Action</button>
        </button>
      </div>

    </div>
  </div>

  <div class="grid-whole pusher-bottom"></div>
</section>

<footer class="grid-whole padded">
  <a class="pure-button pure-button"
     ng-class="{'highlighted': isHighlitedBtnBack}"
     ng-click="goToPageIf('isDisabledBtnBack', 'back')"
      >Back</a>
</footer>