<section class="content page-concept-habit-and-routine" xmlns="http://www.w3.org/1999/html">
  <div class="grid-whole padded">
    <div class="grid-whole padded-sides">
      <p>
        People live their life in a reactive state. They react to their environment instead of proactively make things happen. Developing good habits is the simplest change that you can make to put yourself back in control and get results next day.
      </p>

      <h3 class="p-title">You think you are in control, think again!</h3>
      <img class="paragraph" src="product/page/concept/image/311182178.jpg" alt=""/>
      <p>
        Habits are responsible for more actions over the course of your day than conscious decisions. Habits are even formed and controlled in a different part of the brain than memory as Charles Duhigg details in The Power of Habits. As research shows, even if the part of the brain is damaged that is responsible for short and long therm memory, you can still form new habits and you will act accordingly throughout the day.
      </p>

      <h3 class="p-title">Have more mental capacity</h3>
      <img class="paragraph" src="product/page/concept/image/223952923.jpg" alt=""/>
      <p>
        The best thing about habits is that they don’t consume mental power so you can focus on new important tasks. You can think of it as automation. Even if an activity is beneficial, it still could drain your energy until it becomes a habit. Just like brushing your teeth. You don't think about it, it’s not even boring, you just do it every day without hesitation. You don't focus on how to do it well you just do it and your mind is free to wonder about everything else. Imagine the potential in doing everything you "have to” without hesitation!
      </p>

      <h3 class="p-title">Lack of Priorities</h3>
      <img class="paragraph" src="product/page/concept/image/166163462.jpg" alt=""/>
      <p>
        An easy mistake to make is to do whats easy and not whats important. Im sure it happened to you as well that you have done every small task that you could find only to avoid that phone call, that spreadsheet to complete, that conversation with someone.. once you realise this, its easy to fix it, with a good habit.
      </p>

      <h3 class="p-title">Prioritise Daily</h3>
      <p>
        All you need to do is that at the beginning of the day you identify your most important task for the day and get it done before 11am. You don't read emails or get into chit-chats, just get it done before 11 no matter what. Then if someone messes up the rest of your day you still have accomplished what matters.
        In a week you will resolve pressing issues that you were postponing since forever and feel as relaxed and inspirited about you momentum that you will accomplish more than ever before.
      </p>

      <h3 class="p-title">Make every day better than the one before</h3>
      <img class="paragraph" src="product/page/concept/image/267812138.jpg" alt=""/>
      <p>
        The other quick technique is to identify each day what went wrong and come up with an action to fix it or avoid it in the future. Often there is something that just completely messes up your day, you didn't see coming. At the end of the day just find a quite place and think through your day. Find out what was the most annoying thing that happened to you and how to fix that or avoid it in the future.
        This iterative approach puts you back in control and helps you to make every day better than the one before.
      </p>

      <h3 class="p-title">Take it easy</h3>
      <img class="paragraph" src="product/page/concept/image/253195738.jpg" alt=""/>
      <p>
        When you consistently focus on what is wrong, you often end up being stressed. Therefore, you also need to keep an eye on what went well. Focusing on both good and bad gives you a balanced impression of your days and helps you to feel more fulfilled instead of frustrated.
      </p>

      <h3 class="p-title">Consistency is the key to success</h3>
      <p>
        Never brake your habits. Once you did that, you will always have to think it through whether you are allowed  to break it again when something comes up. Kinda defeats the purpose.
      </p>

      <div class="read-more">
        <button class="button--large--cta"
                ng-class="{'highlighted': isHighlitedBtnTakeAction}"
                ng-click="goToPageIf('isDisabledBtnTakeAction', '#/get-structured')"
            >Take Action</button>
      </div>

    </div>
  </div>

  <div class="grid-whole pusher-bottom"></div>
</section>

<footer class="grid-whole padded">
  <a class="pure-button pure-button"
     ng-class="{'highlighted': isHighlitedBtnBack}"
     ng-click="goToPageIf('isDisabledBtnBack', 'back')"
  >Back</a>
</footer>