<section class="content page-concept-steps" xmlns="http://www.w3.org/1999/html">
  <div class="grid-whole padded">
    <div class="grid-whole padded-sides">
      <h5>Steps</h5>
      <p>
        The very first step is to define what you really want to achieve, regardless of what goal is. Then to break it down to quantifiable, measurable steps. Sometimes when you are stuck at some step, often turns out that it is more than one step, and thats why you struggle to finish it. An obvious signs is when you say "there is just this last thing before its done”. In this case, those steps in your project needs to be broken down to further steps and details. That will help to start making progress again.</br>

        <div class="read-more">
          <button class="pure-button"
                  ui-sref="add-new-goal.introduction"
              >
            <div class="cont-icon-left">
              <i class="fa fa-book"></i>
              <div class="stage">
                Take Action
              </div>
            </div>
          </button>
        </div>
      </p>

      <br/>
      <p>
        Let’s take a look at few concepts that could help you to put consistent effort into your plane.
      </p>
      </br>
      <h5>Time Allocation</h5>
      <p>
        Make sure you block out time when you will be working on your project otherwise your daily routine will avoid you to get started.

        <div class="read-more">
          <button class="pure-button"
                  ng-click="addEmptyTimeAndLocation()"
                  ui-sref="concept-timeframe"
              >
            <div class="cont-icon-left">
              <i class="fa fa-book"></i>
              <div class="stage">
                Read more
              </div>
            </div>
          </button>
        </div>

      </p>

      <h5>Separation of Space</h5>
      <p>
        Don’t work on your project where you relax, eat or work on other things. The environment will remind you the task you used to do there and still left to do. Its easy to get distracted in such an environment.

        <div class="read-more">
          <button class="pure-button"
                  ng-click="addEmptyTimeAndLocation()"
                  ui-sref="concept-sepofspace"
              >
            <div class="cont-icon-left">
              <i class="fa fa-book"></i>
              <div class="stage">
                Read more
              </div>
            </div>
          </button>
        </div>
      </p>

      <h5>Inspiration</h5>
      <p>
        To push through a project is a marathon, not a sprint. Sometimes you will need a reminder why you absolutely must do what you set out to accomplish. I’m sure you’ve been there as well when you just don’t feel like doing what is necessary. You need to be prepared for those days.

        <div class="read-more">
          <button class="pure-button"
                  ng-click="addEmptyTimeAndLocation()"
                  ui-sref="concept-reasons"
              >
            <div class="cont-icon-left">
              <i class="fa fa-book"></i>
              <div class="stage">
                Read more
              </div>
            </div>
          </button>
        </div>
      </p>

      <h5>Rewards</h5>
      <p>
        This is all about how to trick yourself into the right behaviour. If you are doing something the first time you will need all the help you can get. You could come up with a little gift that you will reward yourself with when you accomplish a certain milestone. A milestone is a perfect opportunity to buy something you always wanted just felt guilty to waist money on.

        <div class="read-more">
          <button class="pure-button"
                  ng-click="addEmptyTimeAndLocation()"
                  ui-sref="concept-rewards"
              >
            <div class="cont-icon-left">
              <i class="fa fa-book"></i>
              <div class="stage">
                Read more
              </div>
            </div>
          </button>
        </div>
      </p>
    </div>
  </div>

  <div class="grid-whole pusher-bottom"></div>
</section>

<footer class="grid-whole padded">
  <a class="pure-button pure-button"
     ng-click="goBack()"
      >Back</a>
</footer>