<section class="content page-concept-comfort-challenge" xmlns="http://www.w3.org/1999/html">
  <div class="grid-whole padded">
    <div class="grid-whole padded-sides">
      <p>
        "THE MOST IMPORTANT actions are never comfortable. Fortunately, it is possible to condition yourself to discomfort and overcome it. I’ve trained myself to propose solutions instead of ask for them, to elicit desired responses instead of react, and to be assertive without burning bridges. To have an uncommon lifestyle, you need to develop the uncommon habit of making decisions, both for yourself and for others. From this chapter forward, I’ll take you through progressively more uncomfortable exercises, simple and small. Some of the exercises will appear deceptively easy and even irrelevant ( such as the next) until you try them. Look at it as a game and expect some butterflies and sweat— that’s the whole point. For most of these exercises, the duration is two days. Mark the exercise of the day on your calendar so you don’t forget, and don’t attempt more than one Comfort Challenge at a time. Remember: There is a direct correlation between an increased sphere of comfort and getting what you want."</br>
        - Timothy Ferriss in The 4-Hour Work Week
      </p>

      <div class="read-more">
        <button class="pure-button"
                ng-click="goToPageIf('isDisabledBtnTakeAction', '#/comfort-challenge')"
            >
          <div class="cont-icon-left">
            <i class="fa fa-book"
               ng-class="{'highlighted': isHighlitedBtnTakeAction}"></i>
            <div class="stage"
                 ng-class="{'highlighted': isHighlitedBtnTakeAction}">
              Take Action
            </div>
          </div>
        </button>
      </div>

    </div>
  </div>

  <div class="grid-whole pusher-bottom"></div>
</section>

<footer class="grid-whole padded">
  <a class="pure-button pure-button"
     ng-class="{'highlighted': isHighlitedBtnBack}"
     ng-click="goToPageIf('isDisabledBtnBack', 'back')"
  >Back</a>
</footer>