<section class="content page-concept-rewards" xmlns="http://www.w3.org/1999/html">
  <div class="grid-whole padded">
    <div class="grid-whole padded-sides">
      <h5>Rewards & Milestones</h5>
      <p>
        You still might think that this is a waist of money and effort. But why not stacking up the odds in your favour rather than against you. It provides you with one more reason to get to your milestone as fast as you can. Plus think about it this way: Im officially giving you the permission to spend money on thing you really wanted and always felt guilty to spend money on. Please feel free to blame it on me, just go ahead and put them down. This is only a trick but it works just as well as badly you want that gift!
      </p>
    </div>
  </div>

  <div class="grid-whole pusher-bottom"></div>
</section>

<footer class="grid-whole padded">
  <a class="pure-button pure-button"
     ng-click="goBack()"
      >Back</a>
</footer>