.page-achievement {
  background: #A526D8;

  .profile {
    overflow: auto;
    background: #109CD4;
    color: white;
    font-size: 13px;
    padding: 8px;

    img {
      float: left;
      border-radius: 66px;
      width: 75px;
    }

    .stack {
      text-align: right;

      span.fa, ons-icon.ons-icon {
        display: inline-block;
        font-size: 15px;
        line-height: 26px;
        vertical-align: inherit;
        font-weight: bold;
      }
    }
  }

  .achievement {
    background: #A425D9;

    header {
      padding: 8px;
      color: white;
      font-weight: bold;
      font-size: 15px;
    }

    section {
      background: rgba(170, 66, 214, 0.88);
      position: relative;
      overflow: auto;

      img {
        width: 100%;
        min-height: 150px;
        float: left;
      }

      .context {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 55px;
        background-color: rgba(0,0,0,0.5);

        .prize {
          position: absolute;
          top: 0;
          right: 0;
          padding: 8px;
          font-size: 15px;
          color: white;
        }

        .fa-trophy {
          color: white;
          position: absolute;
          left: 8px;
          top: 8px;
          font-size: 40px;
        }
      }
    }

    .date {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 8px;
      color: white;
      font-size: 13px;
    }
  }

  .empty-list-msg {
    padding: 10px 16px;

    color: white;

    h2 {
      margin: 4px 0 5px;
      font-size: 18px;
    }

    img.achievement-example {
      float: left;
      height: 88px;
      margin-right: 10px;
    }

    img.coach {
      height: 100px;
      float: right;
    }

    .msg {
      //float: right;
      font-size: 13px;
    }
  }
}
