<section class="content page-achievement" xmlns="http://www.w3.org/1999/html">
  <div class="profile">
    <img src="image/profile-pic-00.jpg" alt=""/>
    <div class="stack">
      <span class="fa fa-money">&nbsp; {{profile.credit}} Credits Earned</span>
    </div>
    <div class="stack">
      <ons-icon icon="ion-android-note">&nbsp; {{profile.ip}} Notes Created</ons-icon>
    </div>
    <div class="stack">
      <span class="fa fa-trophy">&nbsp; {{cAchievement.JSON.length}} Achievements Collected</span>
    </div>
  </div>

  <div class="empty-list-msg" ng-if="cAchievement.JSON.length === 0">
    <span class="msg">
      <img class="achievement-example" src="product/page/achievement/image/achievements-example.jpg" alt=""/>
      <h2>You have no achievement yet</h2>
      Achievements can be earned by putting consistent effort into your projects.
    </span>
  </div>

  <div class="achievement-list" ng-repeat="achievement in cAchievement.JSON">

      <!-- Daily Priority -->
      <!-- ############## -->

      <div class="achievement"
           ng-if="achievement.type === 'habitStreak.longestStreak.dailyPriority.three'"
      >
          <header>3 Days Daily Priority Habit Streak</header>
          <section>
            <img src="product/page/achievement/image/good-habit.jpg" alt=""/>
            <div class="context">
              <span class="fa fa-trophy"></span>
              <div class="prize"><span class="fa fa-money">&nbsp; 3,000 CRD</span></div>
              <div class="date">{{formatDate(achievement.timestamp)}}</div>
            </div>
          </section>
      </div>

      <div class="achievement"
           ng-if="achievement.type === 'habitStreak.longestStreak.dailyPriority.seven'"
              >
          <header>1 Week Daily Priority Habit Streak</header>
          <section>
            <img src="product/page/achievement/image/good-habit2.jpg" alt=""/>
            <div class="context">
              <span class="fa fa-trophy"></span>
              <div class="prize"><span class="fa fa-money">&nbsp; 5,000 CRD</span></div>
              <div class="date">{{formatDate(achievement.timestamp)}}</div>
            </div>
          </section>
      </div>

      <div class="achievement"
           ng-if="achievement.type === 'habitStreak.longestStreak.dailyPriority.twoWeeks'"
              >
          <header>2 Weeks Daily Priority Habit Streak</header>
          <section>
              <img src="product/page/achievement/image/good-habit2.jpg" alt=""/>
              <div class="context">
                  <span class="fa fa-trophy"></span>
                  <div class="prize"><span class="fa fa-money">&nbsp; 7,000 CRD</span></div>
                  <div class="date">{{formatDate(achievement.timestamp)}}</div>
              </div>
          </section>
      </div>

      <div class="achievement"
           ng-if="achievement.type === 'habitStreak.longestStreak.dailyPriority.thirty'"
              >
          <header>30 Days Daily Priority Habit Streak</header>
          <section>
              <img src="product/page/achievement/image/good-habit2.jpg" alt=""/>
              <div class="context">
                  <span class="fa fa-trophy"></span>
                  <div class="prize"><span class="fa fa-money">&nbsp; 10,000 CRD</span></div>
                  <div class="date">{{formatDate(achievement.timestamp)}}</div>
              </div>
          </section>
      </div>

      <!-- Mini Review -->
      <!-- ############## -->

      <div class="achievement"
           ng-if="achievement.type === 'habitStreak.longestStreak.getStructured.three'"
          >
          <header>3 Days Mini Review Habit Streak</header>
          <section>
              <img src="product/page/achievement/image/good-habit.jpg" alt=""/>
              <div class="context">
                  <span class="fa fa-trophy"></span>
                  <div class="prize"><span class="fa fa-money">&nbsp; 3,000 CRD</span></div>
                  <div class="date">{{formatDate(achievement.timestamp)}}</div>
              </div>
          </section>
      </div>

      <div class="achievement"
           ng-if="achievement.type === 'habitStreak.longestStreak.getStructured.seven'"
          >
          <header>1 Week Mini Review Habit Streak</header>
          <section>
              <img src="product/page/achievement/image/good-habit2.jpg" alt=""/>
              <div class="context">
                  <span class="fa fa-trophy"></span>
                  <div class="prize"><span class="fa fa-money">&nbsp; 5,000 CRD</span></div>
                  <div class="date">{{formatDate(achievement.timestamp)}}</div>
              </div>
          </section>
      </div>

      <div class="achievement"
           ng-if="achievement.type === 'habitStreak.longestStreak.getStructured.twoWeeks'"
          >
          <header>2 Weeks Mini Review Habit Streak</header>
          <section>
              <img src="product/page/achievement/image/good-habit2.jpg" alt=""/>
              <div class="context">
                  <span class="fa fa-trophy"></span>
                  <div class="prize"><span class="fa fa-money">&nbsp; 7,000 CRD</span></div>
                  <div class="date">{{formatDate(achievement.timestamp)}}</div>
              </div>
          </section>
      </div>

      <div class="achievement"
           ng-if="achievement.type === 'habitStreak.longestStreak.getStructured.thirty'"
          >
          <header>30 Days Mini Review Habit Streak</header>
          <section>
              <img src="product/page/achievement/image/good-habit2.jpg" alt=""/>
              <div class="context">
                  <span class="fa fa-trophy"></span>
                  <div class="prize"><span class="fa fa-money">&nbsp; 10,000 CRD</span></div>
                  <div class="date">{{formatDate(achievement.timestamp)}}</div>
              </div>
          </section>
      </div>

      <!-- IP -->
      <!-- ############## -->

      <div class="achievement"
           ng-if="achievement.type === 'habitStreak.longestStreak.note.three'"
          >
          <header>3 Days Note Habit Streak</header>
          <section>
              <img src="product/page/achievement/image/good-habit.jpg" alt=""/>
              <div class="context">
                  <span class="fa fa-trophy"></span>
                  <div class="prize"><span class="fa fa-money">&nbsp; 3,000 CRD</span></div>
                  <div class="date">{{formatDate(achievement.timestamp)}}</div>
              </div>
          </section>
      </div>

      <div class="achievement"
           ng-if="achievement.type === 'habitStreak.longestStreak.note.seven'"
          >
          <header>1 Week Note Habit Streak</header>
          <section>
              <img src="product/page/achievement/image/good-habit2.jpg" alt=""/>
              <div class="context">
                  <span class="fa fa-trophy"></span>
                  <div class="prize"><span class="fa fa-money">&nbsp; 5,000 CRD</span></div>
                  <div class="date">{{formatDate(achievement.timestamp)}}</div>
              </div>
          </section>
      </div>

      <div class="achievement"
           ng-if="achievement.type === 'habitStreak.longestStreak.note.twoWeeks'"
          >
          <header>2 Weeks Note Habit Streak</header>
          <section>
              <img src="product/page/achievement/image/good-habit2.jpg" alt=""/>
              <div class="context">
                  <span class="fa fa-trophy"></span>
                  <div class="prize"><span class="fa fa-money">&nbsp; 7,000 CRD</span></div>
                  <div class="date">{{formatDate(achievement.timestamp)}}</div>
              </div>
          </section>
      </div>

      <div class="achievement"
           ng-if="achievement.type === 'habitStreak.longestStreak.note.thirty'"
          >
          <header>30 Days Note Habit Streak</header>
          <section>
              <img src="product/page/achievement/image/good-habit2.jpg" alt=""/>
              <div class="context">
                  <span class="fa fa-trophy"></span>
                  <div class="prize"><span class="fa fa-money">&nbsp; 10,000 CRD</span></div>
                  <div class="date">{{formatDate(achievement.timestamp)}}</div>
              </div>
          </section>
      </div>

  </div>

  <div class="grid-whole pusher-bottom"></div>
</section>

<footer class="grid-whole padded">
  <a class="pure-button pure-button"
     ng-click="goToPageIf('isDisabledBtnBack', 'back')"
  >Back</a>
</footer>