schedule {
  display: block;
  float: right;
  font-size: 12px;
  line-height: 1.4;

  .spot-background {
    font-weight: bold;
    border-radius: 8px;
    display: inline-block;
    width: 15px;
    height: 15px;
    text-align: center;
    margin-left: 2px;
    padding: 0;
  }

  .day-short {
    padding-left: 2px;
    color: darkgray;
  }

  .today {
    @extend .spot-background;
    padding: 0;
    background: darkgray;
    color: white;
  }

  // Doesn't matter how much time user spends on task on a day that is not scheduled, it is great
  .in-progress, .done {
    @extend .spot-background;
    padding: 0;
    background: #48e248;
    color: white;
  }

  .scheduled {
    @extend .spot-background;
    padding: 0;
    background: red; // failed by default
    color: white;

    &.today {
      background: darkgray;
      color: white;
    }

    &.in-progress {
      background: orange;
    }

    &.done {
      background: green;
    }

    &.coming {
      background: #25a6d9;
      color: white;
    }
  }
}