<section class="content page-home" xmlns="http://www.w3.org/1999/html">
  <profile-widget></profile-widget>

  <div class="grid-whole">

    <ons-list class="plan-list">
      <ons-list-item modifier="chevron" class="plan" ng-repeat="mUserGoal in model.cUserGoal.JSON | orderBy: 'id'">
        <ons-row>
          <ons-col width="50px" class="plan-left">
            <!--<div class="plan-date">5:30 PM</div>-->
            <!--<div class="plan-duration">1h</div>-->
            <span class="icon icon-bin" ng-click="removeUserGoal(mUserGoal.id)"></span>
          </ons-col>

          <ons-col width="6px" class="plan-center">
            <progressbar m-user-goal="mUserGoal"></progressbar>
          </ons-col>

          <ons-col class="plan-right">
            <div class="plan-name">{{mUserGoal.name}}</div>

            <div class="cont-icon-left">
              <ons-icon icon="fa-lightbulb-o align"></ons-icon>
              <div class="stage plan-info">
                {{mUserGoal.description}}
              </div>
            </div>

            <div class="cont-icon-left sub">
              <ons-icon icon="fa-play-circle-o align"></ons-icon>
              <div class="stage plan-info">
                <span ng-if="getCurrentStep(mUserGoal)">{{getCurrentStep(mUserGoal).description}}</span>
                <span ng-if="!getCurrentStep(mUserGoal)">You are not working on any step.</span>
              </div>
            </div>

            <div class="cont-icon-left sub">
              <i class="fa fa-line-chart align"></i>
              <div class="stage plan-info">
                Progress: {{getProgress(mUserGoal)}}
                <schedule m-user-goal="mUserGoal"
                          c-track-record="model.cTrackRecord"
                          time-service="timeService"
                ></schedule>
              </div>
            </div>

            <div class="tap-area"
                 ng-click="goToUserGoalDetail(mUserGoal.id)"
            ></div>
          </ons-col>
        </ons-row>
      </ons-list-item>

    </ons-list>

  </div>

  <div class="grid-whole padded-inner center empty-list"
       ng-show="model.cUserGoal.JSON.length === 0">
    <img class="welcome"
         src="image/coach-main-no-bg.png"
         alt="benjamin-disraeli"/></br>
    <p>It’s time to make things happen! Come up with a project and I will make sure you don’t make standard mistakes. I will walk you through the steps and help you execute them.</p>
    <!--<div class="read-more margin-ver-s">-->
      <!--<button class="pure-button"-->
              <!--ng-click="addEmptyTimeAndLocation()"-->
              <!--ui-sref="concept-steps"-->
          <!--&gt;-->
        <!--<div class="cont-icon-left">-->
          <!--<i class="fa fa-book"></i>-->
          <!--<div class="stage">-->
            <!--Read more-->
          <!--</div>-->
        <!--</div>-->
      <!--</button>-->
    <!--</div>-->
  </div>
  <div class="grid-whole pusher-bottom"></div>
</section>

<footer class="grid-whole padded">
  <button class="button--large--cta"
          ui-sref="add-new-goal.introduction"
  >Create a New Project</button>
</footer>