.page-review {
  background: white;

  .review-list {
    .fa {
      color: #208fbb;
    }
  }

  ons-list-item {
    padding: 0 6px;
  }

  .list__header {
    padding: 0 15px 0 15px;
  }

  .list-item-container {
    line-height: 1;
    overflow: auto;
  }

  .p-title {
    margin: 0;
    padding: 5px 8px;
  }

  util-list {
    border: none;
    border-radius: 0;
  }

  .short-description {
    overflow: auto;
    padding: 10px;
    text-align: justify;

    img {
      display: inline-block;
      width: 20%;
      float: left;
    }

    span {
      width: 80%;
      display: block;
      float: left;
    }
  }
}