<section class="content page-review" xmlns="http://www.w3.org/1999/html">
  <div class="grid-whole">
    <div class="short-description">
      <img src="image/coach-head.png"/>
      <span>Its time to do your weekly review, what went wrong, what can you do better next week.</span>
    </div>

    <util-list class="push-xs">
      <ons-list-header class="list__header ons-list-header-inner">
        <span class="fa fa-thumbs-o-down"></span> What went wrong this week?
      </ons-list-header>
      <row>
        <div class="list-item-input">
          <textarea elastic
                    rows="1"
                    class="textarea textarea--transparent margin-hor-xs"
                    placeholder="Put it down here.."
                    ng-model="model.mReview.wentWrong"
                    ng-blur="model.cReview.check()"
          ></textarea>
        </div>
      </row>
      <ons-list-header class="list__header ons-list-header-inner">
        <span class="fa fa-bar-chart-o"></span> What are you going to do different next week?
      </ons-list-header>
      <row>
        <div class="list-item-input">
          <textarea elastic
                    rows="1"
                    class="textarea textarea--transparent margin-hor-xs"
                    placeholder="Put it down here.."
                    ng-model="model.mReview.whatDifferent"
                    ng-blur="model.cReview.check()"
          ></textarea>
        </div>
      </row>
    </util-list>

    <h3 class="p-title"
        ng-show="model.mReviewLastOne.wentWrong && model.mReviewLastOne.whatDifferent">Last Week</h3>
    <util-list  class="push-xs"
                ng-show="model.mReviewLastOne.wentWrong && model.mReviewLastOne.whatDifferent">
      <row>
        <p>This is what you thought went wrong last week, and wanted to do to improve it. Did it work? If not put it down for this week again.</p>
      </row>
      <ons-list-header class="list__header ons-list-header-inner">
        <span class="fa fa-thumbs-o-down"></span> This is what went wrong last week.
      </ons-list-header>
      <row>
        <div class="list-item-input">
          <textarea elastic
                    rows="1"
                    class="textarea textarea--transparent margin-hor-xs"
                    ng-model="model.mReviewLastOne.wentWrong"
                    disabled
          ></textarea>
        </div>
      </row>
      <ons-list-header class="list__header ons-list-header-inner">
        <span class="fa fa-bar-chart-o"></span> This is what you were going to improve.
      </ons-list-header>
      <row>
        <div class="list-item-input">
          <textarea elastic
                    rows="1"
                    class="textarea textarea--transparent margin-hor-xs"
                    ng-model="model.mReviewLastOne.whatDifferent"
                    disabled
          ></textarea>
        </div>
      </row>
    </util-list>

    <h3 class="p-title"
        ng-if="model.cReview.JSON.length">Reviews</h3>
    <ons-list class="list ons-list-inner review-list"
              ng-if="model.cReview.JSON.length">

      <ons-list-item ng-repeat="mReview in model.cReview.JSON | orderBy: '-scheduled'"
                     modifier="chevron"
                     class="list__item list-item-container ons-list-item-inner"
                     ng-click="goToReviewDetail(mReview.id)"
      >
        <div class="cont-icon-left-s margin-ver-s">
          <i class="fa fa-coffee"></i>
          <div class="stage">
            <span class="desc">{{formatDate(mReview.scheduled)}}</span>
          </div>
        </div>
      </ons-list-item>
    </ons-list>
  </div>
  <div class="grid-whole pusher-bottom"></div>
</section>

<footer class="grid-whole padded">
  <a class="pure-button pure-button"
     ng-click="back(model.mUserGoal.id)"
  >Back</a>
  <a class="pure-button pure-button-primary"
     ng-click="done(model.mUserGoal.id)"
  >Done</a>
</footer>