.page-introduction {
  .cont-icon-left-l > .stage {
    padding-left: 94px;
  }

  .plan-list {
    border-top: none;
    background-image: none !important;

    ons-col {
      position: relative;
    }
  }

  .plan {
    line-height: 1;
    padding: 0;
  }

  .plan-left {
    text-align: right;
    padding: 10px 10px 10px 0;
  }

  .plan-center {
    background-color: #ccc;
    opacity: 0.5;
  }

  .plan-right {
    padding: 10px 40px 10px 10px;
  }

  .plan-date {
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 4px;
    font-weight: 500;
  }

  .plan-duration {
    font-size: 11px;
    opacity: 0.4;
  }

  .plan-name {
    font-size: 17px;
    margin-bottom: 8px;
    margin-left: 5px;
    color: rgb(37, 166, 217);
  }

  .note-info {
    font-size: 12px;
    line-height: 1.4;
    max-height: 2.8em;
    overflow: hidden;

    &.description {
      opacity: 1;
    }

    &.sub {
      margin-top: 7px;
      opacity: 0.4;
    }
  }

  .sub {
    margin-top: 7px;
    opacity: 0.4;
  }

  ons-icon.align, i.align {
    width: 23px;
  }

  .plan-right {
    position: relative;
  }

  .empty-list {
    font-size: 13px;
    color: #444;

    position: relative;
    overflow: auto;
    margin-top: 16px;

    h3 {
      position: absolute;
      opacity: 0.9;
      top: 0;
      right: 13px;
      left: 13px;

      ons-icon {
        font-size: 38px;
        float: left;
        margin-right: 8px;
      }
    }

    .preview {
      position: absolute;
      bottom: 0;
      right: 13px;
      left: 13px;
      background: #25A6D9;
      opacity: 0.96;
      color: white;
      font-size: 15px;
      padding: 16px;
      text-align: justify;
    }

    img {
      width: 100%;
      margin: -12px 0;
    }

    .read-more button {
      background: white;

      ons-icon {
        color: #288CB7;
      }
    }

    .p-title {
      background: white;
      padding: 5px 15px;
      color: #3191BA;
      font-size: 16px;
      margin: 0;
      text-align: left;
    }

    .author {
      margin-bottom: -29px;
    }
  }

  .indexIdea.fa-puzzle-piece {
    position: absolute;
    bottom: 10px;
    left: 16px;
    color: #268EB9;
    font-size: 20px;
  }

  .selected {
    background: rgba(173, 216, 230, 0.25);
  }
}

.page-definition {
  .description {
    overflow: auto;
    padding: 10px;
    text-align: justify;

    img {
      display: inline-block;
      width: 20%;
      float: left;
    }

    span {
      width: 80%;
      display: block;
      float: left;
      font-size: 15px;
    }
  }
}

.list-time-and-location {
  textarea {
    margin-top: 8px;
  }

  .day {
    margin: 8px 0 5px 0;
    display: block;
    width: 100%;

    select {
      display: block;
      width: 100%;
    }
  }
}

.quote {
  text-align: center;
  padding: 25px 0;
}

.textarea, .textarea--transparent {
  font-size: 15px;
}

.page-list-timeframe, .page-reason, .page-reward {
  .quote {
    text-align: center;
    font-size: 17px;
    padding: 5px;
  }

  i, .quote {
    color: #208fbb;
  }
}

.page-reward {
  .quote {
    padding: 16px 48px 16px 0;
  }
}

.page-steps {
  .description {
    overflow: auto;
    padding: 10px;
    text-align: justify;

    img {
      display: inline-block;
      width: 20%;
      float: left;
    }

    span {
      width: 80%;
      display: block;
      float: left;
      font-size: 15px;
    }
  }
}

.page-steps-detailed {
  @import 'partial/directive-step-date-and-time-spent';
  @import 'partial/directive-track-time-archive-list';

  .menu-main {
    background: #109CD4;
    overflow: auto;

    .fa {
      color: white;
    }
  }

  .date-started {
    float: right;
    font-size: 13px;
    margin-top: 2px;
  }

  .extra {
    overflow: auto;

    span.display-time-elapsed-static {
      font-size: 12px;
      margin-top: 3px;
      float: left;
      color: gray;

      i.fa {
        color: #d2d2d2;
      }
    }

    label {
      float: left;
    }

    .complexity {
      float: right;
    }

    .priority {
      float: right;
    }

    .fa-star-o, .fa-star {
      color: #ffd700;
      &.red {
        color: #f00;
      }
    }

    .fa-flag {
      &.p1 {
        color: #208fbb;
      }

      &.p2 {
        color: #ffd700;
      }

      &.p3 {
        color: #ff8500;
      }

      &.p4 {
        color: #f00;
      }
    }
  }

  .menu-step {
    overflow-y: auto;
    span {
      float: right;
      margin-left: 12px;
      font-size: 22px;
      color: #208fbb;

      &:last-child {
        margin-left: 0;
      }
    }
  }

  util-list {
    border: none;

    .stage.step {
      margin-left: -11px;
    }

    row {
      border-bottom: none;
      padding: 0;
    }

    &.topic-list {
      row {
        border: none;
      }

      textarea {
        padding-right: 26px;
      }

      .icon-container {
        font-size: 22px;
        top: 5px;
      }

      .fa-edit {
        font-size: 26px;
      }
    }

    &.step-list {
      row {
        padding: 8px 0 4px 0;

        & > div {
          &:not(.menu-step) {
            padding-left: 32px;
          }
        }

        border-top: 1px solid lightgray;
      }

      textarea {
        padding-right: 0;
      }

      .icon-container {
        top: 0;
        font-size: 22px;
      }

      .fa-edit {
        font-size: 26px;
      }
    }

    &.root-step-list {
      .icon-container {
        font-size: 22px;
      }

      row {
        padding: 8px 0 4px 0;
      }

      row:not(:last-child) {
        border-bottom: 1px solid lightgray;
      }

      .cont-icon-left-s {
        margin-left: -8px;
      }
    }

    .list-item-input {
      span.fa, span.icon {
        color: #208fbb;
        opacity: 1;
      }

      &.topic {
        margin-bottom: 8px;
        overflow: auto;
      }
    }

    .fa {
      color: #208fbb;
    }
  }

  .description {
    overflow: auto;
    background: white;
    margin-left: -12px;

    img {
      display: inline-block;
      width: 20%;
      float: left;
    }

    span {
      width: 80%;
      display: block;
      float: left;
      font-size: 15px;
      color: #444;
      text-align: justify;
    }
  }

  .fa-edit {
    font-size: 26px;
  }

  .main-menu {
    overflow: auto;
    //button {
    //  width: 49%;
    //  float: left;
    //
    //  &:nth-child(2) {
    //    float: right;
    //  }
    //}
  }

  .tap-area {
    z-index: 999;
  }

  .selected {
    background: rgba(173, 216, 230, 0.25);
  }

  .in-progress {
    //background: rgba(181, 230, 173, 0.25);

    i.fa.fa-clock-o.status {
      color: #00c400;
    }

    i.fa.fa-ban.status {
      color: #ff0000;
    }
  }

  .done {
    $iconDoneColor: #d2d2d2;

    i.fa {
      color: $iconDoneColor;
    }

    span.fa.fa-ellipsis-h {
      color: $iconDoneColor;
    }

    textarea {
      color: gray;
    }

    label {
      color: gray;
    }

    .extra {
      .fa-star, .fa-star-o {
        color: $iconDoneColor;
      }

      .fa.fa-flag {
        &.p1 {
          color: $iconDoneColor;
        }

        &.p2 {
          color: darken($iconDoneColor, 10%);
        }

        &.p3 {
          color: darken($iconDoneColor, 20%);
        }

        &.p4 {
          color: darken($iconDoneColor, 30%);
        }
      }
    }
  }
}