quote {
  display: block;
  overflow: auto;
  //background: #2F5E71;
  background: white;
  border: 1px solid #eeeeee;

  .profile {
    width: 21%;
    float: left;
  }
  
  .quote-cont {
    width: 79%;
    float: left;
    font-size: 13px;
    color: black;
    margin: 8px 0;

    & > .stage {
      padding-left: 8px;
    }
  }

  span.fa {
    top: 8px;
  }

  .from {
    font-size: 11px;
    text-align: right;
    margin-top: 3px;
  }
}