<img src="{{getImgUrl(idQuote)}}" alt="" class="profile"/>
<div class="cont-icon-right-s quote-cont">
  <div class="stage">
    <span class="quote-mark">"</span>{{getQuote(idQuote).text}}<span class="quote-mark">"</span>
    <div class="from">
      {{getQuote(idQuote).from}}
    </div>
  </div>
  <span class="fa fa-floppy-o" ng-click="saveQuote(idQuote)"></span>
</div>
</div>