habit-streak {
  display: block;
  overflow: auto;
  line-height: 16px;
  padding: 5px 0 5px 8px;

  span.fa {
    color: white;
    width: 12.75%;
    font-size: 9px;
    background: transparent;
    border-radius: 5px;
    line-height: 15px;
    text-align: center;

    &.day {
      background: gray;
    }

    &.done {
      background: #25A6D9;
      color: white;
    }
  }

  .next-achievement {
    display: inline-block;
    float: right;
    margin: 4px;

    font-size: 11px;
    line-height: 15px;

    span.fa {
      border-radius: 0;
      color: #1f1f21;
      width: auto;
    }
  }

  .label {
    font-size: 11px;
    margin-left: 1px;
  }
}