<div>
  <span class="fa {{icon}} day" ng-class="{'done': getDay('day6').isDone}"> {{getDay('day6').day}}</span>
  <span class="fa {{icon}} day" ng-class="{'done': getDay('day5').isDone}"> {{getDay('day5').day}}</span>
  <span class="fa {{icon}} day" ng-class="{'done': getDay('day4').isDone}"> {{getDay('day4').day}}</span>
  <span class="fa {{icon}} day" ng-class="{'done': getDay('day3').isDone}"> {{getDay('day3').day}}</span>
  <span class="fa {{icon}} day" ng-class="{'done': getDay('day2').isDone}"> {{getDay('day2').day}}</span>
  <span class="fa {{icon}} day" ng-class="{'done': getDay('day1').isDone}"> {{getDay('day1').day}}</span>
  <span class="fa {{icon}} day" ng-class="{'done': getDay('day0').isDone}"> {{getDay('day0').day}}</span>
</div>
<span class="label">Longest streak {{longestStreak}}</span>
<div class="next-achievement"><span class="fa fa-trophy"></span> Next {{nextAchievement}}</div>
