reward-popup {
    display: block;
    overflow: auto;

    .main-cont {
        border-top: 3px solid white;
        color: white;
        position: absolute;
        z-index: 999;

        left: 8px;
        right: 8px;
        top: -200px;
        padding: 10px;

        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

        font-size: 15px;
        font-weight: bold;
        text-align: center;

        transition: 200ms ease-out top;

        &.reward {
            background: #25D986;
        }

        &.achievement {
            background: #A425D9;
            padding: 10px 47px 10px 60px;
        }

        &.active {
            top: 16px;
        }

        .btn-close {
            position: absolute;
            top: 11px;
            right: 8px;
        }

        .fa-trophy {
            position: absolute;
            top: 7px;
            left: 8px;
            font-size: 48px;
        }

        .title {
            margin-bottom: 24px;
        }

        .sub-title {
            position: absolute;
            right: 8px;
            bottom: 8px;
            font-size: 11px;
        }
    }
}