<div class="main-cont reward" ng-class="{ 'active': isActiveReward }">
    <span class="fa fa-close btn-close"
          ng-click="close('reward')"></span>
    <span>{{msg}}</span>
</div>

<div class="main-cont achievement" ng-class="{ 'active': isActiveAchievement }">
    <span class="fa fa-trophy"></span>
    <div class="push-s title">
        <b>{{msg}}</b>
    </div>
    <span class="fa fa-close btn-close"
          ng-click="close('achievement')"></span>
    <span class="sub-title">New Achievement</span>
</div>