<section class="content page-setting" xmlns="http://www.w3.org/1999/html">
  <ons-list class="list ons-list-inner">
    <ons-list-header class="list__header ons-list-header-inner">General Settings</ons-list-header>

    <ons-list-item class="list__item list-item-container ons-list-item-inner"
        ng-click="restartGuide()">
      <i class="fa fa-power-off"></i>
      <span class="desc">Restart Tutorial</span>
    </ons-list-item>

  </ons-list>
</section>

<footer class="grid-whole padded">
  <a class="pure-button pure-button"
     ui-sref="home"
  >Back</a>
</footer>