// Todo move this out to app style file
$color-bg-main: #a3d8b2;
$color-bg-panel: #f8f8f8;
$color-text-on-light-bg: black;
$color-border: #ddd;

.page-root, .page, section.content {
  //background: white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;

  .pusher-top {
    height: 3em;
  }

  .pusher-bottom {
    height: 3.1em;
  }
}

.page__background {
  background: white;
}

.topcoat-navigation-bar {
  z-index: 13;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.navigation-bar {
  border-bottom: none;
}

span.reasoning {
  font-size: 11px;
  font-style: italic;
}

footer {
  background: red;
  position: absolute;
  width: 100%;
  bottom: 0;
  background: $color-bg-panel;
  text-align: right;
  border-top: 1px solid $color-border;
  z-index: 110;
}

.app-expired-screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #e8f8ff;
  color: #7ba2b3;
  padding: 32px;

  p {
    color: #7ba2b3;
  }

  h1 {
    text-align: center;
  }

  div {
    text-align: center;
    height: 100%;
    img {
      height: 75%;
    }
  }

  display: none;
  &.active {
    display: block;
  }
}