$base-num: 16px;

.margin-xxs {
  margin: $base-num/4;
}

.margin-xs {
  margin: $base-num/2;
}

.margin-s {
  margin: $base-num;
}

.margin-m {
  margin: 2*$base-num;
}

.margin-l {
  margin: 3*$base-num;
}

.margin {
  @extend .margin-xs;
}

.margin-ver-xxs {
  margin-top: $base-num/4;
  margin-bottom: $base-num/4;
}

.margin-ver-xs {
  margin-top: $base-num/2;
  margin-bottom: $base-num/2;
}

.margin-ver-s {
  margin-top: $base-num;
  margin-bottom: $base-num;
}

.margin-ver-m {
  margin-top: 2*$base-num;
  margin-bottom: 2*$base-num;
}

.margin-ver-l {
  margin-top: 3*$base-num;
  margin-bottom: 3*$base-num;
}

.margin-ver {
  @extend .margin-ver-xs;
}

.margin-hor-xxs {
  margin-left: $base-num/4;
  margin-right: $base-num/4;
}

.margin-hor-xs {
  margin-left: $base-num/2;
  margin-right: $base-num/2;
}

.margin-hor-s {
  margin-left: $base-num;
  margin-right: $base-num;
}

.margin-hor-m {
  margin-left: 2*$base-num;
  margin-right: 2*$base-num;
}

.margin-hor-l {
  margin-left: 3*$base-num;
  margin-right: 3*$base-num;
}

.margin-hor {
  @extend .margin-hor-xs;
}

.margin-right-xxs {
  margin-right: $base-num/4;
}

.margin-right-xs {
  margin-right: $base-num/2;
}

.margin-right-s {
  margin-right: $base-num;
}

.margin-right-m {
  margin-right: 2*$base-num;
}

.margin-right-l {
  margin-right: 3*$base-num;
}

.margin-right {
  @extend .margin-right-xs;
}

.margin-left-xxs {
  margin-left: $base-num/4;
}

.margin-left-xs {
  margin-left: $base-num/2;
}

.margin-left-s {
  margin-left: $base-num;
}

.margin-left-m {
  margin-left: 2*$base-num;
}

.margin-left-l {
  margin-left: 3*$base-num;
}

.margin-top-xxs {
  margin-top: $base-num/4;
}

.margin-top-xs {
  margin-top: $base-num/2;
}

.margin-top-s {
  margin-top: $base-num;
}

.margin-top-m {
  margin-top: 2*$base-num;
}

.margin-top-l {
  margin-top: 3*$base-num;
}

.margin-top {
  @extend .margin-top-xs;
}

.margin-bottom-xxs {
  margin-bottom: $base-num/4;
}

.margin-bottom-xs {
  margin-bottom: $base-num/2;
}

.margin-bottom-s {
  margin-bottom: $base-num;
}

.margin-bottom-m {
  margin-bottom: 2*$base-num;
}

.margin-bottom-l {
  margin-bottom: 3*$base-num;
}

.margin-bottom {
  @extend .margin-bottom-xs;
}

.margin-left {
  @extend .margin-left-xs;
}

.padding-xxs {
  padding: $base-num/4;
}

.padding-xs {
  padding: $base-num/2;
}

.padding-s {
  padding: $base-num;
}

.padding-m {
  padding: 2*$base-num;
}

.padding-l {
  padding: 3*$base-num;
}

.padding {
  @extend .padding-xs;
}

.padding-ver-xs {
  padding-top: $base-num/2;
  padding-bottom: $base-num/2;
}

.padding-ver-s {
  padding-top: $base-num;
  padding-bottom: $base-num;
}

.padding-ver-m {
  padding-top: 2*$base-num;
  padding-bottom: 2*$base-num;
}

.padding-ver-l {
  padding-top: 3*$base-num;
  padding-bottom: 3*$base-num;
}

.padding-ver {
  @extend .padding-ver-xs;
}

.padding-hor-xxs {
  padding-left: $base-num/4;
  padding-right: $base-num/4;
}

.padding-hor-xs {
  padding-left: $base-num/2;
  padding-right: $base-num/2;
}

.padding-hor-s {
  padding-left: $base-num;
  padding-right: $base-num;
}

.padding-hor-m {
  padding-left: 2*$base-num;
  padding-right: 2*$base-num;
}

.padding-hor-l {
  padding-left: 3*$base-num;
  padding-right: 3*$base-num;
}

.padding-hor {
  @extend .padding-hor-xs;
}

.padding-right-xxs {
  padding-right: $base-num/4;
}

.padding-right-xs {
  padding-right: $base-num/2;
}

.padding-right-s {
  padding-right: $base-num;
}

.padding-right-m {
  padding-right: 2*$base-num;
}

.padding-right-l {
  padding-right: 3*$base-num;
}

.padding-right {
  @extend .padding-right-xs;
}

.padding-left-xxs {
  padding-left: $base-num/4;
}

.padding-left-xs {
  padding-left: $base-num/2;
}

.padding-left-s {
  padding-left: $base-num;
}

.padding-left-m {
  padding-left: 2*$base-num;
}

.padding-left-l {
  padding-left: 3*$base-num;
}

.padding-left {
  @extend .padding-left-xs;
}

.padding-top-xxs {
  padding-top: $base-num/4;
}

.padding-top-xs {
  padding-top: $base-num/2;
}

.padding-top-s {
  padding-top: $base-num;
}

.padding-top-m {
  padding-top: 2*$base-num;
}

.padding-top-l {
  padding-top: 3*$base-num;
}

.padding-top {
  @extend .padding-top-xs;
}

.padding-bottom-xxs {
  padding-bottom: $base-num/4;
}

.padding-bottom-xs {
  padding-bottom: $base-num/2;
}

.padding-bottom-s {
  padding-bottom: $base-num;
}

.padding-bottom-m {
  padding-bottom: 2*$base-num;
}

.padding-bottom-l {
  margin-bottom: 3*$base-num;
}

.padding-bottom {
  @extend .padding-bottom-xs;
}

.push-xxs {
  margin-bottom: $base-num/4;
}

.push-xs {
  margin-bottom: $base-num/2;
}

.push-s {
  margin-bottom: $base-num;
}

.push-m {
  margin-bottom: 2*$base-num;
}

.push-l {
  margin-bottom: 3*$base-num;
}

.push {
  @extend .push-xs;
}

.cont-icon-left-s {
  position: relative;
  overflow: visible;
  min-height: $base-num;

  & > i, & > ons-icon, & > span.fa, & > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 2*$base-num;
    text-align: center;
    font-size: $base-num;
    line-height: $base-num;

    &.stick-to-top {
      top: 0;
    }

    &.stick-to-middle {
      top: 50%;
      margin-top: -$base-num/2;
    }

    &.stick-to-bottom {
      bottom: 0;
    }
  }

  & > img {
    width: auto;
    height: 3*$base-num;
  }

  & > .stage {
    padding-left: 2*$base-num;
    text-align: justify;

    .text-right {
      text-align: right;
    }
  }
}

.cont-icon-right-s {
  @extend .cont-icon-left-s;

  & > i, & > ons-icon, & > span.fa, & > img {
    left: auto;
    right: 0;

    &.stick-to-middle {
      top: 50%;
      margin-top: -$base-num/2;
    }
  }

  & > .stage {
    padding-left: 0;
    padding-right: 2*$base-num;
  }
}

.cont-icon-left-sm {
  @extend .cont-icon-left-s;
  min-height: 2*$base-num;

  & > i, & > ons-icon, & > span.fa, & > img {
    width: 3*$base-num;
    font-size: 1.5*$base-num;
    line-height: 1.5*$base-num;

    &.stick-to-middle {
      top: 50%;
      margin-top: -1.5*$base-num/2;
    }
  }

  & > img {
    width: auto;
    height: 3*$base-num;
  }

  & > .stage {
    padding-left: 3*$base-num;
  }
}

.cont-icon-right-sm {
  @extend .cont-icon-left-sm;

  & > i, & > ons-icon, & > span.fa, & > img {
    left: auto;
    right: 0;

    &.stick-to-middle {
      top: 50%;
      margin-top: -1.5*$base-num/2;
    }
  }

  & > .stage {
    padding-left: 0;
    padding-right: 3*$base-num;
  }
}

.cont-icon-left-m {
  @extend .cont-icon-left-s;
  min-height: 2*$base-num;

  & > i, & > ons-icon, & > span.fa, & > img {
    width: 3*$base-num;
    font-size: 2*$base-num;
    line-height: 2*$base-num;

    &.stick-to-middle {
      top: 50%;
      margin-top: -$base-num;
    }
  }

  & > img {
    width: auto;
    height: 3*$base-num;
  }

  & > .stage {
    padding-left: 3*$base-num;
  }
}

.cont-icon-right-m {
  @extend .cont-icon-left-m;

  & > i, & > ons-icon, & > span.fa, & > img {
    left: auto;
    right: 0;

    &.stick-to-middle {
      top: 50%;
      margin-top: -$base-num;
    }
  }

  & > .stage {
    padding-left: 0;
    padding-right: 3*$base-num;
  }
}

.cont-icon-right {
  @extend .cont-icon-right-s;
}

.cont-icon-left-ml {
  @extend .cont-icon-left-s;
  min-height: 3*$base-num;

  & > i, & > ons-icon, & > span.fa, & > img {
    width: 4*$base-num;
    font-size: 2.5*$base-num;
    line-height: 2.5*$base-num;

    &.stick-to-middle {
      top: 50%;
      margin-top: -2.5*$base-num/2;
    }
  }

  & > img {
    width: auto;
    height: 3*$base-num;
  }

  & > .stage {
    padding-left: 4*$base-num;
  }
}

.cont-icon-right-ml {
  @extend .cont-icon-left-ml;

  & > i, & > ons-icon, & > span.fa, & > img {
    left: auto;
    right: 0;

    &.stick-to-middle {
      top: 50%;
      margin-top: -2.5*$base-num/2;
    }
  }

  & > .stage {
    padding-left: 0;
    padding-right: 4*$base-num;
  }
}

.cont-icon-left-l {
  @extend .cont-icon-left-s;
  min-height: 3*$base-num;

  & > i, & > ons-icon, & > span.fa, & > img {
    width: 4*$base-num;
    font-size: 3*$base-num;
    line-height: 3*$base-num;

    &.stick-to-middle {
      top: 50%;
      margin-top: -1.5*$base-num;
    }
  }

  & > img {
    width: auto;
    height: 3*$base-num;
  }

  & > .stage {
    padding-left: 4*$base-num;
  }
}

.cont-icon-right-l {
  @extend .cont-icon-left-l;

  & > i, & > ons-icon, & > span.fa {
    left: auto;
    right: 0;

    &.stick-to-middle {
      top: 50%;
      margin-top: -1.5*$base-num;
    }
  }

  & > .stage {
    padding-left: 0;
    padding-right: 4*$base-num;
  }
}

.cont-icon-left {
  @extend .cont-icon-left-s;
}

.p-title {
  background: white;
  padding: 5px 15px;
  border-bottom: 3px solid #25A6D9;
}

ons-list.list {
  .ons-list-menu {
    background: rgba(238, 238, 238, 0.67);

    i.fa, span.icon {
      color: gray;
    }

    color: rgba(68, 68, 68, 0.86);
  }
}

.toggle-all {
  text-align: center;
  padding: 4px;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-justify {
  text-align: justify;
}

.size-s, span.size-s {
  font-size: 13px;
}

.size-m, span.size-m {
  font-size: 15px;
}

.size-l, span.size-l {
  font-size: 17px;
}

i.size-s, ons-icon.size-s, span.fa.size-s {
  font-size: $base-num;
}

i.size-sm, ons-icon.size-sm, span.fa.size-sm {
  font-size: 1.5*$base-num;
}

i.size-m, ons-icon.size-m, span.fa.size-m {
  font-size: 2*$base-num;
}

i.size-ml, ons-icon.size-ml, span.fa.size-ml {
  font-size: 2.5*$base-num;
}

i.size-l, ons-icon.size-l, span.fa.size-l {
  font-size: 3*$base-num;
}
