* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


html, body {
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
	font-size: 14px;
}

input, textarea {
  display: block;
  width: 100%;
}

/* Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3. */
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section, summary {
	display: block;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}