.list-item-input {
  position: relative;

  span.icon, span.fa {
    position: absolute;
    z-index: 110;
    top: 0.6em;
    right: 0.5em;
    color: $color-text-on-light-bg;
    opacity:0.2
  }
}

.disableBtn {
  position: absolute;
  //background: red;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: -1;

  &.active {
    z-index: 1;
  }
}

util-list {
  display: block;
  background: white;
  overflow-x: auto;
  border: 1px solid #ddd;
  border-radius: 4px;

  row {
    display: block;
    position: relative;
    z-index: 110;
    padding: 0.5em;
    overflow: auto;
    width: 100%;

    &:not(:last-child) {
      border-bottom: 1px solid #ddd;
    }

    .list-item-input span.icon {
      top: 0;
      right: 0;
    }

    .icon-container {
      position: absolute;
      top: 0;
      right: 0;

      overflow: auto;

      span.icon, .fa {
        position: initial;
        float:right;

        margin-right: 8px;

        &:first-child {
          margin-right: 0;
        }
      }
    }
  }

  label {
    font-weight: 500;
    line-height: 16px;
    font-size: 15px;
    margin-bottom: 6px;
  }

  p {
    line-height: 1.2;
    font-size: 13px;
    margin: 0.3em 0 0.3em 0;
  }
}

.tap-area {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.read-more {
  overflow: auto;

  i {
    color: #208fbb;
  }

  button {
    float: right;
  }

  .cont-icon-left {
    margin-left: -12px;
  }
}

.show-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ons-list-item.menu-item.highlighted {
  background-color: #06a13f;
}

// Aspect Ratio Box
.aspect-ratio-box {
  position: relative;
  width: 100%; /* desired width */

  &:before {
    content: "";
    display: block;
    padding-top: 100%; /* initial ratio of 1:1*/
  }

  & > * {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &.aspect-ratio-1-1:before {
    padding-top: 100%;
  }

  &.aspect-ratio-2-1:before {
    padding-top: 50%;
  }

  &.aspect-ratio-1-2:before {
    padding-top: 200%;
  }

  &.aspect-ratio-4-3:before {
    padding-top: 75%;
  }

  &.aspect-ratio-16-9:before {
    padding-top: 56.25%;
  }
}

.fa-flag {
  &.p1 {
    color: #208fbb;
  }

  &.p2 {
    color: #ffd700;
  }

  &.p3 {
    color: #ff8500;
  }

  &.p4 {
    color: #f00;
  }
}