<section class="content page-about" xmlns="http://www.w3.org/1999/html">
  <div class="grid-whole padded">
    <div class="grid-whole padded-sides">
      <h5 class="margin-ver">You can follow us on:</h5>

      <div class="cont-icon-left">
        <i class="fa fa-twitter stick-to-middle"></i>
        <div class="stage">
          <a href="https://twitter.com/entrdivision" target="_blank">Twitter.com/EntrDivision</a>
        </div>
      </div>

      <div class="cont-icon-left">
        <i class="fa fa-facebook stick-to-middle"></i>
        <div class="stage">
          <a href="https://www.facebook.com/entrepreneurdivision/" target="_blank">Facebook.com/EntrepreneurDivision</a>
        </div>
      </div>

      <div class="cont-icon-left">
        <i class="fa fa-globe stick-to-middle"></i>
        <div class="stage">
          <a href="http://entrepreneurdivision.com" target="_blank">www.entrepreneurdivision.com</a>
        </div>
      </div>

      <h5 class="margin-ver">App is inspirited by</h5>
      <div class="cont-icon-left">
        <i class="fa fa-book stick-to-middle"></i>
        <div class="stage">
          <a href="http://www.amazon.com/The-4-Hour-Workweek-Escape-Anywhere/dp/0307465357" target="_blank">The 4-Hour Work Week | by Timothy Ferriss</a>
        </div>
      </div>
      <div class="cont-icon-left">
        <i class="fa fa-book stick-to-middle"></i>
        <div class="stage">
          <a href="http://www.amazon.com/Entrepreneur-Revolution-develop-entrepreneurial-business/dp/085708416X" target="_blank">Entrepreneur Revolution | by Daniel Priestley</a>
        </div>
      </div>
      <div class="cont-icon-left">
        <i class="fa fa-book stick-to-middle"></i>
        <div class="stage">
          <a href="http://www.amazon.com/The-Obstacle-Is-Way-Timeless/dp/1591846358" target="_blank">Obstacle Is the Way | by Ryan Holiday</a>
        </div>
      </div>
      <div class="cont-icon-left">
        <i class="fa fa-book stick-to-middle"></i>
        <div class="stage">
          <a href="http://www.amazon.com/Outliers-Story-Success-Malcolm-Gladwell/dp/0316017930" target="_blank">Outliers | by Malcolm Gladwell</a>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="grid-whole padded">
  <a class="pure-button pure-button"
     ui-sref="home"
          >Back</a>
</footer>