step-date-and-time {
  span {
    font-size: 13px;
  }

  .date-and-time-spent {
    overflow: auto;
  }

  .display-start-date {
    float: left;
  }

  .display-time-elapsed {
    font-size: 13px;
    float: right;
  }

  .passive {
    color: gray;
    font-style: italic;
  }
}