track-time-archive-list {
  color: gray;
  font-size: 13px;

  .date-start {
    margin-left: 11px;
  }

  input {
    width: 48px;
    display: inline;
  }

  .list-item {
    overflow: auto;
  }

  .fa.fa-archive {
    font-size: 13px;
    line-height: 20px;
  }
}