<div class="date-and-time-spent padding-bottom"
     ng-if="mStep.timestampStart != '-1'"
>
  <span class="display-start-date padding-top">
    <i class="fa fa-calendar"></i>
    <span class="padding-left-xs"
          ng-class="{'passive': mStep.status !== 'inProgress'}"
    >
      {{formatDate(mStep.timestampStart)}}
    </span>
  </span>
  <div class="display-time-elapsed padding-top">
    <!-- 'aaaaaaa' below somehow creates a scope per iterator -->
    <i class="fa fa-archive"
       ng-if="mStep.status !== 'aaaaaaa' && isVisibleArchiveIcon()"
       ng-click="$parent.$parent.$parent.isVisible = !$parent.$parent.$parent.isVisible"
    ></i>

    <i class="fa fa-clock-o margin-left-xxs"
       ng-click="pauseResume()"></i>

    <span ng-class="{'passive': mStep.status !== 'inProgress'}"
          ng-click="pauseResume()">{{formatTime(clockText)}}</span>

    <i class="fa fa-pause"
       ng-if="isTracking()"
       ng-click="pauseResume()"></i>
    <i class="fa fa-play"
       ng-if="!isTracking()"
       ng-click="pauseResume()"></i>
  </div>
</div>