<div>
  <div ng-repeat="trackRecord in trackTimeService.getTrackRecordListByStepId(mStep.id) | orderBy: '-timeStart'"
       class="list-item"
  >
    <i class="fa fa-archive float-left"></i>
    <span class="float-left date-start">
      {{formatDate(trackRecord.timeStart)}}
    </span>
    <div class="float-right">
      <!-- Hack to get the value equal to hours-->
      <input type="text"
             class="margin-left-s"
             ng-model="inputVal"
             ng-init="inputVal=convertToHours(getDiff(trackRecord))"
             ng-model="value"
             ng-blur="update(inputVal, trackRecord, mStep)"
      >
      hours
    </div>
  </div>
</div>