<section class="content page-definition">
  <div class="grid-whole padded-inner">
    <div class="description">
      <img src="image/coach-head.png"/>
      <span>Define your project on a high level. Don’t go too deep this time — few sentences only.</span>
    </div>
    <util-list>
      <row>
        <input type="text"
               placeholder="Title of the project"
               class="text-input--transparent"
               ng-model="model.mUserGoal.name"
               ng-blur="model.cUserGoal.check()"
                />
      </row>
      <row>
        <textarea elastic
                  class="textarea textarea--transparent"
                  rows="4"
                  placeholder="Short description of the project"
                  ng-model="model.mUserGoal.description"
                  ng-blur="model.cUserGoal.check()"
                >High Level Definition</textarea>
      </row>
    </util-list>
  </div>

  <div class="grid-whole pusher-bottom"></div>
</section>
<footer class="grid-whole padded">
  <a ui-sref="add-new-goal.listStep"
     class="pure-button pure-button-primary"
     ng-if="!isStatusEditing">Next</a>
  <a class="pure-button pure-button-primary"
     ng-if="isStatusEditing"
     ng-click="goBack()"
  >Done</a>
</footer>