<section class="content page-steps">
  <div class="grid-whole padded-inner">
    <div class="description">
      <img src="image/coach-head.png"/>
      <span>Your project is probably more complex than a single item on a to-do list. Put down how you are going to execute it step-by-step.</span>
    </div>

    <util-list class="push-s">
      <row ng-repeat="step in model.mEpicRoot.cStep.JSON | orderBy: 'idOrder'">
        <div class="list-item-input">
          <label>{{$index+1}}. Step</label>
          <textarea elastic
                    rows="1"
                    class="textarea textarea--transparent"
                    placeholder="Describe it here."
                    ng-model="step.description"
                    ng-blur="model.mEpicRoot.cStep.check()"
          ></textarea>
          <div class="icon-container">
            <span class="icon icon-bin" ng-click="removeStep(step.id)"></span>
            <span class="fa fa-arrow-circle-up" ng-click="moveUp(step.id)"></span>
            <span class="fa fa-arrow-circle-down" ng-click="moveDown(step.id)"></span>
          </div>
        </div>
      </row>
    </util-list>

    <div>
      <button class="button--large--cta" ng-click="addEmptyStep()">Add More Steps</button>
    </div>

  </div>
  <div class="grid-whole pusher-bottom"></div>
</section>
<footer class="grid-whole padded">
  <a ui-sref="add-new-goal.definition" class="pure-button pure-button-secondary">Back</a>
  <a ng-click="goToUserGoalDetail(model.mUserGoal.id)" class="pure-button pure-button-primary">Finish</a>
</footer>