<section class="content page-introduction">
  <div class="grid-whole padded-inner"
       ng-if="unrelatedNoteList.length">
    <quote class="push-xs"
           c-note="cNote"
           id-quote="25"
           time="time"></quote>
    <p>
      First, select ideas that you would like to turn into a project. No problem if you don’t have any.
    </p>

    <ons-list class="note-list">
      <ons-list-item class="plan" ng-repeat="mNote in unrelatedNoteList | orderBy: '-timestamp'">
        <ons-row ng-class="{selected: isSelected(mNote.id)}">
          <ons-col width="6px" class="plan-center">
            <div class="bar"
                 ng-style="{backgroundColor: '#3399ff'}"
            ></div>
          </ons-col>

          <ons-col class="plan-right">
            <div class="plan-name">{{mNote.name}}</div>

            <div class="cont-icon-left">
              <ons-icon icon="ion-android-note align"></ons-icon>
              <div class="stage note-info">
                {{html2text(mNote.description)}}
              </div>
            </div>

            <div class="tap-area"
                 ng-click="selectNote(mNote.id)"
            ></div>
          </ons-col>
        </ons-row>
      </ons-list-item>
    </ons-list>
  </div>

  <div class="grid-whole padded center"
       ng-if="unrelatedNoteList.length">
    <a class="button--large--cta"
       ng-click="createNewGoal()"
    >Let’s Get Started!</a>
  </div>
  <div class="psuher-bottom"></div>
</section>

<footer class="grid-whole padded">
  <a class="pure-button pure-button"
     ui-sref="home"
  >Back</a>
  <a class="pure-button pure-button-primary"
     ng-click="createNewGoal()"
  >Start</a>
</footer>