<section class="content page-list-timeframe">
  <div class="grid-whole padded-inner">

    <div class="cont-icon-left-l push-s">
      <i class="fa fa-calendar"></i>
      <div class="stage">
        <div class="quote">
          "We are what we repeatedly do."</br>
          - Will Durant
        </div>
      </div>
    </div>

    <p>
      Think about your daily routines and block out the time frames when you are actively working on your project. If you don’t block out time now, you always gonna have something more important to do.</br>
      Define the place as well, where you can focus on your project. You need to separate your environments! If you work on your goal at home, rest assured you will be interrupted, or you will find something else that you forgot and needs to be done very quickly of course.
    </p>

    <!--<div class="read-more">-->
      <!--<button class="pure-button"-->
              <!--ng-click="addEmptyTimeAndLocation()"-->
              <!--ui-sref="concept-timeframe"-->
      <!--&gt;-->
        <!--<div class="cont-icon-left">-->
          <!--<i class="fa fa-book"></i>-->
          <!--<div class="stage">-->
            <!--Read more-->
          <!--</div>-->
        <!--</div>-->
      <!--</button>-->
    <!--</div>-->

    <util-list class="list-time-and-location margin-ver-s">
      <row ng-repeat="mTimeAndLocation in model.cTimeAndLocation.JSON">
        <div class="list-item-input">
          <label>From</label>
          <time   model-hour="mTimeAndLocation.fromHour"
                  model-min="mTimeAndLocation.fromMin"
                  callback="model.cTimeAndLocation.check()"
          ></time>
          <label>&nbsp;&nbsp;To</label>
          <time   model-hour="mTimeAndLocation.toHour"
                  model-min="mTimeAndLocation.toMin"
                  callback="model.cTimeAndLocation.check()"
                  ></time>
          <span class="icon icon-bin" ng-click="removeTimeAndLocation(mTimeAndLocation.id)"></span>
        </div>
        <div>
          <ng-select  class="day"
                      options="['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']"
                      selected="mTimeAndLocation.day"
                      callback="model.cTimeAndLocation.check()"
          ></ng-select>
        </div>
        <div>
          <textarea elastic
                    class="textarea"
                    rows="1"
                    placeholder="Place to execute your project.."
                    ng-model="mTimeAndLocation.location"
                    ng-blur="model.cTimeAndLocation.check()"
          ></textarea>
        </div>
      </row>
    </util-list>

    <div class="grid-whole">
      <button class="button--large--cta"
              ng-click="addEmptyTimeAndLocation()"
      >Add New Time & Place</button>
    </div>
  </div>
  <div class="grid-whole pusher-bottom"></div>
</section>
<footer class="grid-whole padded">
  <a class="pure-button pure-button"
     ng-click="goToUserGoalDetail(model.mUserGoal.id)"
  >Back</a>
  <a  class="pure-button pure-button-primary"
      ng-click="goToUserGoalDetail(model.mUserGoal.id)"
  >Done</a>
</footer>