<section class="content page-steps-detailed">
  <div class="menu-main padding-hor-s menu-main padding-ver-xs">
    <i  class="fa float-right size-sm"
        ng-class="{'fa-check-square': isVisibleStepDone, 'fa-check-square-o': !isVisibleStepDone}"
        ng-click="toggleShowStepDone()"></i>

    <i  class="fa float-right size-sm margin-hor-s"
        ng-class="{'fa-flag': sortOrder === '-priority', 'fa-flag-o': sortOrder !== '-priority'}"
        ng-click="toggleStepSortOrderByPriority()"></i>
  </div>
  <div class="grid-whole padded-inner">
    <util-list class="push-xs root-step-list">
      <row ng-repeat="step in model.mEpicRoot.cStep.JSON | orderBy:sortOrder"
           ng-class="{'selected': isSelected, 'in-progress': step.status == 'inProgress', 'done': step.status == 'done'}"
           id-location="step-{{step.id}}"
           ng-if="step.status !== 'done' || isVisibleStepDone"
      >
        <div class="menu-step push"
             ng-if="isVisibleMenuStep">
          <span class="fa fa-clock-o"
                ng-show="step.status === 'backlog' || step.status === 'blocked'"
                ng-click="setStatusStep(step, 'inProgress', this, model.mEpicRoot.cStep)"></span>
          <span class="fa fa-check-square"
                ng-show="step.status === 'inProgress'"
                ng-click="setStatusStep(step, 'done', this, model.mEpicRoot.cStep)"></span>
          <span class="fa fa-ban"
                ng-show="step.status === 'inProgress'"
                ng-click="setStatusStep(step, 'blocked', this, model.mEpicRoot.cStep)"></span>
          <span class="fa fa-undo stick-to-middle"
                ng-show="step.status === 'inProgress'"
                ng-click="setStatusStep(step, 'backlog', this, model.mEpicRoot.cStep)"></span>
          <span class="fa fa-undo stick-to-middle"
                ng-show="step.status === 'done'"
                ng-click="setStatusStep(step, 'inProgress', this, this, model.mEpicRoot.cStep)"></span>
          <span class="fa fa-plus-circle" ng-click="addEmptyStep($parent.mEpic, this, step.idOrder)"></span>
          <span class="fa fa-arrow-circle-down" ng-click="moveDown(step.id, $parent.model.mEpicRoot)"></span>
          <span class="fa fa-arrow-circle-up" ng-click="moveUp(step.id, $parent.model.mEpicRoot)"></span>
          <span class="icon icon-bin"
                ng-show="step.status !== 'inProgress'"
                ng-click="removeStep(step.id, $parent.model.mEpicRoot)"></span>
          <span class="fa fa-cut" ng-click="selectStepToMove(step, $parent, model.mEpicRoot.cStep)"></span>
          <span class="fa fa-money" ng-click="addCost($parent, step)"></span>
          <span class="fa fa-birthday-cake" ng-click="addReward($parent, step)"></span>
        </div>
        <div class="list-item-input topic">
          <div class="extra">
            <label>{{($index+1)}}. Step</label>
            <div class="priority margin-right-m">
              <i class="fa fa-flag"
                 ng-class="{'p1': step.priority > 0, 'p2': step.priority > 1, 'p3': step.priority > 2, 'p4': step.priority > 3}"
                 ng-click="setPriority(step, $parent.model.mEpicRoot.cStep)"></i>
            </div>
            <div class="complexity margin-right-xs">
              <i class="fa fa-star-o"
                 ng-show="step.complexity < 4"
                 ng-click="setComplexity(step, 4, $parent.model.mEpicRoot.cStep)"></i>
              <i class="fa fa-star-o"
                 ng-show="step.complexity < 3"
                 ng-click="setComplexity(step, 3, $parent.model.mEpicRoot.cStep)"></i>
              <i class="fa fa-star-o"
                 ng-show="step.complexity < 2"
                 ng-click="setComplexity(step, 2, $parent.model.mEpicRoot.cStep)"></i>
              <i class="fa fa-star-o"
                 ng-show="step.complexity < 1"
                 ng-click="setComplexity(step, 1, $parent.model.mEpicRoot.cStep)"></i>

              <i class="fa fa-star red"
                 ng-show="step.complexity > 3"
                 ng-click="setComplexity(step, 4, $parent.model.mEpicRoot.cStep)"></i>
              <i class="fa fa-star"
                 ng-show="step.complexity > 2"
                 ng-click="setComplexity(step, 3, $parent.model.mEpicRoot.cStep)"></i>
              <i class="fa fa-star"
                 ng-show="step.complexity > 1"
                 ng-click="setComplexity(step, 2, $parent.model.mEpicRoot.cStep)"></i>
              <i class="fa fa-star"
                 ng-show="step.complexity > 0"
                 ng-click="setComplexity(step, 1, $parent.model.mEpicRoot.cStep)"></i>
            </div>
          </div>
          <div class="cont-icon-left-s">
            <i class="fa fa-paw status margin-ver-xxs"
               ng-show="step.status === 'backlog'"></i>
            <i class="fa fa-ban status margin-ver-xxs"
               ng-show="step.status === 'blocked'"></i>
            <i class="fa fa-clock-o status margin-ver-xxs"
               ng-show="step.status === 'inProgress'"></i>
            <i class="fa fa-check-square status margin-ver-xxs"
               ng-show="step.status === 'done'"></i>
            <div class="stage">
              <textarea elastic
                        rows="1"
                        class="textarea textarea--transparent"
                        placeholder="Describe Step here.."
                        ng-model="step.description"
                        ng-blur="model.mEpicRoot.cStep.check()"
              ></textarea>
            </div>
          </div>
          <div class="cont-icon-left-s"
               ng-if="step.reward || isVisibleReward">
            <i class="fa fa-birthday-cake margin-ver-xxs"></i>
            <div class="stage">
              <textarea elastic
                        rows="1"
                        class="textarea textarea--transparent"
                        placeholder="Put down your reward here.."
                        ng-model="step.reward"
                        ng-blur="model.mEpicRoot.cStep.check()"
              ></textarea>
            </div>
          </div>
          <div class="cont-icon-left-s"
               ng-if="step.cost !== '' || isVisibleCost">
            <i class="fa fa-money margin-ver-xxs"></i>
            <div class="stage">
                      <textarea elastic
                                rows="1"
                                class="textarea textarea--transparent"
                                placeholder="Put down cost (if any here).."
                                ng-model="step.cost"
                                ng-blur="model.mEpicRoot.cStep.check()"
                      ></textarea>
            </div>
          </div>
          <step-date-and-time  m-step="step"
                               c-step="model.mEpicRoot.cStep"
                               track-time-service="trackTimeService"
          ></step-date-and-time>
          <track-time-archive-list m-step="step"
                                   c-step="$parent.$parent.model.mEpicRoot.cStep"
                                   track-time-service="trackTimeService"
                                   ng-if="isVisible"
          ></track-time-archive-list>
          <div class="icon-container push">
            <span class="fa fa-ellipsis-h" ng-click="isVisibleMenuStep = !isVisibleMenuStep"></span>
          </div>
        </div>
      </row>
      <row class="text-center">
        <i class="fa fa-plus-circle size-m"
           ng-click="addEmptyStep()"></i>
      </row>
    </util-list>

    <util-list class="topic-list margin-ver"
               ng-if="model.mUserGoal.cEpic.JSON.length > 1">
      <row ng-repeat="mEpic in model.mUserGoal.cEpic.JSON | orderBy: 'idOrder'"
           ng-if="mEpic.type !== 'root'"
           id-location="epic-{{mEpic.id}}"
      >
        <div class="menu-step push"
             ng-if="isVisibleMenuEpic">
          <span class="fa fa-plus-circle" ng-click="addEmptyEpic(this, mEpic.idOrder)"></span>
          <span class="fa fa-arrow-circle-down" ng-click="moveDownEpic(mEpic.id)"></span>
          <span class="fa fa-arrow-circle-up" ng-click="moveUpEpic(mEpic.id)"></span>
          <span class="icon icon-bin" ng-click="removeEpic(mEpic.id)"></span>
          <span class="fa fa-paste" ng-click="moveStepToTopic($parent)"></span>
        </div>
        <div class="list-item-input topic">
          <div class="cont-icon-left">
            <i class="fa fa-th-list stick-to-middle"></i>
            <div class="stage">
              <textarea elastic
                        rows="1"
                        class="textarea textarea--transparent"
                        placeholder="Describe Topic here.."
                        ng-model="mEpic.description"
                        ng-blur="model.mUserGoal.cEpic.check()"
              ></textarea>
            </div>
          </div>
          <div class="icon-container">
            <span class="fa fa-ellipsis-h" ng-click="isVisibleMenuEpic = !isVisibleMenuEpic"></span>
          </div>
        </div>

        <div>
          <util-list class="step-list push-xs">
            <row ng-repeat="step in mEpic.cStep.JSON | orderBy:sortOrder"
                 ng-class="{'selected': isSelected, 'in-progress': step.status == 'inProgress', 'done': step.status == 'done'}"
                 ng-if="step.status !== 'done' || isVisibleStepDone"
                 id-location="step-{{step.id}}"
            >
              <div class="menu-step push"
                   ng-if="isVisibleMenuStep">
                <span class="fa fa-clock-o"
                      ng-show="step.status === 'backlog' || step.status === 'blocked'"
                      ng-click="setStatusStep(step, 'inProgress', this, mEpic.cStep)"></span>
                <span class="fa fa-check-square"
                      ng-show="step.status === 'inProgress'"
                      ng-click="setStatusStep(step, 'done', this, mEpic.cStep)"></span>
                <span class="fa fa-ban"
                      ng-show="step.status === 'inProgress'"
                      ng-click="setStatusStep(step, 'blocked', this, mEpic.cStep)"></span>
                <span class="fa fa-undo stick-to-middle"
                      ng-show="step.status === 'inProgress'"
                      ng-click="setStatusStep(step, 'backlog', this, mEpic.cStep)"></span>
                <span class="fa fa-undo stick-to-middle"
                      ng-show="step.status === 'done'"
                      ng-click="setStatusStep(step, 'inProgress', this, mEpic.cStep)"></span>
                <span class="fa fa-plus-circle" ng-click="addEmptyStep($parent.mEpic, this, step.idOrder)"></span>
                <span class="fa fa-arrow-circle-down" ng-click="moveDown(step.id, $parent.mEpic)"></span>
                <span class="fa fa-arrow-circle-up" ng-click="moveUp(step.id, $parent.mEpic)"></span>
                <span class="icon icon-bin"
                      ng-show="step.status !== 'inProgress'"
                      ng-click="removeStep(step.id, $parent.mEpic)"></span>
                <span class="fa fa-cut" ng-click="selectStepToMove(step, $parent, $parent.mEpic.cStep)"></span>
                <span class="fa fa-money" ng-click="addCost($parent, step)"></span>
                <span class="fa fa-birthday-cake" ng-click="addReward($parent, step)"></span>
              </div>
              <div class="list-item-input">
                <div class="extra">
                  <label>{{($index+1)}}. Step</label>
                  <div class="priority margin-right-m">
                    <i class="fa fa-flag"
                       ng-class="{'p1': step.priority > 0, 'p2': step.priority > 1, 'p3': step.priority > 2, 'p4': step.priority > 3}"
                       ng-click="setPriority(step, $parent.mEpic.cStep)"></i>
                  </div>
                  <div class="complexity margin-right-s">
                    <i class="fa fa-star-o"
                       ng-show="step.complexity < 4"
                       ng-click="setComplexity(step, 4, $parent.mEpic.cStep)"></i>
                    <i class="fa fa-star-o"
                       ng-show="step.complexity < 3"
                       ng-click="setComplexity(step, 3, $parent.mEpic.cStep)"></i>
                    <i class="fa fa-star-o"
                       ng-show="step.complexity < 2"
                       ng-click="setComplexity(step, 2, $parent.mEpic.cStep)"></i>
                    <i class="fa fa-star-o"
                       ng-show="step.complexity < 1"
                       ng-click="setComplexity(step, 1, $parent.mEpic.cStep)"></i>

                    <i class="fa fa-star red"
                       ng-show="step.complexity > 3"
                       ng-click="setComplexity(step, 4, $parent.mEpic.cStep)"></i>
                    <i class="fa fa-star"
                       ng-show="step.complexity > 2"
                       ng-click="setComplexity(step, 3, $parent.mEpic.cStep)"></i>
                    <i class="fa fa-star"
                       ng-show="step.complexity > 1"
                       ng-click="setComplexity(step, 2, $parent.mEpic.cStep)"></i>
                    <i class="fa fa-star"
                       ng-show="step.complexity > 0"
                       ng-click="setComplexity(step, 1, $parent.mEpic.cStep)"></i>
                  </div>
                </div>
                <div class="stage step">
                  <div class="cont-icon-left-s">
                    <i class="fa fa-paw status margin-ver-xxs"
                       ng-show="step.status === 'backlog'"></i>
                    <i class="fa fa-ban status margin-ver-xxs"
                       ng-show="step.status === 'blocked'"></i>
                    <i class="fa fa-clock-o status margin-ver-xxs"
                       ng-show="step.status === 'inProgress'"></i>
                    <i class="fa fa-check-square status margin-ver-xxs"
                       ng-show="step.status === 'done'"></i>
                    <div class="stage">
                      <textarea elastic
                                rows="1"
                                class="textarea textarea--transparent"
                                placeholder="Describe Step here.."
                                ng-model="step.description"
                                ng-blur="$parent.mEpic.cStep.check()"
                      ></textarea>
                    </div>
                  </div>
                  <div class="cont-icon-left-s"
                       ng-if="step.reward || isVisibleReward">
                    <i class="fa fa-birthday-cake margin-ver-xxs"></i>
                    <div class="stage">
                      <textarea elastic
                                rows="1"
                                class="textarea textarea--transparent"
                                placeholder="Put down your reward here.."
                                ng-model="step.reward"
                                ng-blur="$parent.mEpic.cStep.check()"
                      ></textarea>
                    </div>
                  </div>
                  <div class="cont-icon-left-s"
                       ng-if="step.cost !== '' || isVisibleCost">
                    <i class="fa fa-money margin-ver-xxs"></i>
                    <div class="stage">
                      <textarea elastic
                                rows="1"
                                class="textarea textarea--transparent"
                                placeholder="Put down cost (if any here).."
                                ng-model="step.cost"
                                ng-blur="$parent.mEpic.cStep.check()"
                      ></textarea>
                    </div>
                  </div>
                </div>
                <step-date-and-time  m-step="step"
                                     c-step="mEpic.cStep"
                                     track-time-service="trackTimeService"
                ></step-date-and-time>
                <track-time-archive-list m-step="step"
                                         c-step="$parent.$parent.$parent.mEpic.cStep"
                                         track-time-service="trackTimeService"
                                         ng-if="isVisible"
                ></track-time-archive-list>
                <div class="icon-container">
                  <span class="fa fa-ellipsis-h" ng-click="isVisibleMenuStep = !isVisibleMenuStep"></span>
                </div>
              </div>
              <div class="menu-step text-center"
                   ng-show="($index + 1) === $parent.$parent.mEpic.cStep.JSON.length">
                <i class="fa fa-plus-circle size-m"
                   ng-click="addEmptyStep($parent.mEpic, this, step.idOrder, 'below')"></i>
              </div>
            </row>
          </util-list>
        </div>
      </row>
    </util-list>

    <div class="main-menu">
      <button class="button--large--cta" ng-click="addEmptyEpic(this)">
        <span class="fa fa-th-list"></span>
        Add Topic
      </button>
    </div>

  </div>
  <div class="grid-whole pusher-bottom"></div>
</section>
<footer class="grid-whole padded">
  <a ng-click="goToUserGoalDetail(model.mUserGoal.id)" class="pure-button pure-button-primary">Finish</a>
</footer>