<section class="content page-reason">
  <div class="grid-whole padded-inner">
    <div class="cont-icon-left-l push-s">
      <i class="fa fa-fire"></i>
      <div class="stage">
        <div class="quote">
          "In the lower state of energy you will doubt everything." - Tony Robbins
        </div>
      </div>
    </div>

    <p>
        Sometimes you need a bit of inspiration to put you back on the right track. Why do you have this project? What do you want to change or what do you fear will happen unless you change something? What positive impact your project can have on your future? Try to come up with more positive reasons than negative. Think about what it’s like when you achieve your goal and put these thoughts and reasons down here. When you doubt yourself, this will get inspirited!
    </p>

    <!--<div class="read-more">-->
      <!--<button class="pure-button"-->
              <!--ng-click="addEmptyTimeAndLocation()"-->
              <!--ui-sref="concept-reasons"-->
          <!--&gt;-->
        <!--<div class="cont-icon-left">-->
          <!--<i class="fa fa-book"></i>-->
          <!--<div class="stage">-->
            <!--Read more-->
          <!--</div>-->
        <!--</div>-->
      <!--</button>-->
    <!--</div>-->

    <util-list class=" margin-ver-s">
      <row ng-repeat="reason in model.mUserGoal.cReason.JSON">
        <div class="list-item-input">
          <label>{{$index + 1}}. Reason</label>
          <textarea elastic
                    rows="1"
                    class="textarea textarea--transparent"
                    placeholder="Put down your reason here.."
                    ng-model="reason.description"
                    ng-blur="model.mUserGoal.cReason.check()"
                  ></textarea>
          <span class="icon icon-bin" ng-click="removeReason(reason.id)"></span>
        </div>
      </row>
    </util-list>

    <div class="grid-whole">
      <button class="button--large--cta" ng-click="addEmptyReason()">Add More Reason</button>
    </div>
  </div>

  <div class="grid-whole pusher-bottom"></div>
</section>
<footer class="grid-whole padded">
  <a class="pure-button pure-button"
     ng-click="goToUserGoalDetail(model.mUserGoal.id)"
  >Back</a>
  <a class="pure-button pure-button-primary"
     ng-click="goToUserGoalDetail(model.mUserGoal.id)"
  >Done</a>
</footer>